.sage-banner {
  border-top: 4px solid;
  padding: $sage-spacing;
  background: sage-color(gray, 200);
  border-bottom-left-radius: $sage-border-radius;
  border-bottom-left-radius: $sage-border-radius;
  box-shadow: $sage-shadow-md;
  margin-bottom: $sage-spacing;
  &__title { 
    color: sage-color(gray, 900);
    font-weight: $sage-font-weight-semibold;
    margin-bottom: 0;
  }
  &__copy {
    font-size: $sage-font-size-sm;
    margin-bottom: 0;
  }
  @each $name, $color in $sage-colors {
    &--#{$name} {
      @extend .sage-banner;
      border-color: sage-color($name);
      background: sage-color($name, 200);
      .sage-banner {
        &__title { 
          color: sage-color($name, 900);
        }
        &__copy {
          color: sage-color($name, 800);
        }
      }
    }
  }
}
