@mixin sage-banner-color($name, $color) {
  &--#{$name} {
    @extend .sage-banner;
    border-color: sage-color($color);
    background: sage-color($color, 100);
    .sage-banner {
      &__title { 
        color: sage-color($color, 500);
      }
      &__copy {
        color: sage-color($color, 400);
      }
    }
  }
}
.sage-banner {
  border-top: 4px solid;
  padding: sage-spacing();
  background: sage-color(gray, 200);
  border-bottom-left-radius: sage-border(radius);
  border-bottom-left-radius: sage-border(radius);
  box-shadow: sage-shadow();
  margin-bottom: sage-spacing();
  &__title { 
    color: sage-color(charcoal, 500);
    font-weight: sage-font-weight(simibold);
    margin-bottom: 0;
  }
  &__copy {
    font-size: sage-font-size(sm);
    margin-bottom: 0;
  }
  @include sage-banner-color(primary, primary);
  @include sage-banner-color(success, sage);
  @include sage-banner-color(warning, yellow);
  @include sage-banner-color(danger, red);
}
