.sage-panel {
  background: #ffffff;
  padding: sage-spacing(lg);
  border-radius: sage-border(radius);
  box-shadow: sage-shadow(sm);
  margin-bottom: sage-spacing();
  &__img {
    display: block;
    max-width: 100%;
    margin-bottom: sage-spacing();
  }
  > :last-child {
    margin-bottom: 0;
  }
}