<div class="sage-assistant">
  <img class="sage-assistant__branding" src="#" alt="Logo">
  <div class="sage-assistant__body">
    <div class="sage-container--sm">
      <input type="text" class="sage-assistant__search" placeholder="Search...">
    </div>
  </div>
  <div class="sage-assistant__actions"></div>
</div>