<!-- Primary button -->
<button class="sage-btn--primary">Primary Button</button>
<!-- Primary button (link) -->
<a href="#" class="sage-btn--primary">Primary (link)</a>
<br>

<!-- Primary button disabled -->
<button class="sage-btn--primary" disabled>Primary (disabled)</button>
<!-- Primary button (link) disabled -->
<a href="#" class="sage-btn--primary disabled" aria-disabled="true">Primary (link, disabled)</a>
<br>

<!-- Secondary button -->
<button class="sage-btn--secondary">Secondary Button</button>
<!-- Secondary button (link) -->
<a href="#" class="sage-btn--secondary" role="button">Secondary (link)</a>
<!-- Secondary button disabled -->
<br>

<button class="sage-btn--secondary" disabled>Secondary (disabled)</button>
<!-- Secondary button (link) disabled -->
<a href="#" class="sage-btn--secondary disabled" aria-disabled="true">Secondary (link, disabled)</a>
