<!-- Primary button -->
<button class="sage-btn sage-btn--primary">Primary Button</button>
<!-- Primary button (link) -->
<a href="#" class="sage-btn sage-btn--primary">Primary (link)</a>

<!-- Primary button -->
<button class="sage-btn sage-btn--primary sage-btn--icon-left-menu">Primary Icon Button</button>
<!-- Primary button (link) -->
<a href="#" class="sage-btn sage-btn--primary sage-btn--icon-left-menu">Primary Icon (link)</a>

<!-- Primary button -->
<button class="sage-btn sage-btn--primary sage-btn--icon-right-menu">Primary Icon Button</button>
<!-- Primary button (link) -->
<a href="#" class="sage-btn sage-btn--primary sage-btn--icon-right-menu">Primary Icon (link)</a>

<br>

<!-- Primary button disabled -->
<button class="sage-btn sage-btn--primary" disabled>Primary (disabled)</button>
<!-- Primary button (link) disabled -->
<a href="#" class="sage-btn sage-btn--primary disabled" aria-disabled="true">Primary (link, disabled)</a>

<!-- Primary button disabled -->
<button class="sage-btn sage-btn--primary sage-btn--icon-left-menu" disabled>Primary (disabled)</button>
<!-- Primary button (link) disabled -->
<a href="#" class="sage-btn sage-btn--primary sage-btn--icon-left-menu disabled" aria-disabled="true">Primary (link, disabled)</a>

<br>

<!-- Secondary button -->
<button class="sage-btn sage-btn--secondary">Secondary Button</button>
<!-- Secondary button (link) -->
<a href="#" class="sage-btn sage-btn--secondary" role="button">Secondary (link)</a>
<!-- Secondary button disabled -->

<!-- Secondary button -->
<button class="sage-btn sage-btn--secondary sage-btn--icon-left-menu">Secondary Button</button>
<!-- Secondary button (link) -->
<a href="#" class="sage-btn sage-btn--secondary sage-btn--icon-left-menu" role="button">Secondary (link)</a>
<!-- Secondary button disabled -->
<br>

<button class="sage-btn sage-btn--secondary" disabled>Secondary (disabled)</button>
<!-- Secondary button (link) disabled -->
<a href="#" class="sage-btn sage-btn--secondary disabled" aria-disabled="true">Secondary (link, disabled)</a>

<button class="sage-btn sage-btn--secondary sage-btn--icon-left-menu" disabled>Secondary (disabled)</button>
<!-- Secondary button (link) disabled -->
<a href="#" class="sage-btn sage-btn--secondary sage-btn--icon-left-menu disabled" aria-disabled="true">Secondary (link, disabled)</a>

<br>

<!-- Secondary button -->
<button class="sage-btn">Secondary Button</button>
<!-- Secondary button (link) -->
<a href="#" class="sage-btn" role="button">Secondary (link)</a>
<!-- Secondary button disabled -->

<!-- Secondary button -->
<button class="sage-btn sage-btn--icon-left-menu">Secondary Button</button>
<!-- Secondary button (link) -->
<a href="#" class="sage-btn sage-btn--icon-left-menu" role="button">Secondary (link)</a>
<!-- Secondary button disabled -->
<br>

<button class="sage-btn" disabled>Secondary (disabled)</button>
<!-- Secondary button (link) disabled -->
<a href="#" class="sage-btn disabled" aria-disabled="true">Secondary (link, disabled)</a>

<button class="sage-btn sage-btn--icon-left-menu" disabled>Secondary (disabled)</button>
<!-- Secondary button (link) disabled -->
<a href="#" class="sage-btn sage-btn--icon-left-menu disabled" aria-disabled="true">Secondary (link, disabled)</a>
