<h3 class="t-sage-heading-6">Primary</h3>

<!-- Primary button -->
<button class="sage-btn sage-btn--primary">Primary</button>
<!-- Primary button (link) -->
<a href="#" class="sage-btn sage-btn--primary">Primary Link</a>
<!-- Primary button (icon-left) -->
<button class="sage-btn sage-btn--primary sage-btn--icon-left-menu">Primary (icon-left)</button>
<!-- Primary button (icon-right) -->
<button class="sage-btn sage-btn--primary sage-btn--icon-right-add">Primary (icon-right)</button>

<br>

<!-- Primary button (disabled) -->
<button class="sage-btn sage-btn--primary" disabled>Primary</button>
<!-- Primary button link (disabled) -->
<a href="#" class="sage-btn sage-btn--primary disabled" aria-disabled="true">Primary Link</a>
<!-- Primary button (icon-left, disabled) -->
<button class="sage-btn sage-btn--primary sage-btn--icon-left-users" disabled>Primary (icon-left)</button>
<!-- Primary button (icon-right, disabled) -->
<button class="sage-btn sage-btn--primary sage-btn--icon-right-launch" disabled>Primary (icon-right)</button>

<h3 class="t-sage-heading-6">Secondary</h3>

<!-- Secondary button -->
<button class="sage-btn sage-btn--secondary">Secondary</button>
<!-- Secondary button (link) -->
<a href="#" class="sage-btn sage-btn--secondary" role="button">Secondary Link</a>
<!-- Secondary button (icon-left) -->
<button class="sage-btn sage-btn--secondary sage-btn--icon-left-gear">Secondary (icon-left)</button>
<!-- Secondary button (icon-right) -->
<button class="sage-btn sage-btn--secondary sage-btn--icon-right-search">Secondary (icon-right)</button>

<br>

<!-- Secondary button (disabled) -->
<button class="sage-btn sage-btn--secondary" disabled>Secondary</button>
<!-- Secondary button link (disabled) -->
<a href="#" class="sage-btn sage-btn--secondary disabled" aria-disabled="true">Secondary Link</a>
<!-- Secondary button (icon-left, disabled) -->
<button class="sage-btn sage-btn--secondary sage-btn--icon-left-send-message" disabled>Secondary (icon-left)</button>
<!-- Secondary button (icon-right, disabled) -->
<button class="sage-btn sage-btn--secondary sage-btn--icon-right-arrow-right" disabled>Secondary (icon-right)</button>

<h3 class="t-sage-heading-6">Tertiary</h3>

<!-- Tertiary button -->
<button class="sage-btn sage-btn--tertiary">Tertiary</button>
<!-- Tertiary button (link) -->
<a href="#" class="sage-btn sage-btn--tertiary" role="button">Tertiary Link</a>
<!-- Tertiary button (icon-left) -->
<button class="sage-btn sage-btn--tertiary sage-btn--icon-left-3-dot-menu">Tertiary (icon-left)</button>
<!-- Tertiary button (icon-right) -->
<button class="sage-btn sage-btn--tertiary sage-btn--icon-right-microphone">Tertiary (icon-right)</button>

<br>

<!-- Tertiary button disabled -->
<button class="sage-btn sage-btn--tertiary" disabled>Tertiary</button>
<!-- Tertiary button link (disabled) -->
<a href="#" class="sage-btn sage-btn--tertiary disabled" aria-disabled="true">Tertiary Link</a>
<!-- Tertiary button (icon-left, disabled) -->
<button class="sage-btn sage-btn--tertiary sage-btn--icon-left-comment" disabled>Tertiary (icon-left)</button>
<!-- Tertiary button (icon-right, disabled) -->
<button class="sage-btn sage-btn--tertiary sage-btn--icon-right-preview-off" disabled>Tertiary (icon-right)</button>
