  <h3 class="t-sage-heading-6">Responsive table</h3>
  <%= render "sage/examples/elements/table/markup",
    caption: "Responsive table requires two parent containers",
    striped: false
  %>
  <h3 class="t-sage-heading-6">Table with row striping</h3>
  <%= render "sage/examples/elements/table/markup",
    caption: "",
    striped: false
  %>