<tr>
  <td>Striped tables</td>
  <td>Adding the class `.sage-table--striped` gives a background color to odd rows</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>Responsive tables</td>
  <td>Allows the table to scroll horizontally without breaking its parent container. Requires the use of two containing elements: the parent with class `.sage-table-wrapper`, and a child with class `.sage-table-wrapper__overflow`</td>
  <td>String</td>
  <td>null</td>
</tr>
