<tr>
  <td>.sage-table--striped</td>
  <td>This class adds a background color to odd rows, making the content easier to read</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td>.sage-table--responsive</td>
  <td>Allows the table to scroll horizontally without breaking its parent container. Requires the use of two containing elements: a parent with class ".sage-table--responsive", and a child with class ".sage-table__wrapper".</td>
  <td>String</td>
  <td>null</td>
</tr>
