<ul>
  <li>Use the <code><caption></code> element to <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/caption" rel="nofollow">provide additional description to the table</a></li>
</ul>
