<%
colors = [
  "draft",
  "info",
  "success",
  "warning",
  "danger"
]
%>

<h5>Default</h5>
<% colors.each do | color | %>
  <%= render "examples/elements/label/markup",
  color: color
  %>
<% end %>

<h5>Subtle</h5>
<% colors.each do | color | %>
  <%= render "examples/elements/label/markup",
  color: color,
  type: "subtle"
  %>
<% end %>

<h5>Bold</h5>
<% colors.each do | color | %>
  <%= render "examples/elements/label/markup",
  color: color,
  type: "bold"
  %>
<% end %>
