<div class="sage-avatar-wrapper">
  <!-- Showing default -->
  <%= sage_component SageAvatar, { color: "", initials: "JC" } %>

  <!-- Showing color variation -->
  <%= sage_component SageAvatar, { color: "purple", initials: "PS" } %>

  <!-- Showing with ring color -->
  <%= sage_component SageAvatar, { color: "", initials: "CM" } %>

  <!-- Showing sample specific ring color -->
  <%= sage_component SageAvatar, { color: "orange", initials: "JJ" } %>
</div>
