<% 3.times do %>
  <%= sage_component SageCatalogCard, {
    title: "'Fun For All', The Children Call: Their Favorite Time Of Year",
    image: asset_pack_path("media/images/docs/card/card-placeholder-sm.png"),
    href: "#"
  } do %>
    <%= content_for :sage_info do %>
      <span class="sage-info sage-info--icon-comment">
        5 Golden Eggs
      </span>
      <span class="sage-info sage-info--icon-users">
        3 Geese A-Laying
      </span>
      <span class="sage-info sage-info--icon-coupon">
        1 Partridge In A Pear Tree
      </span>
    <% end %>
    <%= content_for :sage_actions do %>
      <span class="sage-label sage-label--draft">Draft</span>
    <% end %>
  <% end %>
<% end %>
