<div class="sage-row">
  <div class="sage-col--md-6 example__block--lg">
    <div class="sage-loading sage-loading--bar" data-loading="true"></div>
  </div>
  <div class="sage-col--md-6 example__block--lg">
    <div class="sage-loading sage-loading--spinner" data-loading="true"></div>
  </div>
</div>
