<%= content_for :heading do %>
  <h1><%= title %></h1>
<% end %>

<div class="sage-panel">
  <h3 class="example__title">Preview</h3>
  <div class="example__preview">
    <%= render "sage/examples/elements/#{title}/preview" %>
  </div>
</div>
<div class="sage-panel">
  <h3 class="example__title">Code</h3>
  <div class="example__code">
    <pre class="prettyprint"><code><%= CGI.unescapeHTML(CGI.escapeHTML render "sage/examples/elements/#{title}/preview") %></code></pre>
  </div>
</div>
