<!-- Default -->
<div class="sage-radio">
  <input id="r1" type="radio" class="sage-radio__input" name="radio1" value="1">
  <label for="r1" class="sage-radio__label">Option 1</label>
</div>
<div class="sage-radio">
  <input id="r2" type="radio" class="sage-radio__input" name="radio1" value="2">
  <label for="r2" class="sage-radio__label">Option 2</label>
</div>
<!-- Disabled -->
<div class="sage-radio">
  <input id="r3" type="radio" class="sage-radio__input" name="radio2" value="3" disabled>
  <label for="r3" class="sage-radio__label">Disabled</label>
</div>
<!-- Checked & Disabled -->
<div class="sage-radio">
  <input id="r4" type="radio" class="sage-radio__input" name="radio3" value="4" checked disabled>
  <label for="r4" class="sage-radio__label">Disabled and selected</label>
</div>
