<!-- Default -->
<div class="sage-radio">
  <input id="r1" type="radio" name="radio1" value="1">
  <label for="r1">Radio</label>
</div>
<!-- Disabled -->
<div class="sage-radio">
  <input id="r2" type="radio" name="radio2" value="2" disabled>
  <label for="r2">Radio disabled</label>
</div>
<!-- Checked & Disabled -->
<div class="sage-radio">
  <input id="r3" type="radio" name="radio3" value="3" checked disabled>
  <label for="r3">Radio on disabled</label>
</div>
