<!-- Default -->
<div class="sage-radio">
  <input id="r1" type="radio" name="radio1" value="1">
  <label for="r1">Option 1</label>
</div>
<div class="sage-radio">
  <input id="r2" type="radio" name="radio1" value="2">
  <label for="r2">Option 2</label>
</div>
<!-- Disabled -->
<div class="sage-radio">
  <input id="r3" type="radio" name="radio2" value="3" disabled>
  <label for="r3">Disabled</label>
</div>
<!-- Checked & Disabled -->
<div class="sage-radio">
  <input id="r4" type="radio" name="radio3" value="4" checked disabled>
  <label for="r4">Disabled and selected</label>
</div>
