/* ==================================================
  ** sage grid
  type: style

================================================== */

// ============================================
// Rows
// ============================================

@mixin sage-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(#{$sage-grid-gap-md} / -2);
  margin-right: calc(#{$sage-grid-gap-md} / -2);
}

.sage-row {
  @include sage-row();
}

// ============================================
// Columns
// ============================================

@mixin sage-col {
  flex: 1 1 auto;
  max-width: 100%;
  padding: 0 calc(#{$sage-grid-gap-md} / 2);
}

@for $sage-i from 1 through $sage-grid-columns {
  .sage-col--sm-#{$sage-i},
  .sage-col--md-#{$sage-i},
  .sage-col--lg-#{$sage-i} {
    @include sage-col();
    flex: 0 0 100%;
  }
}

@media (min-width: sage-breakpoint(sm-min)) {
  @for $sage-i from 1 through $sage-grid-columns {
    .sage-col--sm-#{$sage-i} {
      flex: 0 1 auto;
      width: percentage($sage-i / $sage-grid-columns);
    }
  }
}

@media (max-width: sage-breakpoint(sm-max)) {
  .sage-col--sm-hide {
    display: none;
  }
}

@media (min-width: sage-breakpoint(md-min)) {
  @for $sage-i from 1 through $sage-grid-columns {
    .sage-col--md-#{$sage-i} {
      flex: 0 1 auto;
      width: percentage($sage-i / $sage-grid-columns);
    }
  }
}

@media (max-width: sage-breakpoint(md-max)) {
  .sage-col--md-hide {
    display: none;
  }
}

@media (min-width: sage-breakpoint(lg-min)) {
  @for $sage-i from 1 through $sage-grid-columns {
    .sage-col--lg-#{$sage-i} {
      flex: 0 1 auto;
      width: percentage($sage-i / $sage-grid-columns);
    }
  }
}

@media (max-width: sage-breakpoint(lg-max)) {
  .sage-col--lg-hide {
    display: none;
  }
}
