/* ==================================================
  ** _page.scss

  Default Sage page layout
================================================== */

.sage-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sage-page__icon {
  height: 60px;
  margin-bottom: sage-spacing();
}
