/* ==================================================
  ** _page.scss

  Default Sage page layout
================================================== */

.sage-page {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__icon {
    height: 60px;
    margin-bottom: sage-spacing();
  }
}
