&-blue-100 {
  @extend .color;
  background: $sage-color-blue-100;
  color: $sage-color-blue-900;
  &:after {
    content: "#{$sage-color-blue-100}";
  }
}
&-blue-200 {
  @extend .color;
  background: $sage-color-blue-200;
  color: $sage-color-blue-900;
  &:after {
    content: "#{$sage-color-blue-200}";
  }
}
&-blue-300 {
  @extend .color;
  background: $sage-color-blue-300;
  color: $sage-color-blue-900;
  &:after {
    content: "#{$sage-color-blue-300}";
  }
}
&-blue-400 {
  @extend .color;
  background: $sage-color-blue-400;
  color: $sage-color-blue-900;
  &:after {
    content: "#{$sage-color-blue-400}";
  }
}
&-blue-500 {
  @extend .color;
  background: $sage-color-blue-500;
  padding: $sage-spacing;
  &:after {
    content: "#{$sage-color-blue-500}";
  }
}
&-blue-600 {
  @extend .color;
  background: $sage-color-blue-600;
  &:after {
    content: "#{$sage-color-blue-600}";
  }
}
&-blue-700 {
  @extend .color;
  background: $sage-color-blue-700;
  &:after {
    content: "#{$sage-color-blue-700}";
  }
}
&-blue-800 {
  @extend .color;
  background: $sage-color-blue-800;
  &:after {
    content: "#{$sage-color-blue-800}";
  }
}
&-blue-900 {
  @extend .color;
  background: $sage-color-blue-900;
  &:after {
    content: "#{$sage-color-blue-900}";
  }
}