&-gray-100 {
  @extend .color;
  background: $sage-color-gray-100;
  color: $sage-font-color;
  &:after {
    content: "#{$sage-color-gray-100}";
  }
}
&-gray-200 {
  @extend .color;
  background: $sage-color-gray-200;
  color: $sage-font-color;
  &:after {
    content: "#{$sage-color-gray-200}";
  }
}
&-gray-300 {
  @extend .color;
  background: $sage-color-gray-300;
  color: $sage-font-color;
  &:after {
    content: "#{$sage-color-gray-300}";
  }
}
&-gray-400 {
  @extend .color;
  background: $sage-color-gray-400;
  &:after {
    content: "#{$sage-color-gray-400}";
  }
}
&-gray-500 {
  @extend .color;
  background: $sage-color-gray-500;
  padding: $sage-spacing;
  &:after {
    content: "#{$sage-color-gray-500}";
  }
}
&-gray-600 {
  @extend .color;
  background: $sage-color-gray-600;
  &:after {
    content: "#{$sage-color-gray-600}";
  }
}
&-gray-700 {
  @extend .color;
  background: $sage-color-gray-700;
  padding: $sage-spacing;
  &:after {
    content: "#{$sage-color-gray-700}";
  }
}
&-gray-800 {
  @extend .color;
  background: $sage-color-gray-800;
  &:after {
    content: "#{$sage-color-gray-800}";
  }
}
&-gray-900 {
  @extend .color;
  background: $sage-color-gray-900;
  padding: $sage-spacing;
  &:after {
    content: "#{$sage-color-gray-900}";
  }
}
&-white {
  @extend .color;
  background: $sage-color-white;
  color: $sage-font-color;
  &:after {
    content: "#{$sage-color-white}";
  }
}
&-black {
  @extend .color;
  background: $sage-color-black;
  &:after {
    content: "#{$sage-color-black}";
  }
}