&-yellow-100 {
  @extend .color;
  background: $sage-color-yellow-100;
  color: $sage-font-color;
  font-size: $sage-font-size-xs;
  &:after {
    content: "#{$sage-color-yellow-100}";
  }
}
&-yellow-200 {
  @extend .color;
  background: $sage-color-yellow-200;
  color: $sage-font-color;
  font-size: $sage-font-size-xs;
  &:after {
    content: "#{$sage-color-yellow-200}";
  }
}
&-yellow-300 {
  @extend .color;
  background: $sage-color-yellow-300;
  color: $sage-font-color;
  font-size: $sage-font-size-xs;
  &:after {
    content: "#{$sage-color-yellow-300}";
  }
}
&-yellow-400 {
  @extend .color;
  background: $sage-color-yellow-400;
  font-size: $sage-font-size-xs;
  &:after {
    content: "#{$sage-color-yellow-400}";
  }
}
&-yellow-500 {
  @extend .color;
  background: $sage-color-yellow-500;
  padding: $sage-spacing;
  font-size: $sage-font-size-xs;
  &:after {
    content: "#{$sage-color-yellow-500}";
  }
}
&-yellow-600 {
  @extend .color;
  background: $sage-color-yellow-600;
  font-size: $sage-font-size-xs;
  &:after {
    content: "#{$sage-color-yellow-600}";
  }
}
&-yellow-700 {
  @extend .color;
  background: $sage-color-yellow-700;
  font-size: $sage-font-size-xs;
  &:after {
    content: "#{$sage-color-yellow-700}";
  }
}
&-yellow-800 {
  @extend .color;
  background: $sage-color-yellow-800;
  font-size: $sage-font-size-xs;
  &:after {
    content: "#{$sage-color-yellow-800}";
  }
}
&-yellow-900 {
  @extend .color;
  background: $sage-color-yellow-900;
  font-size: $sage-font-size-xs;
  &:after {
    content: "#{$sage-color-yellow-900}";
  }
}