<div class="sage-row">
  <div class="sage-col--md-6">
    <!-- Default, checkbox -->
    <div class="sage-switch">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-1" name="sage-switch-1" value="switch-1-value">
      <label class="sage-switch__label" for="sage-switch-1">Switch (checkbox)</label>
    </div>
    <!-- Error -->
    <div class="sage-switch sage-switch--error">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-6" name="sage-switch-6" value="switch-6-value" required>
      <label class="sage-switch__label" for="sage-switch-6">Switch error</label>
    </div>
  </div>
  <div class="sage-col--md-6">
    <!-- Default, radio -->
    <div class="sage-switch">
      <input type="radio" class="sage-switch__input" id="sage-switch-2a" name="sage-switch-2" value="switch-2a-value" checked>
      <label class="sage-switch__label" for="sage-switch-2a">Switch (radio)</label>
    </div>
    <div class="sage-switch">
      <input type="radio" class="sage-switch__input" id="sage-switch-2b" name="sage-switch-2" value="switch-2b-value">
      <label class="sage-switch__label" for="sage-switch-2b">Switch (radio)</label>
    </div>
  </div>
</div>

<div class="sage-row">
  <div class="sage-col--md-6">
    <!-- Disabled -->
    <div class="sage-switch">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-4" name="sage-switch-4" value="switch-4-value" disabled>
      <label class="sage-switch__label" for="sage-switch-4">Switch disabled</label>
    </div>
  </div>
  <div class="sage-col--md-6">
    <!-- Checked & Disabled -->
    <div class="sage-switch">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-5" name="sage-switch-5" value="switch-5-value" checked disabled>
      <label class="sage-switch__label" for="sage-switch-5">Switch on disabled</label>
    </div>
  </div>
</div>

<div class="sage-row">
  <div class="sage-col--md-6">
    <!-- Default, checkbox -->
    <div class="sage-switch">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-7" name="sage-switch-7" value="switch-7-value">
      <label class="sage-switch__label" for="sage-switch-7">Switch (checkbox)</label>
      <div class="sage-switch__message">Additional Info</div>
    </div>
    <!-- Error -->
    <div class="sage-switch sage-switch--error">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-10" name="sage-switch-10" value="switch-10-value" required>
      <label class="sage-switch__label" for="sage-switch-10">Switch error</label>
      <div class="sage-switch__message">Additional Info</div>
    </div>
  </div>
  <div class="sage-col--md-6">
    <!-- Disabled -->
    <div class="sage-switch">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-8" name="sage-switch-8" value="switch-8-value" disabled>
      <label class="sage-switch__label" for="sage-switch-8">Switch disabled</label>
      <div class="sage-switch__message">Additional Info</div>
    </div>
    <!-- Checked & Disabled -->
    <div class="sage-switch">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-9" name="sage-switch-9" value="switch-9-value" checked disabled>
      <label class="sage-switch__label" for="sage-switch-9">Switch on disabled</label>
      <div class="sage-switch__message">Additional Info</div>
    </div>
  </div>
</div>
