<!-- Default -->
<div class="sage-switch">
  <input id="s1" type="checkbox" />
  <label for="s1">Switch</label>
</div>
<!-- Disabled -->
<div class="sage-switch">
  <input id="s2" type="checkbox" disabled />
  <label for="s2">Switch disabled</label>
</div>
<!-- Checked & Disabled -->
<div class="sage-switch">
  <input id="s3" type="checkbox" checked disabled />
  <label for="s3">Switch on disabled</label>
</div>
