<div class="sage-row">
  <div class="sage-col--md-6">
    <!-- Default, checkbox -->
    <div class="sage-switch">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-1" name="sage-switch-1" value="switch-1-value">
      <label for="sage-switch-1">Switch (checkbox)</label>
    </div>
  </div>
  <div class="sage-col--md-6">
    <!-- Default, radio -->
    <div class="sage-switch">
      <input type="radio" class="sage-switch__input" id="sage-switch-2a" name="sage-switch-2" value="switch-2a-value" checked>
      <label for="sage-switch-2a">Switch (radio)</label>
    </div>
    <div class="sage-switch">
      <input type="radio" class="sage-switch__input" id="sage-switch-2b" name="sage-switch-2" value="switch-2b-value">
      <label for="sage-switch-2b">Switch (radio)</label>
    </div>
  </div>
</div>

<div class="sage-row">
  <div class="sage-col--md-6">
    <!-- Disabled -->
    <div class="sage-switch">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-4" name="sage-switch-4" value="switch-4-value" disabled>
      <label for="sage-switch-4">Switch disabled</label>
    </div>
    <!-- Checked & Disabled -->
    <div class="sage-switch">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-5" name="sage-switch-5" value="switch-5-value" checked disabled>
      <label for="sage-switch-5">Switch on disabled</label>
    </div>
  </div>
  <div class="sage-col--md-6">
    <!-- Error -->
    <div class="sage-switch">
      <input type="checkbox" class="sage-switch__input" id="sage-switch-6" name="sage-switch-6" value="switch-6-value" required>
      <label for="sage-switch-6">Switch error</label>
    </div>
  </div>
</div>
