<!-- Default -->
<div class="sage-switch">
  <input type="checkbox" class="sage-switch__input" id="sage-switch-1" name="sage-switch-1">
  <label for="sage-switch-1">Switch</label>
</div>
<!-- Disabled -->
<div class="sage-switch">
  <input type="checkbox" class="sage-switch__input" id="sage-switch-2" name="sage-switch-2" disabled>
  <label for="sage-switch-2">Switch disabled</label>
</div>
<!-- Checked & Disabled -->
<div class="sage-switch">
  <input type="checkbox" class="sage-switch__input" id="sage-switch-3" name="sage-switch-3" checked disabled>
  <label for="sage-switch-3">Switch on disabled</label>
</div>
<!-- Error -->
<div class="sage-switch">
  <input type="checkbox" class="sage-switch__input" id="sage-switch-4" name="sage-switch-4" required>
  <label for="sage-switch-4">Switch error</label>
</div>
