<%= content_for :do do %>
  <ul>
    <li>Rules for what you should do with this element go here.</li>
  </ul>
<% end %>
<%= content_for :dont do %>
  <ul>
    <li>Rules for what you should not do with this element go here.</li>
  </ul>
<% end %>