<section class="sage-panel">
  <header class="sage-panel__header">
    <%= header %>
    <aside class="sage-panel__header-aside">
      Header aside
    </aside>
  </header>
  <div class="sage-panel__body"><%= body.html_safe %></div>
  <footer class="sage-panel__footer"><%= footer %></footer>
</section>
