<div class="docs-container">
  <div class="docs-container__header"><%= header %></div>
  <div class="docs-container__body"><%= body.html_safe %></div>
  <div class="docs-container__footer"><%= footer %></div>
</div>
