<p>
  <strong class="t-sage--color-orange">
    While this page depicts panels within panels this not a pattern that should be implemented elsewhere.
  </strong>
</p>

<h5>Basic Panel</h5>
<%= render "examples/objects/panel/markup",
  title: %(
    Header Content
  ),
  header_other: "<i class='sage-icon-enlarge' aria-label='Sortable'></i>",
  body: %(
    <div class="sage-panel__body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  ),
  footer: %(
    <button class="sage-btn sage-btn--secondary">Other</button>
    <div class="sage-btn-group">
      <button class="sage-btn sage-btn--tertiary">Cancel</button>
      <button class="sage-btn sage-btn--primary">Save</button>
    </div>
  )
%>

<p class="sage-spacer-top">Panels are rich containers that allow for grouping and organizing content details. The following elements are avaiable within panels:</p>
<ul>
  <li>
    <strong>Header</strong>

  </li>
  <li>
    <strong>Body</strong>

    <ul>
      <li>
        <strong><em>Subheader</em></strong>
        — The Subheader provides specific styles for a subheading within a panel.
        It is very similar in configuration to the panel header but with smaller type.
      </li>
      <li>
        <strong><em>Copy</em></strong>
        — Copy is the simplest block of content in which open text
        or elements with no preset spacing is desired.
        In the case of open text, the <code>sage-type</code> class
        can also be added to enforce open text spacing rules.
      </li>
      <li>
        <strong><em>Figure</em></strong>
        — A figure contains an image that occupies a substantive space in the panel,
        typically filling edge to edge, and possibly even full bleed in the panel.
      </li>
      <li>
        <strong><em>Divider</em></strong>
        — The Divider is a thin rule that helps to separate larger groups within the panel.
      </li>
      <li>
        <strong><em>Stack</em></strong>
        — A stack is a single column of elements sitting atop each other
        with the standard 8px gap between each item in the stack.
      </li>
      <li>
        <strong><em>List</em></strong>
        — A list is a similar to a stack but has no space between items,
        and each item has a border that extends into the panel's outer gutters.
        Lists can also have row-like layouts with elements setup inline.
      </li>
      <li>
        <strong><em>Row</em></strong>
        — A row is a single or isolated inline arrangement or elements.
        It can either be a custom component or employ one of the standard Grid Template Patterns.
        </p>
      </li>
      <li>
        <strong><em>Tiles</em></strong>
        — Tiles are groups of elements that typically also each contain additional content.
        These items are laid out in a tiling layout, such as 2-up, 3-up, and 4-up patterns.
        </p>
      </li>
    </ul>
  </li>
  <li>
    <strong>Footer</strong>

  </li>
</ul>

<h5>Panel with Graphic</h5>
<%= render "examples/objects/panel/markup",
  body: %(
    <div class="sage-panel__copy">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Morbi rhoncus mauris ut turpis gravida bibendum.
        Donec feugiat accumsan velit et semper.
        Ut elementum id leo ac fringilla.
      </p>
      <p>
        Aenean cursus justo vel tempor euismod.
        Pellentesque ultrices convallis nisl nec sollicitudin.
        Ut placerat justo tempus libero ornare dictum.
      </p>
    </div>
    <div class="sage-panel__figure sage-panel__figure--bleed-bottom">
      <img src="//source.unsplash.com/random/600x400" />
    </div>
  )
%>

<h5>Panel with Tiles</h5>
<%= render "examples/objects/panel/markup",
  title: %(
    Header Content
  ),
  header_other: %(
    <i class='sage-icon-enlarge' aria-label='Sortable'></i>
  ),
  body: %(
    <ul class="sage-panel__tiles sage-panel__tiles--3-up">
      <li>Goobers</li>
      <li>Goobers</li>
      <li>Goobers</li>
      <li>Goobers</li>
      <li>Goobers</li>
    </ul>
  )
%>
