<div class="example">
  <h3><%= title %></h3>
  <h6 class="example-label">Preview</h6>
  <%= render "example_elements/#{path}/preview" %>
  <h6 class="example-label">Code</h6>
  <pre><code><xmp><%= render "example_elements/#{path}/preview" %></xmp></code></pre>
</div>
