<ul>
  <li>Use inline <code>&lt;b&gt;</code> tag to add bolding to select portions of these blocks.</li>
  <li>Provide a local max-width as desired in order to limit overflowing text. Truncation is setup and ready for this.</li>
</ul>
