<ul>
  <li>Use inline <code>&lt;b&gt;</code> tag to add bolding to select portions of these blocks.</li>
  <li>Provide a local max-width as desired in order to limit overflowing text. Truncation is setup and ready for this by default on the inline Copy Text, but can be turned on for the Copy Text Card with <code>truncate_contents</code> set to <code>true</code>.</li>
</ul>
