<fieldset class="sage-type">
  <h3 class="t-sage-heading-6">Input helper with password strength indicators</h3>
  <div id="" class="sage-input-helper" role="tooltip">
    <p class="sage-hint__description">Your password must meet the following criteria:</p>

    <ul class="sage-hint__list">
      <li class="sage-hint__list-item" id="pw-hint-characters">At least eight characters</li>
      <li class="sage-hint__list-item" id="pw-hint-numbers">Has one or more numbers</li>
      <li class="sage-hint__list-item" id="pw-hint-symbols">Includes at least one symbol ($@!#%)</li>
    </ul>

  </div>
</fieldset>
