<fieldset>
  <div class="sage-dropdown" data-js-sagedropdown>
    <input class="sage-dropdown__field"
      type="text"
      placeholder="Favorite Food"
      id="form__favoritefood"
      name="form__favoritefood"
      data-js-sagedropdown-field
    >
    <label class="sage-dropdown__label" for="form__favoritefood">Favorite Food</label>
    <div class="sage-dropdown__dropdown" data-js-sagedropdown-dropdown>
      <div class="sage-dropdown__search-container">
        <input class="sage-dropdown__search-field"
          type="text"
          placeholder="Search..."
          data-js-sagedropdown-search
        >
      </div>
      <ul class="sage-dropdown__option-container"  data-js-sagedropdown-optioncontainer>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="">
          <div class="t-sage-body" style="opacity: 0.4">(Empty)</div>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Pizza">
          <div class="t-sage-body">Pizza</div>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Hot Dog">
          <div class="t-sage-body">Hot Dog</div>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Ramen">
          <div class="t-sage-body">Ramen</div>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Avacado Toast">
          <div class="t-sage-body">Avacado Toast</div>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Deviled Egg">
          <div class="t-sage-body">Deviled Egg</div>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Veggie Burger">
          <div class="t-sage-body">Veggie Burger</div>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Pickles">
          <div class="t-sage-body">Pickles</div>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Thanksgiving Turkey">
          <div class="t-sage-body">Thanksgiving Turkey</div>
        </li>
      </ul>
    </div>
  </div>
</fieldset>
