<fieldset>
  <div class="sage-dropdown" data-js-sagedropdown>
    <input class="sage-dropdown__field" type="text" placeholder="Favorite Food" id="form__favoritefood" name="form__favoritefood" data-js-sagedropdown-field readonly>
    <label class="sage-dropdown__label" for="form__favoritefood">Favorite Food</label>
    <div class="sage-dropdown__dropdown" data-js-sagedropdown-dropdown>
      <div class="sage-dropdown__search-container">
        <input class="sage-dropdown__search-field" type="text" placeholder="Search..." data-js-sagedropdown-search>
      </div>
      <ul class="sage-dropdown__option-container"  data-js-sagedropdown-optioncontainer>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="">
          <p class="t-sage-body" style="opacity: 0.4">(Empty)</p>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Pizza">
          <p class="t-sage-body">Pizza</p>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Hot Dog">
          <p class="t-sage-body">Hot Dog</p>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Ramen">
          <p class="t-sage-body">Ramen</p>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Avacado Toast">
          <p class="t-sage-body">Avacado Toast</p>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Deviled Egg">
          <p class="t-sage-body">Deviled Egg</p>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Veggie Burger">
          <p class="t-sage-body">Veggie Burger</p>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Pickles">
          <p class="t-sage-body">Pickles</p>
        </li>
        <li class="sage-dropdown__option" data-js-sagedropdown-option="Thanksgiving Turkey">
          <p class="t-sage-body">Thanksgiving Turkey</p>
        </li>
      </ul>
    </div>
  </div>
</fieldset>
