<tr>
  <td>Layout</td>
  <td>
    Layout alternates for this component. These include:
    <ul>
      <li>(Default) -- Tiles appear in an unstyled stack.</li>
      <li><code>inline</code> -- Tiles display inline but wrap when possible.</li>
      <li><code>inline-fit</code> -- Tiles display inline but are packed onto a single line.</li>
      <li><code>inline-2</code> ... <code>inline-5</code> -- Tiles line up in 2 columns, 3 columns, etc. Side-to-side.</li>
    </ul>
  </td>
  <td>String</td>
  <td>Default</td>
</tr>