<div class="sage-live-stream-video-grid sage-live-stream-video-grid--<%= videos.size > 1 ? "#{videos.size}-up": "solo" %>">
  <% videos.each do |video| %>
    <div class="sage-live-stream-video-grid__tile">
      <%= render "examples/objects/live_avatar/markup",
        initials: video[:initials],
        color: video[:color],
        hasRing: false,
        url: video[:avatarURL],
        scale: true,
        custom_class: "sage-live-stream-video-grid__video sage-live-avatar--tile"
      %>
    </div>
  <% end %>
</div>
