<div class="sage-form_section">
  <div class="sage-form_section__info">
    <h3 class="sage-form_section__title">Form Section Title</h3>
    <p class="sage-form_section__subtitle">Helpful text that lets the customer have an idea how to work with the section.</p>
  </div>
  <div class="sage-form_section__content">
    <div class="sage-form_section__panel">
      <!-- Start Of Content -->
      <div class="sage-banner">
        <p class="sage-banner__title">Form Section Content Will Go Here</p>
        <p class="sage-banner__copy">This component is designed to be very flexible and take any sort of content you want to pass to it.</p>
      </div>
      <!-- End Of Content -->
    </div>
  </div>
</div>
