<tr>
  <td>Icon</td>
  <td>
    The Sage icon to use for the control. Note that this should allow for a 
    custom component to be passed for the cases such as the Active Microphone 
    component.
  </td>
  <td>String</td>
  <td>microphone</td>
</tr>
<tr>
  <td>isActive</td>
  <td>
    Toggles the active/inactive form of the control. Excludes other options 
    such as <code>isStart</code> and <code>isStop</code>. If this is 
    <code>false</code> then the <code>sage-live-stream-control--inactive</code> 
    class should be toggled on this component.
  </td>
  <td>Boolean</td>
  <td>true</td>
</tr>
<tr>
  <td>isStart</td>
  <td>
    Toggles the "start" form of the control. Excludes other options such as 
    <code>isActive</code> and <code>isStop</code>. If this is <code>false</code> then the 
    <code>sage-live-stream-control--start</code> class should be toggled 
    on this component.
  </td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>isStop</td>
  <td>
    Toggles the "stop" form of the control. Excludes other options such as 
    <code>isStart</code> and <code>isStop<c/ode>. If this is <code>false</code> then the 
    <code>sage-live-stream-control--stop</code> class should be toggled 
    on this component.
  </td>
  <td>Boolean</td>
  <td>false</td>
</tr>
<tr>
  <td>isPill</td>
  <td>
    Changes the shape of the button to be pill-shaped and allows a label 
    to be visible. Note that the label should always be present, but in 
    this variation, its class changes from <code>visually-hidden</code> 
    to <code>sage-live-stream-control__label</code>.
  </td>
  <td>Boolean</td>
  <td>false</td>
</tr>
