<div class="sage-textarea">
  <textarea class="sage-textarea__field" id="txtarea__example" placeholder="Your message"></textarea>
  <label for="txtarea__example" class="sage-textarea__label">Your message</label>
</div>
