<p>Default</p>
<div class="sage-textarea">
  <textarea class="sage-textarea__field" id="txtarea__example" name="txtarea__example" placeholder="Your message"></textarea>
  <label for="txtarea__example" class="sage-textarea__label">Your message</label>
</div>

<p>No label (placeholder only)</p>
<div class="sage-textarea sage-textarea--no-label">
  <textarea class="sage-textarea__field" id="txtarea__example_nolabel" name="txtarea__example_nolabel" placeholder="Your message"></textarea>
</div>

<p>Disabled</p>
<div class="sage-textarea">
  <textarea class="sage-textarea__field" id="txtarea__example_disabled" id="txtarea__example_disabled" placeholder="Your message" disabled>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nulla vitae elit libero, a pharetra augue. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</textarea>
  <label for="txtarea__example_disabled" class="sage-textarea__label">Your message</label>
</div>
