<p>Default</p>
<div class="sage-textarea">
  <textarea class="sage-textarea__field" id="txtarea__example" placeholder="Your message"></textarea>
  <label for="txtarea__example" class="sage-textarea__label">Your message</label>
</div>

<p>No label (placeholder only)</p>
<div class="sage-textarea sage-textarea--no-label">
  <textarea class="sage-textarea__field" id="txtarea__example" placeholder="Your message"></textarea>
</div>

<p>Disabled</p>
<div class="sage-textarea">
  <textarea class="sage-textarea__field" id="txtarea__example_disabled" placeholder="Your message" disabled></textarea>
  <label for="txtarea__example_disabled" class="sage-textarea__label">Your message</label>
</div>
