// ============================================
// Assistant
// ============================================
  $sage-assistant-height: 3.5rem !default; // used globally, will be moved to global var stylesheet

.sage-assistant {
  $sage-assistant-search-height: 2.5rem !default; // 40px
  $sage-assistant-search-bg-color: sage-color(grey, 300) !default;
  $sage-assistant-search-bg-opacity: 0.1 !default;
  $sage-assistant-search-placeholder-color: sage-color(grey, 400) !default;

  z-index: sage-z_index(nav);
  display: flex;
  align-items: center;
  padding: sage-spacing(xs) sage-spacing();
  background: sage-color(primary, 500);
  height: $sage-assistant-height;

  &__branding {
    height: 20px;
  }

  &__body {
    flex: 1;
  }

  &__search {
    width: 100%;
    height: $sage-assistant-search-height;
    border: none;
    background: rgba($sage-assistant-search-bg-color, $sage-assistant-search-bg-opacity);
    padding: sage-spacing(xs);
    border-radius: sage-border(radius);
    color: $sage-assistant-search-placeholder-color;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $sage-assistant-search-placeholder-color;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: $sage-assistant-search-placeholder-color;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: $sage-assistant-search-placeholder-color;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: $sage-assistant-search-placeholder-color;
    }
  }
}
