/* ==================================================
  ** _form_section.scss
  type: object


================================================== */

// TODO: refactor @extend
.sage-form_section {
  @extend .sage-row;
  margin-bottom: sage-spacing();

  &__info {
    @extend .sage-col--md-4;
  }

  &__title {
    margin-bottom: sage-spacing(xs);
  }

  &__subtitle {
    color: sage-color(charcoal, 200);
  }

  &__content {
    @extend .sage-col--md-8;
  }

  &__panel {
    @extend .sage-panel;
  }

  @media (max-width: sage-breakpoint()) {
    /* form_section responsive styles */
  }
}
