/* ==================================================
  ** live_profile_card
  type: object


================================================== */

$-live-profile-card-avatar-size: 38px;

.sage-live-profile-cards {
  padding: 0;
  border-top: 1px solid sage-color(grey, 200);
}

.sage-live-profile-card {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: sage-spacing(2xs) sage-spacing(sm);
}

.sage-live-profile-card__avatar {
  width: $-live-profile-card-avatar-size;
  height: $-live-profile-card-avatar-size;
  margin-top: sage-spacing(2xs);
  margin-right: sage-spacing(sm);
  margin-bottom: sage-spacing(2xs);
}

.sage-live-profile-card__controls {
  display: flex;
  margin-left: auto;
}

.sage-live-profile-card__info {
  margin-right: 16px;
}

.sage-live-profile-card__options {
  opacity: 0;

  .sage-live-profile-card:hover &,
  .sage-live-profile-card:focus-within & {
    opacity: 1;
  }
}

.sage-live-profile-card__user-name {
  color: sage-color(charcoal, 500);

  @extend %t-sage-body-small-med;
}

.sage-live-profile-card__user-email {
  color: sage-color(grey, 500);

  @extend %t-sage-body-xsmall;
}
