/* ==================================================
  ** live_profile_card
  type: object


================================================== */

$-live-profile-card-avatar-size: 38px;

.sage-live-profile-card {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: sage-spacing(2xs) sage-spacing(sm);

  // Specific to preview
  .sage-docs .example__preview > & {
    margin-top: sage-spacing(xs);
    margin-bottom: sage-spacing(md);
    box-shadow: 0 2px 6px sage-color(grey, 300);
  }
}

.sage-live-profile-card__avatar {
  width: $-live-profile-card-avatar-size;
  height: $-live-profile-card-avatar-size;
  margin-top: sage-spacing(2xs);
  margin-right: 16px;
  margin-bottom: sage-spacing(2xs);
}

.sage-live-profile-card__controls {
  display: flex;
  margin-left: auto;
}

.sage-live-profile-card__info {
  margin-right: 16px;
}

.sage-live-profile-card__options {
  opacity: 1;

  .sage-live-profile-card:hover &,
  &:focus {
    opacity: 1;
  }
}

.sage-live-profile-card__user-name {
  margin-bottom: 0;
  color: sage-color(charcoal, 500);

  @extend %t-sage-body-small-med;
}

.sage-live-profile-card__user-email {
  margin-bottom: 0;
  color: sage-color(grey, 500);

  @extend %t-sage-body-xsmall;
}
