/* ==================================================
  ** live_active_mic
  type: object


================================================== */

.sage-live-active-mic {
  $size: 100%;
  --color-volume: #{sage-color(sage)};
  --color-background: #{sage-color(charcoal)};
  --max-offset: 50%;
  --size: $size;
  --volume: 0;

  display: block;
  position: relative;
  width: $size;
  width: var(--size);
  height: $size;
  height: var(--size);
}

.sage-live-active-mic__volume {
  transform: translateY(calc(var(--max-offset) - (var(--max-offset) * var(--volume) / 100)));
  fill: var(--color-volume);
  transition: 0.1s ease-out transform;
}

.sage-live-active-mic__background {
  fill: var(--color-background);
}

.sage-live-active-mic__icon {
  fill: var(--color-background);
}

// Documentation-specific styles
// Animates the volumn to 20% on hover and bounces to 100% on click
.sage-live-active-mic-wrapper {
  display: inline-block;
  box-sizing: content-box;
  width: 20px;
  height: 20px;
  padding: 100px;

  &:hover {
    .sage-live-active-mic {
      --volume: 5;
    }
  }

  &:active {
    .sage-live-active-mic {
      --volume: 100;
    }
  }
}
