.sage-nav {
  &__link {
    display: flex;
    align-items: center;
    margin: sage-spacing(xs) 0;
    font-weight: 500;
    color: sage-color(charcoal, 400);
    &:hover {
      color: sage-color(charcoal, 500);
      i {
        color: sage-color(primary);
      }
    }
    &--sub {
      @extend .sage-nav__link;
      margin: sage-spacing(xs) sage-spacing(lg);
      font-size: sage-font-size(sm);
      &:hover {
        color: sage-color(primary);
      }
    }
    i {
      font-size: sage-spacing();
      margin-right: sage-spacing(xs);
      color: sage-color(grey, 500);
    }
  }
}
