// ============================================
// Sidebar
// ============================================

.sage-sidebar {
  display: flex;
  flex-direction: column;
  width: sage-sidebar();
  border-right: sage-border();
  background: sage-color(grey, 200);
  overscroll-behavior-y: contain;
  z-index: sage-z-index(nav);

  &--md {
    @extend .sage-sidebar;
    width: sage-sidebar(md);
  }

  &--lg {
    @extend .sage-sidebar;
    width: sage-sidebar(lg);
  }

  @media (max-width: sage-breakpoint()) {
    position: fixed;
    top: $sage-assistant-height;
    left: 0;
    height: calc(100% - #{$sage-assistant-height});
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-out, opacity 0.15s ease-in-out;

    .sidebar-is-open & {
      box-shadow: sage-shadow();
      opacity: 1;
      transform: none;
    }
  }
}

.sage-sidebar__body {
  @include overflow-scroll();

  flex: 1;
  padding: sage-spacing();
}

.sage-sidebar__footer {
  padding: sage-spacing();
}
