/* ==================================================
  ** _tabs.scss
  type: object

================================================== */

.sage-tabs {
  margin-bottom: sage-spacing();

  &__tab {
    margin-right: sage-spacing();
    color: $sage-tabs-default-color;
    transition: color $sage-tabs-default-transition;

    &:last-of-type {
      margin-right: 0;
    }

    &::after {
      content: "";
      display: inline-block;
      // transform: scaleY(0);
      // transform-origin: bottom center;
      position: absolute;
      left: 0;
      bottom: 0;
      height: $sage-tabs-active-border-height;
      width: $sage-tabs-active-border-width;
      background: $sage-tabs-active-border-color;
      border-radius: $sage-tabs-active-border-radius;
      transition: opacity $sage-tabs-default-transition, transform $sage-tabs-default-transition;
      opacity: 0;
    }

    &--active {
      display: inline-block;
      position: relative;
      padding-bottom: sage-spacing(xs);
      color: $sage-tabs-active-color;
      font-weight: $sage-tabs-active-font-weight;
    }

    &--active::after {
      // transform: none;
      opacity: 1;
    }
  }
}
