/* ==================================================
  ** _tabs.scss
  type: object

================================================== */

.sage-tabs {
  margin-bottom: sage-spacing();

  &__tab {
    margin-right: sage-spacing();
    color: sage-color(charcoal, 100);

    &--active {
      display: inline-block;
      position: relative;
      padding-bottom: sage-spacing(xs);
      color: sage-color(charcoal, 500);
      font-weight: sage-font-weight(semibold);

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 100%;
        background: sage-color(primary);
        border-radius: sage-border(radius);
      }
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}
