<!DOCTYPE html>
<html>
<head>
  <title>Sage</title>
  <%= stylesheet_link_tag    "sage/application", media: "all" %>
  <%= javascript_include_tag "sage/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
Hello
<%= yield %>

</body>
</html>
