<!-- Icon button -->
<button class="sage-btn">
  <span class="sage-btn__icon">
    <i class="sage-icon-menu"></i>
  </span>
  Icon Button
</button>

<!-- Icon button (link) -->
<a href="#" class="sage-btn sage-btn--icon">Icon (link)</a>
