<div class="sage-select">
  <select name="pets" id="pets" class="sage-select__field" required>
    <option value="" disabled selected>-- Please Select A Character --</option>
    <option value="none">None</option>
    <option value="mario">Mario</option>
    <option value="Luigi">Luigi</option>
    <option value="princess-peach">Princess Peach</option>
    <option value="daisy">Daisy</option>
    <option value="toad">Toad</option>
  </select>
  <label for="pets" class="sage-select__label">Character</label>
  <i class="sage-select__arrow" aria-hidden="true"></i>
  <div class="sage-select__message">This is a message</div>
</div>

<div class="sage-select sage-select--error">
  <select name="pet" id="pet" class="sage-select__field" required>
    <option value="" disabled selected>-- Please Select A Pet --</option>
    <option value="none">None</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
    <option value="hamster">Hamster</option>
    <option value="parrot">Parrot</option>
    <option value="spider">Spider</option>
    <option value="goldfish">Goldfish</option>
  </select>
  <label for="pet" class="sage-select__label">Pet</label>
  <i class="sage-select__arrow" aria-hidden="true"></i>
  <div class="sage-select__message">This is a message</div>
</div>
