<header
  class="sage-panel__subheader"
  <%= component.generated_html_attributes %>
>
  <% if component.title %>
    <h1 class="sage-panel__subtitle">
      <%= component.title %>
    </h1>
  <% end %>
  <%= component.content %>
</header>
