<div class="
  sage-search
  <%= "sage-search--contained" if component.contained %>
">
  <input
    class="sage-search__input"
    type="search"
    placeholder="<%= component.placeholder.present? ? component.placeholder : "Search" %>"
    value="<%= component.value %>"
  />
</div>
