<div class="sage-popover-wrapper">
	<%= sage_component SageButton, {
		value: "Open Menu",
		style: "secondary",
		subtle: true,
		icon: {
			style: "only",
			name: "question-circle"
		},
		attributes: {
			'aria-haspopup': true,
			'aria-controls': 'sage-tooltip',
			'aria-expanded': false,
			'data-js-popover': ''
		},
	} %>
	<% if content_for? :sage_help_content %>
		<div id="sage-tooltip" data-js-tooltip-content class="sage-page-heading-tooltip__wrapper">
			<div class="sage-page-heading-tooltip">
				<div class="sage-page-heading-tooltip__title">
					<%= component.help_title %>
				</div>
				<div class="sage-page-heading-tooltip__body">
					<%= content_for :sage_help_content %>
				</div>
				<div class="sage-page-heading-tooltip__actions">
					<%= sage_component SageButton, {
						value: "Learn More",
						style: "primary",
						icon: {
							style: "right",
							name: "launch"
						},
						subtle: true,
						small: true
					} %>
				</div>
			</div>
		</div>
	<% end %>
</div>
