<div
  class="
    sage-status-icon
    <%= "sage-status-icon--#{component.icon}" %>
  "
  data-js-tooltip="<%= component.content %>"
>
  <span class="visually-hidden">
    <%= component.content %>
  </span>
</div>
