<div class="sage-popover-wrapper">
	<%= component.content %>
	<% if component.body %>
		<div id="sage-tooltip" data-js-tooltip-content class="sage-popover__panel">
			<div class="sage-page-heading-tooltip">
				<div class="sage-popover__title">
					<%= component.title %>
				</div>
				<div class="sage-popover__body">
					<%= component.body.html_safe %>
				</div>
				<div class="sage-page-heading-tooltip__actions">
					<%= sage_component SageButton, {
						value: "Learn More",
						style: "primary",
						icon: {
							style: "right",
							name: "launch"
						},
						subtle: true,
						small: true
					} %>
				</div>
			</div>
		</div>
	<% end %>
</div>
