<div class="sage-page-heading">
  <a href="<%= back_url %>" class="sage-page-heading__back">
    <i class="sage-page-heading__icon <%= back_icon %>" aria-hidden="true"></i>
    <%= back_text %>
  </a>
  <h1 class="sage-page-heading__title"><%= page_title %></h1>
</div>