/* ==================================================
  ** _functions.scss

================================================== */

/* ==================================================
  ** Integer (pixel) to rem function
  Usage: `rem(12)`

  Converts an integer to a rem value based on 16 as the base size.
  arguments: $value | [integer]
================================================== */

@function rem($value) {
  @return strip-unit($value) / 16 * 1rem;
}


/* ==================================================
  ** Strip units from value
  Usage: `strip-unit(12px)`

  Converts an integer to a rem value based on 16 as the base size.
  <https://css-tricks.com/snippets/sass/strip-unit-function/>
    arguments: {Number} $number - Number to remove unit from
    @return {Number} - Unitless number
================================================== */

@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}
