/* ==================================================
  ** _mixins.scss

================================================== */

/* ==================================================
  ** Visually Hidden mixin
  Usage: `@include visually-hidden()`

  Hides content from view, but allows text to stay visible to screen readers
  arguments: n/a
================================================== */

@mixin visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}


/* ==================================================
** Button reset mixin
  Usage: `@include button-style-reset();

  Resets base button style
  arguments: n/a
================================================== */

@mixin button-style-reset {
  display: inline-block;
  padding: 0;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  color: inherit;
  box-shadow: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}


/* ==================================================
** Overflow scroll mixin
  Usage: `@include overflow-scroll();

  Define overflow scrolling dimensions
  arguments: $dimension | all, y(default), x
================================================== */

@mixin overflow-scroll($dimension: y) {
  overflow: hidden;
  // adds momentum scroll on supported devices
  -webkit-overflow-scrolling: touch;

  @if ($dimension == y) {
    overflow-y: auto;
  }
  @else if ($dimension == x) {
    overflow-x: auto;
  }
  @else if ($dimension == all) {
    overflow: auto;
  }
}


/* ==================================================
** Placeholder mixin
   Usage: `@include placeholder(content)`

  arguments: $content
================================================== */
@mixin placeholder { /* stylelint-disable */
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
} /* stylelint-enable */


/* ==================================================
** Live Avatar Ring
  Usage: `@include overflow-scroll();

  Define overflow scrolling dimensions
  arguments: $dimension | all, y(default), x
================================================== */

@mixin sage-live-avatar-ring($color: primary) {
  $sage-live-avatar-ring-offset: -($sage-live-avatar-ring-width + 2px);

  &::before {
    top: $sage-live-avatar-ring-offset;
    right: $sage-live-avatar-ring-offset;
    bottom: $sage-live-avatar-ring-offset;
    left: $sage-live-avatar-ring-offset;
    border-color: sage-color($color);
  }
}
