body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: $font-color;
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $font-height;
  margin-bottom: $spacing;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color;
  font-weight: $font-weight-semibold;
  line-height: $font-height-sm;
  margin-bottom: $spacing;
}
h1 {
  font-size: $font-size-3xl;
}
h2 {
  font-size: $font-size-2xl;
}
h3 {
  font-size: $font-size-xl;
}
h4 {
  font-size: $font-size-lg;
}
h5 {
  font-size: $font-size-sm;
}
h6 {
  font-size: $font-size-xs;
}

p {
  margin-bottom: $spacing;
}

a {
  color: $color-primary;
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

hr {
  border: 0;
  border-top: $border-default;
  margin: $spacing 0;
}
