/* ==================================================
  ** _typography.scss


================================================== */

$sage-font-stack: -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif;


body {
  margin-bottom: sage-spacing();
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  color: sage-color(charcoal, 400);
  font-family: "Inter", $sage-font-stack;
  font-weight: sage-font-weight();
  font-size: sage-font-size();
  letter-spacing: 0.01875rem; // 0.3px
  line-height: sage-font-height();

  @supports (font-variation-settings: normal) {
    font-family: "Inter var", $sage-font-stack;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: sage-spacing();
  color: sage-color(charcoal, 500);
  font-weight: sage-font-weight(bold);
  line-height: sage-font-height(sm);
}

h1 {
  font-size: sage-font-size(4xl);
  letter-spacing: 0.05rem; // 0.8px
  line-height: calc(50 / 39.81);
}

h2 {
  font-size: sage-font-size(3xl);
  letter-spacing: 0.05rem; // 0.8px
  line-height: calc(41 / 33.18);
}

h3 {
  font-size: sage-font-size(2xl);
  letter-spacing: 0.03125rem; // 0.5px
  line-height: calc(35 / 27.65);
}

h4 {
  font-size: sage-font-size(xl);
  font-weight: sage-font-weight(semibold);
  letter-spacing: 0.03125rem; // 0.5px
  line-height: calc(29 / 23.04);
}

h5 {
  font-size: sage-font-size(lg);
  font-weight: sage-font-weight(semibold);
  line-height: calc(24 / 19.2);
}

h6 {
  font-size: sage-font-size(md);
  font-weight: sage-font-weight(semibold);
}

p {
  margin-bottom: sage-spacing();

  &.no-margin-bottom {
    margin-bottom: 0;
  }
}

ul,
ol,
dl {
  margin-bottom: sage-spacing();

  &.no-margin-bottom {
    margin-bottom: 0;
  }
}

a {
  color: sage-color(primary);

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

hr {
  margin: sage-spacing() 0;
  border: 0;
  border-top: sage-border();
}
