@import url('https://rsms.me/inter/inter.css');

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: sage-color(gray, 700);
  font-family: 'Inter', sans-serif;
  font-weight: $sage-font-weight;
  font-size: $sage-font-size;
  line-height: $sage-font-height;
  margin-bottom: sage-spacing();
}
@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: sage-color(gray, 900);
  font-weight: $sage-font-weight-bold;
  line-height: $sage-font-height-sm;
  margin-bottom: sage-spacing();
}
h1 {
  font-size: $sage-font-size-3xl;
}
h2 {
  font-size: $sage-font-size-2xl;
}
h3 {
  font-size: $sage-font-size-xl;
}
h4 {
  font-size: $sage-font-size-lg;
}
h5 {
  font-size: $sage-font-size-sm;
}
h6 {
  font-size: $sage-font-size-xs;
}

p {
  margin-bottom: sage-spacing();
}

a {
  color: sage-color(primary);
  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

hr {
  border: 0;
  border-top: sage-border();
  margin: sage-spacing() 0;
}
