<div class="sage-grid-old-row">
  <div class="sage-grid-old-col--md-6 example__block--lg">
    <%= render "examples/elements/loader/markup",
      loader_type: "bar"
    %>
  </div>
  <div class="sage-grid-old-col--md-6 example__block--lg">
    <%= render "examples/elements/loader/markup",
      loader_type: "spinner"
    %>
  </div>
</div>
