<tr>
  <td>volume</td>
  <td>
    An integer between 0 and 100 can be passed in in order to animate the volumme level.
    This should be implemented as a custom CSS property passed through inline style on the root element as <code>--volume</code>
  </td>
  <td>Integer</td>
  <td><code>0</code></td>
</tr>
<tr>
  <td>fillVolume</td>
  <td>The fill color for the volume. This should be implemented as a custom CSS property passed through inline style on the root element as <code>--fill-volume</code>
</td>
  <td>String (Hex value)</td>
  <td><code>sage-color(sage)</code></td>
</tr>
<tr>
  <td>fillBackground</td>
  <td>The fill color for the background (no volume).
  This should be implemented as a custom CSS property passed through inline style on the root element as <code>--fill-background</code>
</td>
  <td>String (Hex value)</td>
  <td><code>sage-color(charcoal)</code></td>
</tr>
