<tr>
  <td>volume</td>
  <td>
    A value between 0 (no sound) and 1 (full volume) can be used in order to
    animate the volumme level.
    Where custom properties are supported this can be passed using <code>--volume</code>,
    or the volume value can be used to set <code>transform: scaleY(volume)<code> on
    <code>.sage-live-active-mic__volume</code>.
  </td>
  <td>Number</td>
  <td><code>0</code></td>
</tr>
