<button class="sage-live-stream-control <%= modifiers %>">
  <i class="sage-live-stream-control__icon sage-icon-<%= icon %>" aria-label="<%= iconLabel %>"></i>
  <% if isPill -%>
    <span class="sage-live-stream-control__label"><%= label %></span>
  <%- end %>
</button>