<div class="sage-live-stream-demo-wrapper">
  <button class="sage-live-stream-control">
    <i class="sage-live-stream-control__icon sage-icon-microphone"></i>
    <span class="visually-hidden">Button label</span>
  </button>

  <!-- Inactive variation -->
  <button class="sage-live-stream-control sage-live-stream-control--inactive">
    <i class="sage-live-stream-control__icon sage-icon-microphone-off"></i>
    <span class="visually-hidden">Button label</span>
  </button>

  <!-- Flat variation -->
  <button class="sage-live-stream-control sage-live-stream-control--flat">
    <i class="sage-live-stream-control__icon sage-icon-microphone"></i>
    <span class="visually-hidden">Button label</span>
  </button>

  <!-- Start/stop variation -->
  <button class="sage-live-stream-control sage-live-stream-control--start">
    <i class="sage-live-stream-control__icon sage-icon-play"></i>
    <span class="visually-hidden">Play</span>
  </button>
  <button class="sage-live-stream-control sage-live-stream-control--stop">
    <i class="sage-live-stream-control__icon sage-icon-stop"></i>
    <span class="visually-hidden">Stop</span>
  </button>

  <!-- Pill variation -->
  <button class="sage-live-stream-control sage-live-stream-control--pill">
    <i class="sage-live-stream-control__icon sage-icon-users"></i>
    <span class="sage-live-stream-control__label">324</span>
  </button>
</div>