/* ==================================================
  ** Icons

  Unicode map for icons
================================================== */

@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

@function sage-icon($icon-name) {
  @return map-get($sage-icons, $icon-name);
}

$sage-icons: (
  menu: unicode(ea02),
  launch: unicode(ea03),
  search: unicode(ea04),
  monitor: unicode(ea05),
  tag: unicode(ea06),
  megaphone: unicode(ea07),
  user-circle: unicode(ea08),
  gear: unicode(ea09),
  pen: unicode(ea0a),
  file: unicode(ea0b),
  image: unicode(ea0c),
  folder: unicode(ea0d),
  users: unicode(ea0e),
  chart: unicode(ea0f),
  preview-on: unicode(ea10),
  preview-off: unicode(ea11),
  comment: unicode(ea12),
  conversation: unicode(ea13),
  add: unicode(ea14),
  remove: unicode(ea15),
  3-dot-menu: unicode(ea16),
  url: unicode(ea17),
  trash: unicode(ea18),
  cart: unicode(ea19),
  delete-key: unicode(ea1a),
  delete-x: unicode(ea1b),
  send-message: unicode(ea1c),
  mail: unicode(ea1d),
  loop: unicode(ea1e),
  restore: unicode(ea1f),
  clock: unicode(ea20),
  calendar-date: unicode(ea21),
  calendar-schedule: unicode(ea22),
  drop: unicode(ea23),
  lock: unicode(ea24),
  user: unicode(ea25),
  user-star: unicode(ea26),
  favorite: unicode(ea27),
  star: unicode(ea28),
  check: unicode(ea29),
  check-circle: unicode(ea2a),
  remove-circle: unicode(ea2b),
  add-circle: unicode(ea2c),
  delete-circle: unicode(ea2d),
  info-circle: unicode(ea2e),
  question-circle: unicode(ea2f),
  warning: unicode(ea30),
  download: unicode(ea31),
  enlarge-vertical: unicode(ea32),
  enlarge: unicode(ea33),
  arrow-up: unicode(ea34),
  arrow-right: unicode(ea35),
  arrow-left: unicode(ea36),
  arrow-down: unicode(ea37),
  caret-up: unicode(ea39),
  caret-right: unicode(ea3a),
  caret-down: unicode(ea3b),
  caret-left: unicode(ea3c),
  search-small: unicode(ea3d),
  add-small: unicode(ea3e),
  up-small: unicode(ea3f),
  right-small: unicode(ea40),
  down-small: unicode(ea41),
  left-small: unicode(ea42),
  microphone: unicode(ea43),
  microphone-off: unicode(ea44),
  video-on: unicode(ea45),
  video-off: unicode(ea46),
  screen-share-on: unicode(ea47),
  screen-share-off: unicode(ea48),
  play: unicode(ea49),
  stop: unicode(ea4a),
);
