@function sage-spacing($key: md) {
  $value: map-get($sage-spacings, $key);
  @return $value;
}

$sage-spacings: (
  2xs: 0.25rem, // 4px
  xs: 0.5rem, // 8px
  sm: 1rem, // 16px
  md: 1.5rem, // 24px
  lg: 2rem // 32px
);
