/* ==================================================
  ** _button.scss
  type: element


================================================== */

// ==================================================
// MIXINS
// ==================================================

@mixin button-style-base {
  @include button-style-reset();
  @extend %t-sage-body-med;

  position: relative;
  padding: rem(12px) sage-spacing(sm);
  margin-bottom: sage-spacing(sm);
  margin-right: sage-spacing(2xs);
  letter-spacing: $sage-btn-letter-spacing;
  color: sage-color(charcoal, 500);
  border: $sage-btn-border-width solid currentColor;
  border-radius: $sage-btn-border-radius;
  box-shadow: $sage-btn-shadow-base;
  transition: border $sage-btn-transition, background-color $sage-btn-transition, box-shadow $sage-btn-transition;
}

@mixin button-style-disabled {
  box-shadow: none;
  transition: none;
  cursor: not-allowed;

  &:hover:not(:focus):not(:active):not(:disabled):not(.disabled),
  &:focus,
  &:active {
    border-color: transparent;
    outline: none;
  }
}

// TODO: Re-evaluate whether these need to be "on" these elements by default.
button,
input[type="submit"],
input[type="search"] {
  .sage-type & {
    @include button-style-base;
  }
}

.sage-btn {
  @include button-style-base;

  // add space between adjacent buttons
  + .sage-btn {
    margin-left: sage-spacing(xs);
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0) scale(0.94);
    width: calc(100% + (#{$sage-btn-focus-outline-width * 1px} + #{$sage-btn-focus-outline-size * 1.8}));
    height: calc(100% + (#{$sage-btn-focus-outline-width * 1px} + #{$sage-btn-focus-outline-size * 1.8}));
    border: ($sage-btn-focus-outline-width * 1px) solid $sage-btn-focus-outline-color;
    border-radius: sage-border(radius-large);
    transition: opacity 0.15s ease-out 0.05s, transform 0.2s ease-in-out;
    pointer-events: none;
    opacity: 0;
  }

  &:hover,
  &:focus,
  &:active {
    color: sage-color(charcoal, 200);
    border-color: sage-color(charcoal, 100);
  }

  &:focus {
    box-shadow: $sage-btn-shadow-base;
    outline: none;
  }

  &:focus:not(:disabled):not(.disabled),
  &:active:not(:disabled):not(.disabled) {
    &::after {
      transform: translate3d(-50%, -50%, 0) scale(1);
      opacity: 1;
    }
  }

  &:active {
    color: sage-color(charcoal, 400);
    border-color: sage-color(charcoal, 200);
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    @include button-style-disabled;

    color: sage-color(grey);
    background-color: sage-color(grey, 100);
  }
}

.sage-btn--primary {
  color: $sage-btn-primary-text-color;
  background-color: $sage-btn-primary-bg-color;
  border-color: $sage-btn-primary-bg-color;

  &::after {
    border-color: $sage-btn-primary-bg-color;
  }

  &:hover:not(:focus):not(:active):not(:disabled):not(.disabled),
  &:focus,
  &:active {
    color: $sage-btn-primary-text-color;
    border-color: transparent;
  }

  &:hover:not(:focus):not(:active):not(:disabled):not(.disabled) {
    background-color: lighten($sage-btn-primary-bg-color, 9%);
  }

  &:focus {
    background-color: $sage-btn-primary-bg-color;
    box-shadow: $sage-btn-shadow-base;
  }

  &:active {
    background-color: darken($sage-btn-primary-bg-color, 11%);
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    @include button-style-disabled;

    color: sage-color(primary, 200);
    background-color: sage-color(primary, 100);
    border-color: transparent;
  }
}

.sage-btn--secondary {
  color: $sage-btn-secondary-text-color;
  background: sage-color(white);
  border: 1px solid transparent;

  &::after {
    border-color: sage-color(primary);
  }

  &:hover:not(:focus):not(:active):not(:disabled):not(.disabled) {
    color: $sage-btn-secondary-text-color;
    border-color: transparent;
    box-shadow: $sage-btn-shadow-hover;
  }

  &:focus {
    border: 1px solid sage-color(grey, 300);
  }

  &:active {
    background-color: sage-color(grey, 200);
    border: 1px solid sage-color(grey, 300);
  }

  &:disabled,
  &.disabled {
    @include button-style-disabled;

    color: sage-color(grey, 400);
    background-color: sage-color(grey, 200);
    border-color: transparent;

    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
      box-shadow: none;
    }
  }
}

.sage-btn--tertiary {
  color: $sage-btn-tertiary-text-color;
  background: sage-color(white);
  border: none;
  box-shadow: none;

  &::after {
    border-color: sage-color(primary);
  }

  &:hover:not(:focus):not(:active):not(:disabled):not(.disabled) {
    color: $sage-btn-tertiary-text-color;
    // border-color: transparent;
    // box-shadow: $sage-btn-shadow-hover;
    background-color: sage-color(grey, 200);
  }

  &:focus {
    color: $sage-btn-tertiary-text-color;
    background: sage-color(white);
    border-color: sage-color(white);
    box-shadow: none;
  }

  &:active {
    color: $sage-btn-tertiary-text-color;
    background-color: sage-color(grey, 300);
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    @include button-style-disabled;

    color: sage-color(primary, 200);
    background-color: transparent;
  }
}

.sage-btn--danger {
  color: $sage-btn-danger-text-color;
  background: $sage-btn-danger-bg-color;
  border-color: transparent;
  box-shadow: $sage-btn-shadow-base;

  &::after {
    z-index: sage-z-index();
    border-color: $sage-btn-danger-bg-color;
  }

  &:hover,
  &:focus,
  &:active {
    color: $sage-btn-danger-text-color;
    border-color: transparent;
  }

  &:hover:not(:focus):not(:active):not(:disabled):not(.disabled) {
    background-color: saturate(lighten($sage-btn-danger-bg-color, 6%), 5%);
    box-shadow: $sage-btn-shadow-hover;
  }

  &:focus {
    box-shadow: $sage-btn-shadow-base;
  }

  &:active {
    background-color: darken($sage-btn-danger-bg-color, 4%);
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    @include button-style-disabled;

    color: sage-color(red, 200);
    background-color: sage-color(red, 100);
    border-color: transparent;
  }
}

@mixin button-icon-generator($direction) {
  $right: null;

  @if $direction == right {
    $right: true;
  } @else if $direction == left {
    $right: false;
  } @else {
    @error "button-icon-generator() requires argument value of either `right` or `left`";
  }

  @each $icon-name, $icon-code in $sage-icons {
    .sage-btn--icon-#{if($right, "right", "left")}-#{$icon-name} {
      display: inline-flex;
      align-items: baseline;
      flex-direction: if($right, row-reverse, row);

      &::before {
        @include icon-base($icon-name);
        margin: if($right, 0 0 0 sage-spacing(xs), 0 sage-spacing(xs) 0 0);
        align-self: center;
      }
    }
  }
}

@include button-icon-generator(left);
@include button-icon-generator(right);

.sage-btn--link {
  // TBD
}
