/* ==================================================
  ** dropdown
  type: element



================================================== */

.sage-dropdown {
  position: relative;
  height: $sage-dropdown-height;

  &:not(:last-child) {
    margin-bottom: $sage-dropdown-spacing;
  }

  &::after {
    @include icon-base(caret-down);
    top: 0;
    bottom: 0;
    right: sage-spacing(sm);
    margin: auto 0;
    position: absolute;
    align-items: center;
    color: sage-color(grey, 500);
  }

  &.sage-dropdown--active::after {
    @include icon-base(caret-up);
    color: sage-color(primary);
  }

  &:hover::after {
    color: sage-color(primary);
  }
}

.sage-dropdown__field {
  position: relative;
  height: 100%;
  width: 100%;
  padding: $sage-dropdown-padding-offset $sage-dropdown-padding-x;
  color: $sage-dropdown-color-default;
  line-height: 1;
  appearance: none;
  border: $sage-dropdown-border-width solid $sage-dropdown-border-color;
  border-radius: $sage-dropdown-border-radius;
  background: transparent;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: context-menu;
  outline: none;

  @include placeholder { color: inherit; }

  .sage-dropdown:hover & {
    border-color: $sage-dropdown-color-success;
    box-shadow: $sage-dropdown-box-shadow-size $sage-dropdown-color-success;

    @include placeholder { color: transparent; }
  }

  .sage-dropdown--active & {
    border-color: $sage-dropdown-color-success;
    box-shadow: $sage-dropdown-box-shadow-size $sage-dropdown-color-success;
    border-radius: $sage-dropdown-border-radius $sage-dropdown-border-radius 0 0;
    padding-bottom: $sage-dropdown-padding-filled;
    z-index: 9999;

    @include placeholder { color: transparent; }
  }

  .sage-dropdown--selected & {
    padding-bottom: $sage-dropdown-padding-filled;

    @include placeholder { color: transparent; }
  }
}

.sage-dropdown__label {
  @extend %t-sage-body-xsmall-semi;

  position: absolute;
  transform: translateY(calc(#{$sage-body-font-size} * -1));
  left: $sage-dropdown-padding-x;
  padding: 0 $sage-dropdown-padding-label;
  font-weight: sage-font-weight(semibold);
  top: 50%;
  white-space: nowrap;
  color: inherit;
  background-color: $sage-dropdown-bg-label;
  pointer-events: none;
  opacity: 0;

  @media screen and (min-width: sage-breakpoint(sm-min)) {
    white-space: normal;
  }

  @mixin floating-label {
    transform: translateY(-($sage-body-font-size + $sage-dropdown-padding-filled)); // IE doesn't support calc in transforms
    transform: translateY(calc(-50% - (#{$sage-body-font-size} - #{$sage-dropdown-padding-filled})));
    opacity: 1;
  }

  .sage-dropdown:hover &,
  .sage-dropdown--active & {
    @include floating-label();

    color: $sage-dropdown-color-success;
    transition: opacity 0.15s ease-out, transform 0.15s ease-in-out, color 0.15s ease-out;
  }

  .sage-dropdown--selected & {
    @include floating-label();

    transition: opacity 0.15s ease-out, transform 0.15s ease-in-out, color 0.15s ease-out;
  }
}

.sage-dropdown__dropdown {
  padding: 0;
  margin: 1px -1px 0;
  border-radius: 0 0 $sage-dropdown-border-radius $sage-dropdown-border-radius;
  background: sage-color(white);
  z-index: 1000000;
  position: relative;
  box-shadow: sage-shadow(sm);
  opacity: 0;
  top: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  will-change: opacity, transform, visibility;
  transition: 0.15s opacity ease-in-out,
              0.15s transform ease-in-out;

  &::after {
    $-height: 20px;

    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: $-height;
    position: absolute;
    background: linear-gradient(
      rgba(sage-color(white), 0),
      rgba(sage-color(white), 1)
    );
  }

  .sage-dropdown--active & {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
  }
}

.sage-dropdown__search-container {
  position: relative;

  &::before {
    @include icon-base(search);
    position: absolute;
    top: 0;
    bottom: 0;
    left: $sage-dropdown-padding;
    color: sage-color(grey, 500);
    align-items: center;
  }
}

.sage-dropdown__search-field {
  padding: sage-spacing(xs) $sage-dropdown-padding sage-spacing(xs) 44px;
  appearance: none;
  border: 0;
  width: 100%;
  outline: none;
  border-bottom: $sage-dropdown-border-width solid $sage-dropdown-border-color;

  &:hover,
  &:focus,
  &:active {
    background: sage-color(grey, 100);
  }
}

.sage-dropdown__option-container {
  padding: 0;
  margin: 0;
  overflow: scroll;
  scroll-behavior: smooth;
  max-height: 300px;
  padding: 0 0 sage-spacing(sm);
}

.sage-dropdown__option {
  padding: sage-spacing(xs) $sage-dropdown-padding;
  margin: 0;
  list-style: none;
  cursor: pointer;
  user-select: none;

  &.sage-dropdown__option--hidden {
    display: none;
  }

  &:hover:not(.sage-dropdown__option--selected):not(.sage-dropdown__option--focused) {
    box-shadow: inset 2px 0 0 0 sage-color(primary);
    background: sage-color(grey, 100);
  }

  // Selected
  &.sage-dropdown__option--selected:not(.sage-dropdown__option--focused) {
    box-shadow: inset 2px 0 0 0 sage-color(primary);
    background: sage-color(primary, 100);
  }

  &.sage-dropdown__option--selected:not(.sage-dropdown__option--focused):hover {
    box-shadow: inset 3px 0 0 0 sage-color(primary);
  }

  // Keyboard-Focused
  &.sage-dropdown__option--focused:not(.sage-dropdown__option--selected) {
    box-shadow: inset 1px 0 0 1px sage-color(primary);
  }

  &.sage-dropdown__option--focused:not(.sage-dropdown__option--selected):hover {
    box-shadow: inset 2px 0 0 1px sage-color(primary);
  }

  // Selected & Keyboard-Focused
  &.sage-dropdown__option--focused.sage-dropdown__option--selected {
    box-shadow: inset 1px 0 0 1px sage-color(primary);
    background: sage-color(primary, 100);
  }

  &.sage-dropdown__option--focused.sage-dropdown__option--selected:hover {
    box-shadow: inset 2px 0 0 1px sage-color(primary);
  }
}
