/* ==================================================
  ** sage_table
  type: element

================================================== */

.sage-table {
  --table-cell-padding: #{$sage-table-cell-padding-sm};
  --table-heading-padding: #{$sage-table-heading-padding-sm};

  width: 100%;
  max-width: $sage-table-max-width;

  caption {
    @extend #{$sage-table-caption-font-size};
    text-align: $sage-table-caption-alignment;
  }

  thead,
  tfoot {
    color: $sage-table-heading-font-color;
    border-bottom: $sage-table-border;

    td,
    th {
      @extend #{$sage-table-heading-font-size};

      padding: $sage-table-heading-padding-sm;
      padding: var(--table-heading-padding);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  tbody {
    color: $sage-table-cell-font-color;

    tr {
      border-bottom: $sage-table-border;
    }
  }

  td {
    @extend #{$sage-table-cell-font-size};

    padding: $sage-table-cell-padding-sm;
    padding: var(--table-cell-padding);
    color: inherit;
    line-height: sage-line-height(md);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @media screen and (min-width: sage-breakpoint(md-min)) {
    --table-cell-padding: #{$sage-table-cell-padding-lg};
    --table-heading-padding: #{$sage-table-heading-padding-lg};
  }
}

.sage-table--striped {
  tbody {
    tr:nth-child(odd) {
      background-color: sage-color(grey, 100);
    }
  }
}

// Wrapper div required for responsive tables
.sage-table-wrapper {
  position: relative;
}

// Allows overflow scrolling when content exceeds container width
.sage-table-wrapper__overflow {
  overflow: hidden;
  overflow-x: auto;
  padding-right: ($sage-table-overflow-indicator-width / 2);
  -webkit-overflow-scrolling: touch;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $sage-table-overflow-indicator-width;
    background: $sage-table-overflow-indicator-gradient;
  }
}

