/* ==================================================
  ** sage_table
  type: element

================================================== */

$-sage-table-row-color-stripe: sage-color(grey, 100);
$-sage-table-row-color-hover: sage-color(grey, 200);
$-sage-table-cell-focus: sage-color(charcoal);
$-sage-table-cell-truncate-width: 6.5em;


.sage-table {
  --table-cell-padding: #{$sage-table-cell-padding-sm};
  --table-heading-padding: #{$sage-table-heading-padding-sm};

  width: 100%;
  max-width: $sage-table-max-width;

  caption {
    @extend #{$sage-table-caption-font-size};
    text-align: $sage-table-caption-alignment;
  }

  thead,
  tfoot {
    color: $sage-table-heading-font-color;
    border-bottom: $sage-table-border;

    td,
    th {
      @extend #{$sage-table-heading-font-size};

      padding: $sage-table-heading-padding-sm;
      padding: var(--table-heading-padding);
    }

    td:first-child,
    th:first-child {
      padding-left: sage-spacing(sm) / 2;
    }

    td:last-child,
    th:last-child {
      padding-right: sage-spacing(sm) / 2;
    }
  }

  tbody {
    color: $sage-table-cell-font-color;

    tr {
      border-bottom: $sage-table-border;
    }
  }

  td {
    @extend #{$sage-table-cell-font-size};

    padding: $sage-table-cell-padding-sm;
    padding: var(--table-cell-padding);
    color: inherit;
    line-height: sage-line-height(md);

    &:first-child {
      padding-left: sage-spacing(sm) / 2;
    }

    &:last-child {
      padding-right: sage-spacing(sm) / 2;
    }
  }

  @media screen and (min-width: sage-breakpoint(md-min)) {
    --table-cell-padding: #{$sage-table-cell-padding-lg};
    --table-heading-padding: #{$sage-table-heading-padding-lg};
  }
}

.sage-table--condensed {
  thead,
  tfoot,
  tbody {
    td,
    th {
      padding-top: $sage-table-cell-padding-xs;
      padding-bottom: $sage-table-cell-padding-xs;
    }
  }
}


// Alternating rows of striped colors
.sage-table--striped {
  tbody {
    tr:nth-child(odd) {
      background-color: $-sage-table-row-color-stripe;
    }
  }
}


// Selectable rows with checkbox or radio inputs
.sage-table--selectable {
  .sage-row--selectable,
  .sage-row--selectable:nth-child(odd) {
    transition: background 0.1s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      background-color: $-sage-table-row-color-hover;
    }

    &:focus-within {
      background-color: $-sage-table-row-color-hover;
    }
  }
}


// Wrapper div required for responsive tables
.sage-table-wrapper {
  position: relative;
}

// Allows overflow scrolling when content exceeds container width
.sage-table-wrapper__overflow {
  overflow: hidden;
  overflow-x: auto;
  padding-right: ($sage-table-overflow-indicator-width / 2);
  -webkit-overflow-scrolling: touch;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $sage-table-overflow-indicator-width;
    background: $sage-table-overflow-indicator-gradient;
  }
}


// Text overflow treatment in individual cells
.sage-table-cell--truncate {
  overflow: hidden;
  max-width: $-sage-table-cell-truncate-width;
  white-space: nowrap;
  text-overflow: ellipsis;
}


// Stacked block content within cells
.sage-table-cell__block {
  display: flex;
  flex-direction: column;
  color: inherit;
}

.sage-table-cell__heading,
.sage-table-cell__body {
  display: inline-flex;
  align-items: center;
}

.sage-table-cell__title {
  font-weight: sage-font-weight(semibold);
}

.sage-table-cell__body {
  margin-top: sage-spacing(2xs);
}

.sage-table-cell__link {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  color: inherit;

  &:focus,
  &:hover,
  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: 1px dotted $-sage-table-cell-focus;
    outline-offset: 1px;
  }

  .sage-table-cell--truncate & {
    display: inline;
  }
}

.sage-table-cell__label {
  .sage-table-cell__block &,
  .sage-table-cell__link & {
    margin-left: 0.5em;
    text-decoration: none;
  }
}
