/* ==================================================
  ** sage_table
  type: element

================================================== */

.sage-table {
  --table-cell-padding: #{sage-spacing(sm)} #{sage-spacing(xs)};

  table-layout: initial;
  width: 100%;
  max-width: $sage-table-max-width;

  thead {
    color: $sage-table-heading-text-color;
    border-bottom: $sage-table-border;

    td {
      @extend %t-sage-heading-6;
    }
  }

  tbody {
    color: $sage-table-cell-text-color;

    tr {
      border-bottom: $sage-table-border;
    }
  }

  td {
    @extend %t-sage-body-small;

    padding: $sage-table-cell-padding;
    padding: var(--table-cell-padding);
    color: inherit;
    line-height: sage-line-height(md);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  @media screen and (min-width: sage-breakpoint(md-min)) {
    --table-cell-padding: #{sage-spacing(md)} #{sage-spacing(sm)};
  }
}

.sage-table--striped {
  tbody {
    tr:nth-child(odd) {
      background-color: sage-color(grey, 100);
    }
  }
}

// Allows overflow scrolling when content exceeds container width
.sage-table--responsive {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: $sage-table-overflow-indicator-width;
    background: $sage-table-overflow-indicator-gradient;
  }
}

// Additional wrapper div required for responsive tables
.sage-table__wrapper {
  .sage-table--responsive & {
    overflow: hidden;
    overflow-x: auto;
    padding-right: ($sage-table-overflow-indicator-width / 2);
    -webkit-overflow-scrolling: touch;
  }
}

