<button type="button" data-js-tabs-target="<%= target %>" class="sage-choice">
  <div class="sage-choice__content">
    <em class="sage-choice__text"><%= text %></em>
    <% if subtext %>
    <span class="t-sage-body-small t-sage--color-charcoal"><%= subtext %></span>
    <% end %>
  </div>
</button>
