<h3 class="t-sage-heading-6">Single Line</h3>

<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1"
  }
%>

<h3 class="t-sage-heading-6">Multi-Line</h3>

<%= sage_component SageChoice, {
    target: "example",
    text: "Option 1",
    subtext: "Description of Option 1"
  }
%>
