<h4>Initial State</h4>
<%= render "examples/objects/upload_card/markup" %>

<h4>Selected File State</h4>
<%= render "examples/objects/upload_card/markup",
  file_selected: true
%>

<h4>Error State</h4>
<%= render "examples/objects/upload_card/markup",
  errors: [
    "Your file is too large."
  ]
%>
