<nav class="sage-nav" aria-label="Main">
  <ul class="sage-nav__list">
    <% nav_links.each do |link| %>
    <li>
      <a href="<%= link[:url] %>" class="sage-nav__link<%= link[:is_sublink] ? " sage-nav__link--sub" : "" %><%= link[:is_active] ? " sage-nav__link--active" : "" %>"><%= link[:text] %></a>
    <% end %>
    </li>
  </ul>
</nav>