<div class="sage-form-section">
  <div class="sage-form-section__info">
    <h3 class="sage-form-section__title"><%= title %></h3>
    <p class="sage-form-section__subtitle"><%= sub_title %></p>
  </div>
  <div class="sage-form-section__content">
    <div class="sage-form-section__panel">
      <!-- Start Of Content -->
      <%= sage_component SageAlert, {
        title: "Form Section Content Will Go Here",
        desc: "This component is designed to be very flexible and take any sort of content you want to pass to it.",
        icon_name: "sage-icon-info-circle",
      } %>
      <!-- End Of Content -->
    </div>
  </div>
</div>
