/* ==================================================
  ** _content.scss

  sage primary page container
================================================== */

.sage-content {
  flex: 1;
  overflow: auto;
  padding: sage-spacing() 0;
  background: sage-color(grey, 100);
  scroll-behavior: smooth;
}
