@mixin sage-container-default {
  max-width: sage-container(md);
  margin: 0 auto;
  padding: 0 sage-spacing(md);
}

.sage-container {
  @include sage-container-default();
}

.sage-container--xs {
  @include sage-container-default();
  max-width: sage-container(xs);
}

.sage-container--sm {
  @include sage-container-default();
  max-width: sage-container(sm);
}

.sage-container--lg {
  @include sage-container-default();
  max-width: sage-container(lg);
}

.sage-container--fluid {
  @include sage-container-default();
  max-width: sage-container(fluid);
}

