.sage-container {
  margin: 0 auto;
  padding: 0 $sage-spacing;
  max-width: $sage-container-width;
  &--sm {
    @extend .sage-container;
    max-width: $sage-container-width-sm;
  }
  &--fluid {
    @extend .sage-container;
    max-width: $sage-container-width-fluid;
  }
}
