.sage-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -$sage-grid-spacing;
  margin-right: -$sage-grid-spacing;
}
.sage-col {
  flex-basis: 100%;
  padding: 0 $sage-grid-spacing;
  @for $sage-i from 1 through $sage-grid-columns {
    &--#{$sage-i} {
      @extend .sage-col;
    }
  }
}

@media (min-width: $sage-sm-max) {
  .sage-col {
    flex: 1;
    @for $sage-i from 1 through $sage-grid-columns {
      &--#{$sage-i} {
        flex-basis: percentage($sage-i / $sage-grid-columns);
        max-width: percentage($sage-i / $sage-grid-columns);
      }
    }
  }
}
