// ============================================
// Variables
// ============================================

$sage-grid-columns-sm: 12;
$sage-grid-columns-md: 12;
$sage-grid-columns-lg: 12;

$sage-grid-gap-sm: sage-spacing(sm);
$sage-grid-gap-md: sage-spacing(sm);
$sage-grid-gap-lg: sage-spacing(sm);

// ============================================
// Rows
// ============================================

.sage-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(#{$sage-grid-gap-md} / -2);
  margin-right: calc(#{$sage-grid-gap-md} / -2);
}

// ============================================
// Columns
// ============================================

.sage-col {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 calc(#{$sage-grid-gap-md} / 2);

  // TODO: create a mixin/function to reduce duplication below
  @for $sage-i from 1 through $sage-grid-columns-sm {
    &--sm-#{$sage-i} {
      @extend .sage-col;
    }
  }

  @for $sage-i from 1 through $sage-grid-columns-md {
    &--md-#{$sage-i} {
      @extend .sage-col;
    }
  }

  @for $sage-i from 1 through $sage-grid-columns-lg {
    &--lg-#{$sage-i} {
      @extend .sage-col;
    }
  }
}

// TODO: create a mixin/function to reduce duplication
@media (min-width: sage-breakpoint(sm-min)) {
  .sage-col {
    @for $sage-i from 1 through $sage-grid-columns-sm {
      &--sm-#{$sage-i} {
        flex: 0 1 auto;
        width: percentage($sage-i / $sage-grid-columns-sm);
      }
    }
  }
}

@media (min-width: sage-breakpoint(md-min)) {
  .sage-col {
    @for $sage-i from 1 through $sage-grid-columns-md {
      &--md-#{$sage-i} {
        flex: 0 1 auto;
        width: percentage($sage-i / $sage-grid-columns-md);
      }
    }
  }
}

@media (min-width: sage-breakpoint(lg-min)) {
  .sage-col {
    @for $sage-i from 1 through $sage-grid-columns-lg {
      &--lg-#{$sage-i} {
        flex: 0 1 auto;
        width: percentage($sage-i / $sage-grid-columns-lg);
      }
    }
  }
}
