.sage-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: - sage-spacing(sm);
  margin-right: - sage-spacing(sm);
}
.sage-col {
  flex-basis: 100%;
  padding: 0 sage-spacing(sm);
  @for $sage-i from 1 through 12 {
    &--#{$sage-i} {
      @extend .sage-col;
    }
  }
}

@media (min-width: sage-breakpoint()) {
  .sage-col {
    flex: 1;
    @for $sage-i from 1 through 12 {
      &--#{$sage-i} {
        flex-basis: percentage($sage-i / 12);
        max-width: percentage($sage-i / 12);
      }
    }
  }
}
