<div class="sage-row">
  <div class="sage-col-4">
    <div class="colors">
      <div class="color-blue-light"></div>
      <div class="color-blue"></div>
      <div class="color-blue-dark"></div>
    </div>
  </div>
  <div class="sage-col-4">
    <div class="colors">
      <div class="color-green-light"></div>
      <div class="color-green"></div>
      <div class="color-green-dark"></div>
    </div>
  </div>
  <div class="sage-col-4">
    <div class="colors">
      <div class="color-orange-light"></div>
      <div class="color-orange"></div>
      <div class="color-orange-dark"></div>
    </div>
  </div>
  <div class="sage-col-4">
    <div class="colors">
      <div class="color-red-light"></div>
      <div class="color-red"></div>
      <div class="color-red-dark"></div>
    </div>
  </div>
  <div class="sage-col-4">
    <div class="colors">
      <div class="color-turquoise-light"></div>
      <div class="color-turquoise"></div>
      <div class="color-turquoise-dark"></div>
    </div>
  </div>
  <div class="sage-col-4">
    <div class="colors">
      <div class="color-purple-light"></div>
      <div class="color-purple"></div>
      <div class="color-purple-dark"></div>
    </div>
  </div>
  <div class="sage-col-4">
    <div class="colors">
      <div class="color-pink-light"></div>
      <div class="color-pink"></div>
      <div class="color-pink-dark"></div>
    </div>
  </div>
  <div class="sage-col-4">
    <div class="colors">
      <div class="color-sky-light"></div>
      <div class="color-sky"></div>
      <div class="color-sky-dark"></div>
    </div>
  </div>
  <div class="sage-col-4">
    <div class="colors">
      <div class="color-white"></div>
      <div class="color-white-dark"></div>
      <div class="color-white-extra-dark"></div>
    </div>
  </div>
  <div class="sage-col-4">
    <div class="colors">
      <div class="color-grey-extra-light"></div>
      <div class="color-grey-light"></div>
      <div class="color-grey"></div>
      <div class="color-grey-dark"></div>
      <div class="color-grey-extra-dark"></div>
    </div>
  </div>
</div>