<code><pre><xmp><i class="icon-[Icon Name]"></i></xmp></pre></code>
<div class="sage-row">
  <div class="sage-col">
    <i class="sage-icon-Help"></i>
  </div>
  <div class="sage-col">
    <i class="sage-icon-Marketing"></i>
  </div>
  <div class="sage-col">
    <i class="sage-icon-New-Window"></i>
  </div>
  <div class="sage-col">
    <i class="sage-icon-People"></i>
  </div>
  <div class="sage-col">
    <i class="sage-icon-Products"></i>
  </div>
  <div class="sage-col">
    <i class="sage-icon-Settings"></i>
  </div>
  <div class="sage-col">
    <i class="sage-icon-Website"></i>
  </div>
</div>