<span class="sage-label sage-label--draft">Default</span>
<div class="example">
  <%= render "examples/elements/breadcrumbs/markup",
    items: [
      {
        text: 'Test 1',
        url: 'http://example.com/1'
      },
      {
        text: 'Test 2',
        url: 'http://example.com/2'
      },
      {
        text: 'Test 3',
        url: 'http://example.com/3'
      }
    ]
  %>
</div>

<span class="sage-label sage-label--draft">Back Link</span>
<div class="example">
  <%= render "examples/elements/breadcrumbs/markup",
    has_back_icon: true,
    items: [
      {
        text: 'Settings',
        url: '#'
      }
    ]
  %>
</div>

<span class="sage-label sage-label--draft">Progress</span>
<div class="example">
  <%= render "examples/elements/breadcrumbs/markup",
    is_progressbar: true,
    items: [
      {
        text: 'Test 1',
        url: 'http://example.com/1'
      },
      {
        text: 'Test 2',
        url: 'http://example.com/2',
        is_current: true
      },
      {
        text: 'Test 3',
        url: 'http://example.com/3'
      }
    ]
  %>
</div>