<p>Tell the developers a bit about how you expect this piece of code to be used. Be sure to point out anything that would not be clear simply by looking at the example above.</p>
<div class="sage-row">
  <div class="sage-col--md-6">
    <div class="sage-banner--success">
      <p class="sage-banner__title">Do</p>
      <p class="sage-banner__copy">An exmaple of proper use cases for this piece of code.</p>
    </div>
  </div>
  <div class="sage-col--md-6">
    <div class="sage-banner--danger">
      <p class="sage-banner__title">Don't</p>
      <p class="sage-banner__copy">An exmaple of a poor use cases for this piece of code.</p>
    </div>
  </div>
</div>