// ==================================================
// CSS CUSTOM PROPERTIES
// ==================================================

/*
  Place global custom properties here.
  These should be limited to properties that are _expected_ to change
  via media query, JS, or some other action/method, not used as static variables
*/

// :root {
//   --something: something;
// }


// ==================================================
// MISC GLOBAL STANDARDS
// ==================================================
$sage-transition: 0.1s ease-in-out !default;

// ==================================================
// TYPOGRAPHY
// ==================================================

// Font definitions
$sage-body-font-name: "Inter" !default;
$sage-body-font-stack: $sage-body-font-name, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", sans-serif !default;
$sage-body-font-path: "inter" !default;  // pathname of font directory
$sage-body-font-version: 3.12 !default;

// Text
$sage-body-font-size: 1rem !default; // 16px
$sage-body-font-weight: sage-font-weight() !default;
$sage-body-font-line-height: sage-line-height(lg) !default;
$sage-body-font-color: sage-color(charcoal, 400) !default;
$sage-body-letter-spacing: sage-letter-spacing(sm) !default;  // 3px
$sage-body-margin-bottom: sage-spacing() !default;

// Headings
$sage-heading-font-color: sage-color(charcoal, 500) !default;
$sage-heading-margin-bottom: sage-spacing() !default;


// ==================================================
// GRID
// ==================================================

$sage-grid-columns: 12 !default;

$sage-grid-gap-sm: sage-spacing(sm) !default;
$sage-grid-gap-md: sage-spacing(sm) !default;
$sage-grid-gap-lg: sage-spacing(sm) !default;


// ==================================================
// FORM ELEMENTS
// ==================================================

$sage-form-element-spacing: 1rem !default;


// ==================================================
// BUTTONS
// ==================================================

// Base styles
$sage-btn-transition: $sage-transition !default;
$sage-btn-border-width: 0.125rem !default;
$sage-btn-border-radius: sage-border(radius) !default;
$sage-btn-letter-spacing: $sage-body-letter-spacing !default;
$sage-btn-shadow-base: sage-shadow(sm) !default;
$sage-btn-shadow-hover: sage-shadow(md) !default;

// Focus outline
$sage-btn-focus-outline-size: sage-spacing(xs) !default;
$sage-btn-focus-outline-width: 1 !default;
$sage-btn-focus-outline-color: currentColor !default;

// Primary button
$sage-btn-primary-bg-color: sage-color(primary) !default;
$sage-btn-primary-bg-active-color: darken($sage-btn-primary-bg-color, 11%) !default;
$sage-btn-primary-bg-hover-color: lighten($sage-btn-primary-bg-color, 9%) !default;
$sage-btn-primary-text-color: sage-color(white) !default;

// Secondary button
$sage-btn-secondary-text-color: sage-color(charcoal, 400) !default;

// Danger button
$sage-btn-danger-bg-color: sage-color(red) !default;
$sage-btn-danger-text-color: sage-color(white) !default;

// Menu button
$sage-menubtn-toggle-size: 1.5rem !default; // 24px
$sage-menubtn-toggle-line-color: sage-color(grey, 100) !default;
$sage-menubtn-toggle-line-height: 0.125rem !default; // 2px
$sage-menubtn-toggle-radius: 0.125rem !default; // 2px
$sage-menubtn-focus-outline-size: sage-spacing(xs) !default;
$sage-menubtn-focus-outline-width: 1 !default;
$sage-menubtn-focus-outline-color: currentColor !default;


// ==================================================
// INPUT FIELDS
// ==================================================

$sage-inputfield-font-size: $sage-body-font-size !default;
$sage-inputfield-letter-spacing: $sage-body-letter-spacing !default;

// Floating label
$sage-inputfield-label-font-size: 0.6875rem !default;
$sage-inputfield-label-font-weight: sage-font-weight(semibold) !default;

// Border
$sage-inputfield-border-radius: sage-border(radius) !default;
$sage-inputfield-border-width: 0.0625rem !default;  // 1px
$sage-inputfield-box-shadow-size: 0 0 0 0.0625rem !default;

// Sizing
$sage-inputfield-height: 3.5rem !default;  // 56px
$sage-inputfield-padding: 1.125rem !default;  // 18px
$sage-inputfield-padding-offset: $sage-inputfield-padding - $sage-inputfield-border-width;
$sage-inputfield-padding-filled: 0.25rem !default;

// Spacing
$sage-inputfield-spacing: 2rem !default;

// Colors
$sage-inputfield-color-default: sage-color(charcoal) !default;
$sage-inputfield-color-disabled: sage-color(grey, 400) !default;
$sage-inputfield-color-default: sage-color(grey, 300) !default;
$sage-inputfield-color-success: sage-color(primary) !default;
$sage-inputfield-color-error: sage-color(red) !default;
$sage-inputfield-bg-disabled: sage-color(grey, 100) !default;


// ==================================================
// TEXTAREAS
// ==================================================

$sage-textarea-font-size: $sage-inputfield-font-size !default;
$sage-textarea-line-height: calc(30 / 16) !default;
$sage-textarea-letter-spacing: $sage-inputfield-letter-spacing !default;

// Floating label
$sage-textarea-label-font-size: $sage-inputfield-label-font-size !default;
$sage-textarea-label-font-weight: $sage-inputfield-label-font-weight !default;

// Border
$sage-textarea-border-radius: $sage-inputfield-border-radius !default;
$sage-textarea-border-width: $sage-inputfield-border-width !default;
$sage-textarea-box-shadow-size: $sage-inputfield-box-shadow-size !default;

// Sizing
$sage-textarea-min-height: $sage-inputfield-height !default;
$sage-textarea-padding: $sage-inputfield-padding !default;
$sage-textarea-padding-offset: 0.5rem !default;
$sage-textarea-padding-filled: 1.75rem !default;

// Spacing
$sage-textarea-spacing: $sage-inputfield-spacing !default;

// Colors
$sage-textarea-color-default: $sage-inputfield-color-default !default;
$sage-textarea-color-disabled: $sage-inputfield-color-disabled !default;
$sage-textarea-color-success: $sage-inputfield-color-success !default;
$sage-textarea-color-error: $sage-inputfield-color-error !default;
$sage-textarea-bg-disabled: $sage-inputfield-bg-disabled !default;


// ==================================================
// CHECKBOXES
// ==================================================

// Colors
$sage-checkbox-color-default: sage-color(grey, 400) !default;
$sage-checkbox-color-checked: sage-color(primary) !default;
$sage-checkbox-color-disabled: sage-color(grey, 200) !default;
$sage-checkbox-color-disabled-checked: sage-color(primary, 200) !default;

$sage-checkbox-size: 1.5rem !default;
$sage-checkbox-border-radius: sage-border(radius) !default;
$sage-checkbox-transition: 0.15s ease-in-out !default;

$sage-checkbox-marker-border: 0.125rem !default;
$sage-checkbox-marker-height: 0.75rem !default;
$sage-checkbox-marker-width: 0.375rem !default;
$sage-checkbox-marker-color: sage-color(white) !default;
$sage-checkbox-marker-rotate: 42.5deg !default;
$sage-checkbox-marker-offset: $sage-checkbox-marker-border * 2 !default;

// Focus state
$sage-checkbox-focus-outline-size: sage-spacing(2xs) !default;
$sage-checkbox-focus-outline-width: 1 !default;
$sage-checkbox-focus-outline-color: sage-color(primary) !default;


// ============================================
// RADIO BUTTONS
// ============================================

// Colors
$sage-radio-color-default: sage-color(grey, 400) !default;
$sage-radio-color-checked: sage-color(primary) !default;
$sage-radio-color-hover: sage-color(grey, 500) !default;
$sage-radio-color-disabled: sage-color(grey, 100) !default;
$sage-radio-color-disabled-checked: sage-color(grey, 300) !default;

$sage-radio-button-size: 1.5rem !default;
$sage-radio-border-radius: sage-border(radius-round) !default;
$sage-radio-transition: 0.15s ease-in-out !default;
$sage-radio-selected-indicator-size: 1rem !default;
$sage-radio-selected-indicator-color: sage-color(white) !default;

// Focus state
$sage-radio-focus-outline-size: sage-spacing(2xs) !default;
$sage-radio-focus-outline-width: 1 !default;
$sage-radio-focus-outline-color: currentColor !default;


// ============================================
// SWITCHES
// ============================================

// Colors
$sage-switch-color-default: sage-color(grey, 400) !default;
$sage-switch-color-default-text: sage-color(charcoal, 300) !default;
$sage-switch-color-checked: sage-color(primary) !default;
$sage-switch-color-disabled: sage-color(grey, 200) !default;
$sage-switch-color-disabled-text: sage-color(grey, 400) !default;
$sage-switch-color-disabled-checked: sage-color(primary, 200) !default;
$sage-switch-color-disabled-checked-text: sage-color(charcoal, 100) !default;

// Switch
$sage-switch-border-radius: 1rem !default;
$sage-switch-height: 1.5rem !default;
$sage-switch-width: 2.75rem !default;

// Toggle
$sage-switch-toggle-size: 1.25rem !default;

// Focus state
$sage-switch-focus-outline-spacing: sage-spacing(2xs) !default;
$sage-switch-focus-outline-width: 1 !default;
$sage-switch-focus-outline-color: sage-color(primary) !default;


// ==================================================
// LOADERS AND SPINNERS
// ==================================================

$sage-loading-bar-bg-color: sage-color(grey) !default;
$sage-loading-bar-height: 0.625rem !default; // 10px
$sage-loading-bar-width: 18.75rem !default; // 300px

$sage-loading-spinner-size: 3rem !default; // 48px
$sage-loading-spinner-speed: 0.9s !default;


// ==================================================
// OVERLAYS
// ==================================================

$sage-overlay-bg-color: rgba(sage-color(charcoal, 100), 0.5) !default;
$sage-overlay-backdrop-filter: blur(0.125rem) !default;
$sage-overlay-z-index: sage-z-index(underlay) !default;
$sage-overlay-transition-default: opacity 0.5s ease-in-out !default;
$sage-overlay-transition-backdrop-filter: backdrop-filter 0.7s ease-in-out !default;


// ==================================================
// PANEL
// ==================================================

$sage-panel-bg-color: sage-color(white) !default;
$sage-panel-padding: sage-spacing(lg) !default;
$sage-panel-border-radius: sage-border(radius) !default;
$sage-panel-box-shadow: sage-shadow(sm) !default;


// ==================================================
// ASSISTANT
// ==================================================

$sage-assistant-height: 3.5rem !default;
$sage-assistant-branding-height: 1.25rem !default; // 20px
$sage-assistant-search-height: 2.5rem !default; // 40px
$sage-assistant-search-bg-color: sage-color(grey, 300) !default;
$sage-assistant-search-bg-opacity: 0.1 !default;
$sage-assistant-search-placeholder-color: sage-color(grey, 400) !default;
$sage-assistant-search-placeholder-transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out !default;


// ==================================================
// TABS
// ==================================================

$sage-tabs-default-color: sage-color(charcoal, 100) !default;
$sage-tabs-default-transition: 0.2s ease-in-out !default;

// Active tab
$sage-tabs-active-color: sage-color(charcoal, 500) !default;
$sage-tabs-active-font-weight: sage-font-weight(semibold) !default;

// Active tab indicator
$sage-tabs-active-border-height: 0.25rem !default; // 4px
$sage-tabs-active-border-width: 100% !default;
$sage-tabs-active-border-color: sage-color(primary) !default;
$sage-tabs-active-border-radius: sage-border(radius) !default;

// ==================================================
// LiVE CONFIGURATIONS
// ==================================================

// Avatars
$sage-live-avatar-ring-width: 1px !default;

// ==================================================
// TOOLTIPS
// ==================================================

$tooltip-background-color: sage-color(charcoal, 400) !default;
$tooltip-light-background-color: sage-color(white) !default;
$tooltip-font-color: sage-color(white) !default;
$tooltip-light-font-color: sage-color(charcoal, 400) !default;
$tooltip-padding: sage-spacing(2xs) sage-spacing(sm) !default;
$tooltip-zindex: sage-z_index(nuclear) !default;
$tooltip-maxwidth: 200px !default;
