@function sage-border($key: default) {
  $value: map-get($sage-borders, $key);
  @return $value;
}

$sage-borders: (
  default: 1px solid sage-color(grey, 300),
  radius: 0.25rem, // 4px
  radius-large: 0.375rem, // 6px
  radius-round: 50%, // rounded
);
