$sage-xs-max: 544px;
$sage-sm-min: $sage-xs-max + 1;
$sage-sm-max: 767px;
$sage-md-min: $sage-sm-max + 1;
$sage-md-max: 991px;
$sage-lg-min: $sage-md-max + 1;
$sage-lg-max: 1199px;
$sage-xl-min: $sage-lg-max + 1;
