@function sage-color($base, $shade: 300) {
  $color: map-get(map-get($sage-colors, $base), $shade);
  @return $color;
}

/*
  Note: color conversions from hex -> HSL performed in-browser and with VSCode did not match values when converted back to hex.
  The most precise results below were obtained from https://htmlcolors.com/color-converter
  ** denotes a mismatched conversion color value from figma hex codes
*/

$sage-colors: (
  primary: (
    100: hsl(204, 93%, 95%), // #e6f4fe
    200: hsl(207, 93%, 77%), // #8ecafb
    300: hsl(211, 100%, 47%), // #0072ef **
    400: hsl(215, 100%, 28%), // #003b8f
    500: hsl(218, 100%, 15%), // #001c4d
  ),
  sage: (
    100: hsl(176, 66%, 92%), // #ddf8f6
    200: hsl(176, 63%, 79%), // #a8ebe6 **
    300: hsl(178, 53%, 55%), // #4fc9c5
    400: hsl(182, 96%, 19%), // #025b5e **
    500: hsl(181, 100%, 8%), // #002829
  ),
  yellow: (
    100: hsl(48, 77%, 95%), // #fcf8e8
    200: hsl(49, 94%, 86%), // #fdf0b9 **
    300: hsl(46, 87%, 54%), // #f0c024
    400: hsl(43, 100%, 29%), // #946a00
    500: hsl(38, 100%, 14%), // #472d00
  ),
  red: (
    100: hsl(0, 60%, 97%), // #fcf3f3
    200: hsl(7, 84%, 85%), // #f9c0b9
    300: hsl(4, 63%, 51%), // #d13e33
    400: hsl(2, 67%, 36%), // #99221e
    500: hsl(2, 78%, 18%), // #520c0a
  ),
  orange: (
    100: hsl(29, 74%, 94%), // #fbefe4
    200: hsl(28, 87%, 76%), // #f7bd8b **
    300: hsl(28, 93%, 59%), // #f89035
    400: hsl(17, 73%, 35%), // #9a3d18
    500: hsl(17, 77%, 15%), // #441a09 **
  ),
  purple: (
    100: hsl(273, 52%, 96%), // #f5effa
    200: hsl(271, 58%, 85%), // #d9c2ef **
    300: hsl(265, 62%, 60%), // #8e5ad8
    400: hsl(260, 48%, 35%), // #4a2e84 **
    500: hsl(260, 57%, 18%), // #251448
  ),
  grey: (
    100: hsl(180, 20%, 99%), // #fcfdfd
    200: hsl(200, 37%, 97%), // #f4f8fa **
    300: hsl(215, 38%, 91%), // #e0e7f1 **
    400: hsl(209, 27%, 79%), // #bbcad8
    500: hsl(210, 20%, 65%), // #94a6b8
  ),
  charcoal: (
    100: hsl(211, 16%, 61%), // #8c9bab
    200: hsl(212, 17%, 40%), // #556577
    300: hsl(210, 17%, 33%), // #465462
    400: hsl(210, 25%, 25%), // #304050
    500: hsl(212, 25%, 20%), // #263240
  ),
);