// blue
$sage-color-blue: #0072ef;
$sage-color-blue-light: #75baff;
$sage-color-blue-dark: #004ac7;

// green
$sage-color-green: #39be4e;
$sage-color-green-light: #75d283;
$sage-color-green-dark: #05931c;

// orange
$sage-color-orange: #fed954;
$sage-color-orange-light: #fee899;
$sage-color-orange-dark: #d8b025;

// red
$sage-color-red: #f0574d;
$sage-color-red-light: #f48d86;
$sage-color-red-dark: #b9332a;

// turquoise
$sage-color-turquoise: #54d1d4;
$sage-color-turquoise-light: #98e4e5;
$sage-color-turquoise-dark: #228385;

// purple
$sage-color-purple: #8552ff;
$sage-color-purple-light: #ab88ff;
$sage-color-purple-dark: #6a42cb;

// pink
$sage-color-pink: #f37694;
$sage-color-pink-light: #f590a9;
$sage-color-pink-dark: #cd3b5f;

// sky
$sage-color-sky: #95e0fe;
$sage-color-sky-light: #bfecfe;
$sage-color-sky-dark: #027eb0;

// white
$sage-color-white: #ffffff;
$sage-color-white-dark: #f9fafb;
$sage-color-white-extra-dark: #f6f8f9;

// grey
$sage-color-grey: #929da9;
$sage-color-grey-light: #d5dade;
$sage-color-grey-extra-light: #f1f2f4;
$sage-color-grey-dark: #697887;
$sage-color-grey-extra-dark: #373f47;
