@function sage-color($base, $shade: 500) {
  $color: map-get(map-get($sage-colors, $base), $shade);
  @return $color;
}

$sage-colors: (
  primary: (
    100: #F6FBFE,
    200: #DDF0FD,
    300: #8ECAFB,
    400: #4CA9FF,
    500: #0072EF,
    600: #0059C7,
    700: #004BAD,
    800: #003B8F,
    900: #002357,
  ),
  success: (
    100: #EDFDFA,
    200: #CFF7F3,
    300: #A8EBE6,
    400: #6EE2DF,
    500: #12A5A5,
    600: #059094,
    700: #007C80,
    800: #025B5E,
    900: #003942,
  ),
  warning: (
    100: #FEFCF6,
    200: #FCF8E8,
    300: #F8DFA0,
    400: #F5D775,
    500: #E6AB0A,
    600: #DB8D06,
    700: #D8800E,
    800: #A44A19,
    900: #823218,
  ),
  danger: (
    100: #FFFAFA,
    200: #FFE5E5,
    300: #FCB0A6,
    400: #FE6C62,
    500: #F0574D,
    600: #DA463E,
    700: #BA2C2D,
    800: #911D1F,
    900: #580F18,
  ),
  gray: (
    white: #ffffff,
    100: #F6F8F9,
    200: #E4E7EB,
    300: #CBD2D9,
    400: #9AA5B1,
    500: #7B8794,
    600: #616E7C,
    700: #54606C,
    800: #3E4C59,
    900: #1F2933,
    black: #000000,
  ),
  orange: (
    100: #FDF4ED,
    200: #F8D2B8,
    300: #F7B28B,
    400: #F6976A,
    500: #EF6D39,
    600: #DF592F,
    700: #CB4928,
    800: #A44A19,
    900: #791E10,
  ),
);