@function sage-font-size($key: md) {
  $value: map-get($sage-font-sizes, $key);
  @return $value;
}

$sage-font-sizes: (
  xs: rem(11.11),
  sm: rem(13.33),
  md: rem(16),
  lg: rem(19.2),
  xl: rem(23.04),
  2xl: rem(27.65),
  3xl: rem(33.18),
  4xl: rem(39.81)
);
