@function sage-font-size($key: md) {
  $value: map-get($sage-font-sizes, $key);
  @return $value;
}

$sage-font-sizes: (
  xs: 0.694rem,
  sm: 0.833rem,
  md: 16px,
  lg: 1.2rem,
  xl: 1.44rem,
  2xl: 1.728rem,
  3xl: 2.074rem,
  4xl: 2.488rem,
);
