@function sage-font-size($key: md) {
  $value: map-get($sage-font-sizes, $key);
  @return $value;
}

$sage-font-sizes: (
  xs: 12px,
  sm: 14px,
  md: 16px,
  lg: 18px,
  xl: 20px,
  2xl: 24px,
  3xl: 30px,
  4xl: 36px,
  5xl: 48px,
  6xl: 64px,
);
