/*------------------------------------*/
/*-- height tokens */
/*------------------------------------*/

@function sage-height($key: default) {
  $value: map-get($sage-heights, $key);
  @return $value;
}

$sage-heights: (
  default: #000000,
);