@function sage-shadow($key: md) {
  $value: map-get($sage-shadows, $key);
  @return $value;
}

$sage-shadows: (
  sm: (0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06)),
  md: (0px 4px 6px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.06)),
  lg: (0px 4px 6px rgba(0, 0, 0, 0.05), 0px 10px 15px rgba(0, 0, 0, 0.1)),
  xl: (0px 10px 10px rgba(0, 0, 0, 0.04), 0px 20px 25px rgba(0, 0, 0, 0.1)),
  2xl: (0px 25px 50px rgba(0, 0, 0, 0.25)),
);
