$sage-spacing: 24px;
$sage-spacing-2xs: 4px;
$sage-spacing-xs: 8px;
$sage-spacing-sm: 16px;
$sage-spacing-lg: 32px;

$sage-container-width: 1200px;
$sage-container-width-sm: 900px;
$sage-container-width-fluid: 100%;

$sage-sidebar-width: 240px;
$sage-sidebar-width-md: 320px;
$sage-sidebar-width-lg: 400px;
