@import url('https://rsms.me/inter/inter.css');
$sage-font-family: 'Inter', sans-serif;
$sage-font-family-variation: 'Inter var', sans-serif;

$sage-font-size: 16px;
$sage-font-size-6xl: 64px;
$sage-font-size-5xl: 48px;
$sage-font-size-4xl: 36px;
$sage-font-size-3xl: 30px;
$sage-font-size-2xl: 24px;
$sage-font-size-xl: 20px;
$sage-font-size-lg: 18px;
$sage-font-size-md: 16px;
$sage-font-size-sm: 14px;
$sage-font-size-xs: 12px;

$sage-font-weight: 400;
$sage-font-weight-semibold: 600;
$sage-font-weight-bold: 800;

$sage-font-height: 1.5;
$sage-font-height-sm: 1.2;