$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size: 16px;
$font-size-3xl: 28px;
$font-size-2xl: 24px;
$font-size-xl: 18px;
$font-size-lg: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;

$font-weight: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

$font-height: 1.5;
$font-height-sm: 1.2;

$font-color: $color-grey-extra-dark;
$font-color-light: $color-grey-dark;
