/* ==================================================
  ** _z_index.scss

  Z-index system
================================================== */

@function sage-z-index($key: default) {
  $value: map-get($sage-z-indexes, $key);
  @return $value;
}

$sage-z-indexes: (
  underlay: -1,
  default: 0,
  raised: 10,
  alert: 20,
  nav: 50,
  overlay: 60,
  modal: 70,
  priority: 80,
  nuclear: 100
);
