<div class="sage-tabs">
  <a href="#" class="sage-tabs__tab sage-tabs__tab--active">Active Page</a>
  <a href="#" class="sage-tabs__tab">Sub Page 1</a>
  <a href="#" class="sage-tabs__tab">Sub Page 2</a>
  <a href="#" class="sage-tabs__tab">Sub Page 3</a>
</div>