<div class="sage-live-stream-header">
  <h1 class="sage-live-stream-header__title">
    <%= title %>
  </h1>
  <p class="sage-live-stream-header__running-time <% if isRecording %>sage-live-stream-header__running-time--recording<% end %>"><%= runningTime %></p>
</div>