<div class="sage-live-stream-wrapper sage-live-stream-wrapper--awake">
    <div class="sage-live-stream-header">
        <h1 class="sage-live-stream-header__title">
            Q&A w/ Lilly Jones
        </h1>
        <p class="sage-live-stream-header__running-time sage-live-stream-header__running-time--recording">00:32:13</p>
    </div>
</div>

<div class="sage-live-stream-wrapper">
    <div class="sage-live-stream-header">
        <h1 class="sage-live-stream-header__title">
            Q&A w/ Lilly Jones
        </h1>
        <p class="sage-live-stream-header__running-time sage-live-stream-header__running-time--recording">00:32:13</p>
    </div>
</div>