<!-- Awake, meeting in progress -->
<div class="sage-live-stream-wrapper sage-live-stream-wrapper--awake">
  <%= render "sage/examples/objects/live_stream_header/markup", 
    isAwake: true, 
    isRecording: true,
    title: 'Q&A w/ Lilly Jones',
    runningTime: '00:32:13'
  %>
</div>

<!-- Awake but meeting not started -->
<div class="sage-live-stream-wrapper sage-live-stream-wrapper--awake">
  <%= render "sage/examples/objects/live_stream_header/markup", 
    isAwake: true, 
    isRecording: false,
    title: 'Q&A w/ Lilly Jones',
    runningTime: 'Meeting has not started'
  %>
</div>

<!-- Constant, meeting in progress -->
<div class="sage-live-stream-wrapper">
  <%= render "sage/examples/objects/live_stream_header/markup", 
    isAwake: false, 
    isRecording: true,
    title: 'Q&A w/ Lilly Jones',
    runningTime: '00:32:13'
  %>
</div>