<div class="sage-assistant">
  <div class="sage-assistant__body"></div>
  <div class="sage-assistant__actions">
    <%= link_to "View On Github", "https://github.com/Kajabi/sage", class: "sage-btn--primary" %>
  </div>
</div>