<div class="sage-assistant">
  <div class="sage-assistant-body"></div>
  <div class="sage-assistant-actions">
    <%= link_to "Public Docs", "https://themes.kajabi.com/sage/", class: "sage-btn" %>
    <%= link_to "View On Github", "https://github.com/Kajabi/sage", class: "sage-btn-primary" %>
  </div>
</div>