<div class="sage-assistant">
  <%= image_tag("sage/sage.svg", class: "sage-assistant__branding")%>
  <div class="sage-assistant__body">
    <div class="sage-container--sm">
      <input type="text" class="sage-assistant__search" placeholder="Search...">
    </div>
  </div>
  <div class="sage-assistant__actions"></div>
</div>