<nav class="sage-pagination" role="navigation" aria-label="Pagination Navigation">
  <span class="sage-pagination__count">
    <strong>32</strong> Records
  </span>
  <a class="sage-pagination__link" rel="prev" href="#"><i class="sage-pagination__icon sage-icon-caret-left"></i> Prev</a>
  <ul class="sage-pagination__pages">
    <li>
      <a href="#" class="sage-pagination__page" aria-label="Go to Page 1">1</a>
    </li>
    <li>
      <a href="#" class="sage-pagination__page" aria-label="Go to Page 2">2</a>
    </li>
    <li>
      <a href="#" class="sage-pagination__page" aria-label="Go to Page 3">3</a>
    </li>
    <li>
      <span class="sage-pagination__page sage-pagination__page--gap" aria-current="true">
        ...
      </span>
    </li>
    <li>
      <a href="#" class="sage-pagination__page" aria-label="Go to Page 18">18</a>
    </li>
    <li>
      <a href="#" class="sage-pagination__page" aria-label="Go to Page 19">19</a>
    </li>
    <li>
      <span class="sage-pagination__page sage-pagination__page--active" aria-current="true">20</span>
    </li>
  </ul>
  <span class="sage-pagination__link sage-pagination__link--disabled">
    Next <i class="sage-pagination__icon sage-icon-caret-right"></i>
  </span>
</nav>