pre {
  background: #1d2f52;
  padding: $sage-spacing;
  font-size: $sage-font-size-sm;
  margin-bottom: $sage-spacing;
  border-radius: $sage-border-radius;
  color: $sage-color-blue-300;
  font-weight: $sage-font-weight-semibold;
}
xmp {
  margin: 0;
  font-family: $sage-font-family;
}
