.colors {
  overflow: hidden;
  margin-bottom: sage-spacing();
  border-radius: sage-border(radius);
}

.color {
  padding: sage-spacing(sm) sage-spacing();
  font-size: sage-font-size(sm);
  font-weight: sage-font-weight(simibold);
  color: #fff;

  &::after {
    float: right;
    text-transform: uppercase;
  }

  // TODO: flatten into mixin or function
  @each $name, $color in $sage-colors {
    &-#{$name} {
      @each $tone, $hex in $color {

        &-#{$tone} {
          @extend .color;
          background: $hex;

          @if (lightness($hex) > 50) {
            color: sage-color($name, 500);
          }

          &::after {
            content: "#{$hex}";
          }
        }
      }
    }
  }
  &-grey {
    &-100,
    &-200,
    &-300,
    &-400,
    &-500 {
      color: sage-color(charcoal, 500);
    }
  }
}
