.colors {
  margin-bottom: $spacing;
  border-radius: $border-radius;
  overflow: hidden;
}
.color {
  padding: $spacing-sm $spacing;
  font-size: $font-size-sm;
  &:before {
    color: #fff;
  }
  &:after {
    color: #fff;
    float: right;
    text-transform: uppercase;
  }
  &-blue {
    @extend .color;
    background: $color-blue;
    padding: $spacing;
    &:before {
      content: "$color-blue [ $color-primary ]";
    }
    &:after {
      content: "#{$color-blue}";
    }
    &-light {
      @extend .color;
      background: $color-blue-light;
      &:before {
        content: "$color-blue-light";
      }
      &:after {
        content: "#{$color-blue-light}";
      }
    }
    &-dark {
      @extend .color;
      background: $color-blue-dark;
      &:before {
        content: "$color-blue-dark";
      }
      &:after {
        content: "#{$color-blue-dark}";
      }
    }
  }
  &-green {
    @extend .color;
    background: $color-green;
    padding: $spacing;
    &:before {
      content: "$color-green [ $color-success ]";
    }
    &:after {
      content: "#{$color-green}";
    }
    &-light {
      @extend .color;
      background: $color-green-light;
      &:before {
        content: "$color-green-light";
      }
      &:after {
        content: "#{$color-green-light}";
      }
    }
    &-dark {
      @extend .color;
      background: $color-green-dark;
      &:before {
        content: "$color-green-dark";
      }
      &:after {
        content: "#{$color-green-dark}";
      }
    }
  }
  &-orange {
    @extend .color;
    background: $color-orange;
    padding: $spacing;
    &:before {
      content: "$color-orange [ $color-warning ]";
      color: #000;
    }
    &:after {
      content: "#{$color-orange}";
      color: #000;
    }
    &-light {
      @extend .color;
      background: $color-orange-light;
      &:before {
        content: "$color-orange-light";
        color: #000;
      }
      &:after {
        content: "#{$color-orange-light}";
        color: #000;
      }
    }
    &-dark {
      @extend .color;
      background: $color-orange-dark;
      &:before {
        content: "$color-orange-dark";
      }
      &:after {
        content: "#{$color-orange-dark}";
      }
    }
  }
  &-red {
    @extend .color;
    background: $color-red;
    padding: $spacing;
    &:before {
      content: "$color-red [ $color-danger ]";
    }
    &:after {
      content: "#{$color-red}";
    }
    &-light {
      @extend .color;
      background: $color-red-light;
      &:before {
        content: "$color-red-light";
      }
      &:after {
        content: "#{$color-red-light}";
      }
    }
    &-dark {
      @extend .color;
      background: $color-red-dark;
      &:before {
        content: "$color-red-dark";
      }
      &:after {
        content: "#{$color-red-dark}";
      }
    }
  }
  &-turquoise {
    @extend .color;
    background: $color-turquoise;
    padding: $spacing;
    &:before {
      content: "$color-turquoise";
    }
    &:after {
      content: "#{$color-turquoise}";
    }
    &-light {
      @extend .color;
      background: $color-turquoise-light;
      &:before {
        content: "$color-turquoise-light";
        color: #000;
      }
      &:after {
        content: "#{$color-turquoise-light}";
        color: #000;
      }
    }
    &-dark {
      @extend .color;
      background: $color-turquoise-dark;
      &:before {
        content: "$color-turquoise-dark";
      }
      &:after {
        content: "#{$color-turquoise-dark}";
      }
    }
  }
  &-purple {
    @extend .color;
    background: $color-purple;
    padding: $spacing;
    &:before {
      content: "$color-purple";
    }
    &:after {
      content: "#{$color-purple}";
    }
    &-light {
      @extend .color;
      background: $color-purple-light;
      &:before {
        content: "$color-purple-light";
      }
      &:after {
        content: "#{$color-purple-light}";
      }
    }
    &-dark {
      @extend .color;
      background: $color-purple-dark;
      &:before {
        content: "$color-purple-dark";
      }
      &:after {
        content: "#{$color-purple-dark}";
      }
    }
  }
  &-pink {
    @extend .color;
    background: $color-pink;
    padding: $spacing;
    &:before {
      content: "$color-pink";
    }
    &:after {
      content: "#{$color-pink}";
    }
    &-light {
      @extend .color;
      background: $color-pink-light;
      &:before {
        content: "$color-pink-light";
      }
      &:after {
        content: "#{$color-pink-light}";
      }
    }
    &-dark {
      @extend .color;
      background: $color-pink-dark;
      &:before {
        content: "$color-pink-dark";
      }
      &:after {
        content: "#{$color-pink-dark}";
      }
    }
  }
  &-sky {
    @extend .color;
    background: $color-sky;
    padding: $spacing;
    &:before {
      content: "$color-sky";
      color: #000;
    }
    &:after {
      content: "#{$color-sky}";
      color: #000;
    }
    &-light {
      @extend .color;
      background: $color-sky-light;
      &:before {
        content: "$color-sky-light";
        color: #000;
      }
      &:after {
        content: "#{$color-sky-light}";
        color: #000;
      }
    }
    &-dark {
      @extend .color;
      background: $color-sky-dark;
      &:before {
        content: "$color-sky-dark";
      }
      &:after {
        content: "#{$color-sky-dark}";
      }
    }
  }
  &-white {
    @extend .color;
    background: $color-white;
    padding: $spacing;
    &:before {
      content: "$color-white";
      color: #000;
    }
    &:after {
      content: "#{$color-white}";
      color: #000;
    }
    &-dark {
      @extend .color;
      background: $color-white-dark;
      &:before {
        content: "$color-white-dark";
        color: #000;
      }
      &:after {
        content: "#{$color-white-dark}";
        color: #000;
      }
    }
    &-extra-dark {
      @extend .color;
      background: $color-white-extra-dark;
      &:before {
        content: "$color-white-extra-dark";
        color: #000;
      }
      &:after {
        content: "#{$color-white-extra-dark}";
        color: #000;
      }
    }
  }
  &-grey {
    @extend .color;
    background: $color-grey;
    padding: $spacing;
    &:before {
      content: "$color-grey";
    }
    &:after {
      content: "#{$color-grey}";
    }
    &-light {
      @extend .color;
      background: $color-grey-light;
      &:before {
        content: "$color-grey-light";
        color: #000;
      }
      &:after {
        content: "#{$color-grey-light}";
        color: #000;
      }
    }
    &-extra-light {
      @extend .color;
      background: $color-grey-extra-light;
      &:before {
        content: "$color-grey-extra-light";
        color: #000;
      }
      &:after {
        content: "#{$color-grey-extra-light}";
        color: #000;
      }
    }
    &-dark {
      @extend .color;
      background: $color-grey-dark;
      &:before {
        content: "$color-grey-dark [ $font-color-light ]";
      }
      &:after {
        content: "#{$color-grey-dark}";
      }
    }
    &-extra-dark {
      @extend .color;
      background: $color-grey-extra-dark;
      &:before {
        content: "$color-grey-extra-dark [ $font-color ]";
      }
      &:after {
        content: "#{$color-grey-extra-dark}";
      }
    }
  }
}
