.sage-colors {
  margin-bottom: sage-spacing();
  border-radius: sage-border(radius);
  overflow: hidden;
}

.color-item {
  padding: sage-spacing(sm) sage-spacing();
  font-size: sage-font-size(sm);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::after {
    font-weight: sage-font-weight(semibold);
    text-transform: uppercase;
  }

  @each $name, $color in $sage-colors {
    &-#{$name} {
      @each $tone, $hex in $color {
        &-#{$tone} {
          @extend .color-item;
          background: $hex;

          @if (lightness($hex) > 50) {
            color: sage-color($name, 500);
          }

          &:after {
            content: "#{$hex}";
          }
        }
      }
    }
  }

  &-grey {
    &-100, &-200, &-300, &-400, &-500 {
      color: sage-color(charcoal, 500);
    }
  }
}
