.quick-links {
  position: sticky;
  top: 0;
  padding: sage-spacing() 0;
}

.quick-links__body {
  margin-bottom: 0;
  padding-left: sage-spacing();
}

.quick-links__header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-bottom: sage-spacing(sm);
}

.quick-links__icon {
  margin-right: sage-spacing(xs);
  color: sage-color(charcoal, 200);
}

.quick-links__item {
  list-style: none;

  &:not(:last-child) {
    margin-bottom: sage-spacing(xs);
  }
}

.quick-links__link {
  display: block;
  font-size: sage-font-size(sm);
  color: sage-color(charcoal, 100);
}

.quick-links__subhead {
  margin-top: sage-spacing(sm);
  margin-bottom: sage-spacing(xs);
  font-size: sage-font-size(md);
  line-height: sage-font-height(md);
  color: sage-color(charcoal, 400);
  font-weight: 400;
  margin-left: sage-spacing()
}

.quick-links__title {
  flex: 1;
  margin-bottom: 0;
  color: sage-color(charcoal, 200);
}
