.quick-links {
  padding: sage-spacing() 0;
  position: sticky;
  top: 0;

  &__body {
    padding-left: sage-spacing();
  }

  &__icon {
    margin-right: sage-spacing(xs);
    color: sage-color(charcoal, 200);
  }

  &__header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: sage-spacing(sm);
  }

  &__link {
    font-size: sage-font-size(sm);
    color: sage-color(charcoal,100);
    display: block;

    &:not(:last-child) {
      margin-bottom: sage-spacing(xs);
    }
  }

  &__title {
    color: sage-color(charcoal, 200);
    margin-bottom: 0;
    flex: 1;
  }
}
