.sage-specs {
  position: relative;
  columns: 2;
  margin-bottom: sage-spacing(lg);
  padding: 2.5rem sage-spacing(sm) sage-spacing(xs);
  font-size: sage-font-size(sm);
  border: 1px solid sage-color(grey, 300);
  border-radius: sage-border(radius);

  @media (min-width: sage-breakpoint(xl-min)) {
    columns: 4;
  }

  &::before {
    content: attr(data-label);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: sage-spacing(xs) sage-spacing(sm);
    color: sage-color(sage, 400);
    font-size: sage-font-size(xs);
    text-transform: uppercase;
  }
}

.sage-specs__property {
  font-size: sage-font-size(xs);
  text-transform: uppercase;
}

