.status-table {
  width: 100%;
  th {
    padding: sage-spacing(xs) sage-spacing(sm);
    border-bottom: 2px solid sage-color(grey);
    font-size: sage-font-size(sm);
    &:nth-child(1) {
      padding-left: 0;
    }
    &:nth-child(5) {
      padding-right: 0;
    }
  }
  td {
    padding: sage-spacing(sm) sage-spacing(sm);
    vertical-align: top;
    &:nth-child(1) {
      font-weight: sage-font-weight(semibold);
      padding-left: 0;
      width: 10000px;
    }
    &:nth-child(2) {
      border-bottom: sage-border();
      width: 4000px;
    }
    &:nth-child(3), &:nth-child(4), &:nth-child(5) {
      border-bottom: sage-border();
      text-align: center;
    }
    &:nth-child(5) {
      padding-right: 0;
    }
  }
  tr {
    &:nth-child(4) {
      border-bottom: 2px solid sage-color(grey);
    }
  }
}