.tokens {
  margin-bottom: $sage-spacing;
  border: $sage-border-default;
  border-radius: $sage-border-radius;
  border-bottom: none;
}
.token {
  padding: $sage-spacing-xs $sage-spacing;
  border-bottom: $sage-border-default;
  display: flex;
  strong {
    min-width: 300px;
  }
  &:after {
    width: 50%;
    flex: 1;
  }
  &-border-default {
    @extend .token;
    &:after {
      content: "#{$sage-border-default}";
    }
  }
  &-border-radius {
    @extend .token;
    &:after {
      content: "#{$sage-border-radius}";
    }
  }
  &-xs-max {
    @extend .token;
    &:after {
      content: "#{$sage-xs-max}";
    }
  }
  &-sm-min {
    @extend .token;
    &:after {
      content: "#{$sage-sm-min}";
    }
  }
  &-sm-max {
    @extend .token;
    &:after {
      content: "#{$sage-sm-max}";
    }
  }
  &-md-min {
    @extend .token;
    &:after {
      content: "#{$sage-md-min}";
    }
  }
  &-md-max {
    @extend .token;
    &:after {
      content: "#{$sage-md-max}";
    }
  }
  &-lg-min {
    @extend .token;
    &:after {
      content: "#{$sage-lg-min}";
    }
  }
  &-lg-max {
    @extend .token;
    &:after {
      content: "#{$sage-lg-max}";
    }
  }
  &-xl-min {
    @extend .token;
    &:after {
      content: "#{$sage-xl-min}";
    }
  }
  &-grid-columns {
    @extend .token;
    &:after {
      content: "#{$sage-grid-columns}";
    }
  }
  &-grid-spacing {
    @extend .token;
    &:after {
      content: "#{$sage-grid-spacing}";
    }
  }
  &-shadow {
    @extend .token;
    &:after {
      content: "#{$sage-shadow}";
    }
  }
  &-shadow-md {
    @extend .token;
    &:after {
      content: "#{$sage-shadow-md}";
    }
  }
  &-shadow-lg {
    @extend .token;
    &:after {
      content: "#{$sage-shadow-lg}";
    }
  }
  &-shadow-xl {
    @extend .token;
    &:after {
      content: "#{$sage-shadow-xl}";
    }
  }
  &-shadow-2xl {
    @extend .token;
    &:after {
      content: "#{$sage-shadow-2xl}";
    }
  }
  &-spacing {
    @extend .token;
    &:after {
      content: "#{$sage-spacing}";
    }
  }
  &-spacing-2xs {
    @extend .token;
    &:after {
      content: "#{$sage-spacing-2xs}";
    }
  }
  &-spacing-xs {
    @extend .token;
    &:after {
      content: "#{$sage-spacing-xs}";
    }
  }
  &-spacing-sm {
    @extend .token;
    &:after {
      content: "#{$sage-spacing-sm}";
    }
  }
  &-spacing-lg {
    @extend .token;
    &:after {
      content: "#{$sage-spacing-lg}";
    }
  }
  &-container-width {
    @extend .token;
    &:after {
      content: "#{$sage-container-width}";
    }
  }
  &-container-width-sm {
    @extend .token;
    &:after {
      content: "#{$sage-container-width-sm}";
    }
  }
  &-container-width-fluid {
    @extend .token;
    &:after {
      content: "#{$sage-container-width-fluid}";
    }
  }
  &-sidebar-width {
    @extend .token;
    &:after {
      content: "#{$sage-sidebar-width}";
    }
  }
  &-sidebar-width-md {
    @extend .token;
    &:after {
      content: "#{$sage-sidebar-width-md}";
    }
  }
  &-sidebar-width-lg {
    @extend .token;
    &:after {
      content: "#{$sage-sidebar-width-lg}";
    }
  }
  &-font-family {
    @extend .token;
    &:after {
      content: "#{$sage-font-family}";
    }
  }
  &-font-size {
    @extend .token;
    &:after {
      content: "#{$sage-font-size}";
    }
  }
  &-font-size-xs {
    @extend .token;
    &:after {
      content: "#{$sage-font-size-xs}";
    }
  }
  &-font-size-sm {
    @extend .token;
    &:after {
      content: "#{$sage-font-size-sm}";
    }
  }
  &-font-size-md {
    @extend .token;
    &:after {
      content: "#{$sage-font-size-md}";
    }
  }
  &-font-size-lg {
    @extend .token;
    &:after {
      content: "#{$sage-font-size-lg}";
    }
  }
  &-font-size-xl {
    @extend .token;
    &:after {
      content: "#{$sage-font-size-xl}";
    }
  }
  &-font-size-2xl {
    @extend .token;
    &:after {
      content: "#{$sage-font-size-2xl}";
    }
  }
  &-font-size-3xl {
    @extend .token;
    &:after {
      content: "#{$sage-font-size-3xl}";
    }
  }
  &-font-size-4xl {
    @extend .token;
    &:after {
      content: "#{$sage-font-size-4xl}";
    }
  }
  &-font-size-5xl {
    @extend .token;
    &:after {
      content: "#{$sage-font-size-5xl}";
    }
  }
  &-font-size-6xl {
    @extend .token;
    &:after {
      content: "#{$sage-font-size-5xl}";
    }
  }
  &-font-weight {
    @extend .token;
    &:after {
      content: "#{$sage-font-weight}";
    }
  }
  &-font-weight-semibold {
    @extend .token;
    &:after {
      content: "#{$sage-font-weight-semibold}";
    }
  }
  &-font-weight-bold {
    @extend .token;
    &:after {
      content: "#{$sage-font-weight-bold}";
    }
  }
}