.tokens {
  margin-bottom: sage-spacing();
  border: sage-border();
  border-radius: sage-border(radius);
  border-bottom: none;
}

.token {
  padding: sage-spacing(xs) sage-spacing();
  border-bottom: sage-border();
  font-size: $sage-font-size-sm;
  display: flex;
  strong {
    min-width: 300px;
  }
  &:after {
    width: 50%;
    flex: 1;
  }
  &-border:after { content: "#{sage-border()}" }
  @each $name, $token in $sage-borders {
    &-border-#{$name}:after { content: "#{$token}" }
  }
  &-breakpoint:after { content: "#{sage-breakpoint()}" }
  @each $name, $token in $sage-breakpoints {
    &-breakpoint-#{$name}:after { content: "#{$token}" }
  }
  &-container:after { content: "#{sage-container()}" }
  @each $name, $token in $sage-containers {
    &-container-#{$name}:after { content: "#{$token}" }
  }
  &-font-size:after { content: "#{sage-font-size()}" }
  @each $name, $token in $sage-font-sizes {
    &-font-size-#{$name}:after { content: "#{$token}" }
  }
  &-font-weight:after { content: "#{sage-font-weight()}" }
  @each $name, $token in $sage-font-weights {
    &-font-weight-#{$name}:after { content: "#{$token}" }
  }
  &-shadow:after { content: "#{sage-shadow()}" }
  @each $name, $token in $sage-shadows {
    &-shadow-#{$name}:after { content: "#{$token}" }
  }
  &-sidebar:after { content: "#{sage-sidebar()}" }
  @each $name, $token in $sage-sidebars {
    &-sidebar-#{$name}:after { content: "#{$token}" }
  }
  &-spacing:after { content: "#{sage-spacing()}" }
  @each $name, $token in $sage-spacings {
    &-spacing-#{$name}:after { content: "#{$token}" }
  }
}