// ==================================================
// CSS CUSTOM PROPERTIES
// ==================================================

/*
  Place global custom properties here.
  These should be limited to properties that are _expected_ to change
  via media query, JS, or some other action/method, not used as static variables
*/

// :root {
//   --something: something;
// }


// ==================================================
// STATUS KEY
// ==================================================

$status-key-icon-size: 0.8125rem; // 13px

