<button class="sage-btn--secondary" data-tooltip="Tooltip on top" data-position="top">Top</button>
<button class="sage-btn--secondary" data-tooltip="Tooltip on bottom" data-position="bottom">Bottom</button>
<button class="sage-btn--secondary" data-tooltip="Tooltip on left" data-position="left">Left</button>
<button class="sage-btn--secondary" data-tooltip="Tooltip on right" data-position="right">Right</button>

<br><br>

<button class="sage-btn--secondary" data-tooltip="Tooltip on top" data-position="top" data-tooltip-theme="light">Top</button>
<button class="sage-btn--secondary" data-tooltip="Tooltip on bottom" data-position="bottom" data-tooltip-theme="light">Bottom</button>
<button class="sage-btn--secondary" data-tooltip="Tooltip on left" data-position="left" data-tooltip-theme="light">Left</button>
<button class="sage-btn--secondary" data-tooltip="Tooltip on right" data-position="right" data-tooltip-theme="light">Right</button>