<tr>
  <td>data-tooltip</td>
  <td>data attribute for text that will be displayed within the tooltip</td>
  <td>String</td>
  <td>Default</td>
</tr>
<tr>
  <td>data-position</td>
  <td>data attribute to position the tooltip - top | bottom | left | right.</td>
  <td>String</td>
  <td>Default</td>
</tr>
<tr>
  <td>data-tooltip-theme</td>
  <td>data attribute to set a light theme on tooltip</td>
  <td>String</td>
  <td>Default</td>
</tr>