<%= sage_component SageEmptyState, {
  icon: "trash",
  title: "Title for state",
  text: "Text to appear below. Lorem ipsum dolor sit amet consectituor."
} do %>
  <p>Other stuff such as buttons...</p>
<% end %>

<%= sage_component SageEmptyState, {
  icon: "bold",
  title: "Title for state, small variety",
  text: "Text to appear below. Lorem ipsum dolor sit amet consectituor.",
  size: "sm",
} do %>
  <p>Other stuff such as buttons...</p>
<% end %>
