<fieldset class="sage-form-section">
  <div class="sage-input">
    <input class="sage-input__field" type="text" placeholder="First name" id="form__fname" required>
    <label for="form__fname" class="sage-input__label">First name</label>
  </div>
</fieldset>
