<ul>
  <li>Use unique ID and name values for each field</li>
  <li>Take advantage of <a href="https://developer.mozilla.org/en-US/docs/Learn/Forms/Form_validation" rel="nofollow">HTML client-side validation</a> for basic fields &ndash; baked-in with most browsers</li>
</ul>
