.sage-nav {
  &__link {
    display: flex;
    align-items: center;
    margin: sage-spacing(xs) 0;
    font-weight: sage-font-weight(simibold);
    color: sage-color(charcoal, 500);
    &:hover {
      color: sage-color(charcoal, 400);
    }
    &--sub {
      @extend .sage-nav__link;
      margin: sage-spacing(xs) sage-spacing(lg);
      font-size: sage-font-size(sm);
      font-weight: sage-font-weight();
    }
    i {
      font-size: sage-spacing();
      margin-right: sage-spacing(xs);
      color: sage-color(charcoal);
    }
  }
}
