.sage-nav {
  margin: $spacing 0;
  &-link {
    display: flex;
    align-items: center;
    margin: $spacing-sm 0;
    font-weight: $font-weight-bold;
    color: $font-color;
    &:hover {
      color: $font-color-light;
    }
    &-sub {
      @extend .sage-nav-link;
      margin: $spacing-xs $spacing-lg;
      font-size: $font-size-sm;
      font-weight: $font-weight;
    }
    i {
      font-size: $font-size-2xl;
      margin-right: $spacing-xs;
      color: $font-color-light;
    }
  }
}
