.sage-sidebar {
  width: $sage-sidebar-width;
  background: $sage-color-gray-100;
  z-index: 999;
  display: flex;
  flex-direction: column;
  &-md {
    @extend .sage-sidebar;
    width: $sage-sidebar-width-md;
  }
  &-lg {
    @extend .sage-sidebar;
    width: $sage-sidebar-width-lg;
  }
  &-body {
    padding: $sage-spacing;
    flex: 1;
    overflow: auto;
  }
  &-footer {
    padding: $sage-spacing;
    border-top: $sage-border-default;
  }
}
