.sage-sidebar {
  width: $sidebar-width;
  background: $color-white-dark;
  z-index: 999;
  display: flex;
  flex-direction: column;
  &-md {
    width: $sidebar-width-md;
  }
  &-lg {
    width: $sidebar-width-lg;
  }
  &-body {
    padding: $spacing;
    flex: 1;
    overflow: auto;
  }
  &-footer {
    padding: $spacing;
    border-top: $border-default;
  }
}
