<%= content_for :heading do %>
  <h1>Getting Started</h1>
  <p>Sage is informed by customer outcomes and is the tool designers at Kajabi use to craft predictable patterns that are integrated throughout the admin experience. These reusable patterns are created from flexible building blocks we call components that share consistent visual foundations like color, iconography, typography, spacing, and interactive states.</p>
  <p>This design system is not owned by any one person or group but is a collective effort across the UXD and Product Design teams at Kajabi. Each team member can make suggestions for enhancements, as well as propose new components and patterns. </p>
<% end %>
<h2>Example Sage Workflow</h2>
<ol>
  <li>
    <h4>Framing</h4>
    <ol>
      <li>In this first step, review the Sage guides, components, and patterns that relate to your problem. Test designs with these existing components to see if you are able to shape the desired solution.</li>
      <li>Try to get as far as you can with what is current.</li>
    </ol>
  </li>
  <li>
    <h4>Design Draft</h4>
    <ol>
      <li>Now you’ve come to the conclusion that you need to either update an existing component or design a new component altogether.</li>
      <li>Design a rough prototype of the proposed component or updated variation of an existing component to bring to the other designers for validation.</li>
    </ol>
  </li>
  <li>
    <h4>Sage Squad Review #1</h4>
    <ol>
      <li>Present the idea to the current rotation of the Sage Squad either through scheduling a meeting or sharing it on Slack.</li>
      <li>Sage Squad can then weigh in on the idea in light of the “Idea integration process” and thus inform and make revisions.</li>
    </ol>
  </li>
  <li>
    <h4>Design-Build</h4>
    <ol>
      <li>Flesh out the new component or modification by integrating it into your designs to further test usability and required states.</li>
      <li>Document your thoughts around how you see this component being used and interacted with in a style similar to the Sage component documentation.</li>
    </ol>
  </li>
  <li>
    <h4>Sage Squad Review #2</h4>
    <ol>
      <li>Schedule another meeting with members of the Squad to gather feedback on the idea now that it has been fleshed even out more.</li>
    </ol>
  </li>
  <li>
    <h4>Designer / UXD Hand-off</h4>
    <ol>
      <li>Ensure the changes or new components are incorporated into the Sage Components Figma file and documented accordingly.</li>
      <li>Here the designer and developer meet to review any outstanding issues before development work begins on this component.</li>
    </ol>
  </li>
  <li>
    <h4>UXD Build</h4>
    <ol>
      <li>Front-end developers implement and test the new component or update. It is important that the designer keep themselves available to maintain an open line of communication during this process.</li>
    </ol>
  </li>
  <li>
    <h4>Designer / UXD Review</h4>
    <ol>
      <li>Once ready, the UXD implementing the component or update will schedule a meeting with the designer to review the final version of the component or update.</li>
    </ol>
  </li>
  <li>
    <h4>Document</h4>
    <ol>
      <li>Here both the designer and developer will combine any rules, suggestions, or other documentation.</li>
    </ol>
  </li>
  <li>
    <h4>Release & Align</h4>
    <ol>
      <li>Update the Sage doc site with new components and documentation. Schedule a meeting to present updates with the team.</li>
    </ol>
  </li>
</ol>