<%= render "sidebar_styles" %>
<%= content_for :heading do %>
<h1>Icons</h1>
<p>
  Our icon set includes those shown below. The typical pattern for
  these is to use an <code>&lt;i&gt;</code> tag with a class as indicated below.
</p>
<p>
  Note as well for accessibility that if the icon should have an
  <code>aria-label</code> attribute that describes the icon's
  purpose in context. However, if the icon is immediately surrounded by
  text that describes the icon, such as where the icon is purely decorative
  then <code>aria-hidden="true"</code> can be used instead.
</p>
<% end %>
<div class="sage-row">
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-menu-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-menu</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-launch-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-launch</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-search-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-search</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-monitor-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-monitor</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-tag-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-tag</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-megaphone-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-megaphone</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-user-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-user-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-gear-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-gear</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-pen-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-pen</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-file-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-file</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-image-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-image</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-folder-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-folder</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-users-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-users</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-chart-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-chart</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-preview-on-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-preview-on</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-preview-off-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-preview-off</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-comment-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-comment</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-conversation-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-conversation</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-add-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-add</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-remove-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-remove</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-3-dot-menu-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-3-dot-menu</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-url-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-url</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-trash-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-trash</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-cart-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-cart</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-delete-key-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-delete-key</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-delete-x-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-delete-x</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-send-message-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-send-message</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-mail-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-mail</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-loop-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-loop</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-restore-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-restore</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-clock-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-clock</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-calendar-date-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-calendar-date</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-calendar-schedule-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-calendar-schedule</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-drop-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-drop</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-lock-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-lock</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-user-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-user</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-user-star-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-user-star</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-favorite-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-favorite</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-star-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-star</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-check-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-check</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-check-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-check-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-remove-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-remove-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-add-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-add-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-delete-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-delete-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-info-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-info-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-question-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-question-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-warning-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-warning</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-download-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-download</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-enlarge-vertical-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-enlarge-vertical</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-enlarge-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-enlarge</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-arrow-up-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-arrow-up</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-arrow-right-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-arrow-right</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-arrow-left-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-arrow-left</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-arrow-down-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-arrow-down</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-caret-up-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-caret-up</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-caret-right-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-caret-right</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-caret-down-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-caret-down</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-caret-left-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-caret-left</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-search-small-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-search-small</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-add-small-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-add-small</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-up-small-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-up-small</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-right-small-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-right-small</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-down-small-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-down-small</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-left-small-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-left-small</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-microphone-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-microphone</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-microphone-off-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-microphone-off</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-video-on-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-video-on</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-video-off-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-video-off</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-screen-share-on-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-screen-share-on</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-screen-share-off-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-screen-share-off</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-play-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-play</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-stop-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-stop</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-menu-alt-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-menu-alt</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-copy-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-copy</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-handle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-handle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-1-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-1-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-2-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-2-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-3-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-3-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-4-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-4-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-5-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-5-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-6-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-6-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-7-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-7-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-8-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-8-circle</p>
    </div>
  </div>
  <div class="sage-col--md-4 sage-col--sm-6">
    <div class="sage-icon-block">
      <i class="sage-icon-9-circle-2xl" aria-hidden="true"></i>
      <p class="sage-icon-block__label">sage-icon-9-circle</p>
    </div>
  </div>
</div>
