<% icons = [
  "add-circle",
  "add-small",
  "add",
  "align-center",
  "align-justify",
  "align-left",
  "align-right",
  "arrow-corner",
  "arrow-down",
  "arrow-left",
  "arrow-right",
  "arrow-up",
  "attach",
  "bold",
  "calendar-date",
  "calendar-schedule",
  "caret-down",
  "caret-left",
  "caret-right",
  "caret-up",
  "cart",
  "chart",
  "check-circle",
  "check",
  "circle-1",
  "circle-2",
  "circle-3",
  "circle-4",
  "circle-5",
  "circle-6",
  "circle-7",
  "circle-8",
  "circle-9",
  "clock",
  "code",
  "color",
  "comment",
  "conversation",
  "copy",
  "customize",
  "delete-circle",
  "delete-key",
  "delete-x",
  "dot-menu-horizontal",
  "down-small",
  "download",
  "drop",
  "enlarge-vertical",
  "enlarge",
  "favortie",
  "file",
  "folder-group",
  "folder",
  "fullscreen",
  "gear",
  "handle",
  "horizontal-line",
  "image",
  "info-circle",
  "italic",
  "launch",
  "left-small",
  "list-bullet",
  "list-numbers",
  "lock",
  "loop",
  "mail",
  "mapped",
  "margin-left",
  "margin-right",
  "megaphone",
  "menu-alt",
  "menu",
  "microphone",
  "microphone-off",
  "monitor",
  "pen",
  "play",
  "preview-off",
  "preview-on",
  "question-circle",
  "quote",
  "redo",
  "remove-circle",
  "remove",
  "restore",
  "right-small",
  "screen-share-off",
  "screen-share-on",
  "search-small",
  "search",
  "send-message",
  "star",
  "stop",
  "strikethrough",
  "subscript",
  "superscript",
  "tag",
  "trash",
  "underline",
  "undo",
  "unmapped",
  "up-small",
  "upload",
  "url",
  "user-circle",
  "user-star",
  "user",
  "users",
  "video-off",
  "video-on",
  "warning",
] 
%>
<%= render "sidebar_styles" %>
<%= content_for :heading do %>
<h1>Icons</h1>
<p>
  Our icon set includes those shown below. The typical pattern for
  these is to use an <code>&lt;i&gt;</code> tag with a class as indicated below.
</p>
<p>
  Note as well for accessibility that if the icon should have an
  <code>aria-label</code> attribute that describes the icon's
  purpose in context. However, if the icon is immediately surrounded by
  text that describes the icon, such as where the icon is purely decorative
  then <code>aria-hidden="true"</code> can be used instead.
</p>
<% end %>
<div class="docs-container">
  <div class="sage-grid-old-row">
    <% icons.each do |icon| %>
      <div class="sage-grid-old-col--md-4 sage-grid-old-col--sm-6">
        <div class="sage-icon-block">
          <i class="sage-icon-<%= icon %>-2xl" aria-hidden="true"></i>
          <p class="sage-icon-block__label">sage-icon-<%= icon %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
