<% mocks = [
  # "pages/mocks/custom_domain/s01_main",
  # "pages/mocks/custom_domain/s02_own_or_buy",
  # "pages/mocks/custom_domain/s03_own_where",
  # "pages/mocks/custom_domain/s04a_nameserver_setup",
  # "pages/mocks/custom_domain/s04b_cname_setup",
  "pages/mocks/custom_domain/s05a_main_domain_connected_subdomains",
  # "pages/mocks/custom_domain/s05b_main_domain_connected",
  # "pages/mocks/custom_domain/s06_dns_settings"
]
%>
<%= content_for :heading do %>
  <h1>Custom Domain Mocks</h1>
  <p>Between the dividers below find the preview of the mocked views for the new Custom Domain flow</p>
<% end %>

<% mocks.each do | mock | %>
  <h2 class="sage-docs-mock-caption"><%= mock %></h2>
  <%= render mock %>
<% end %>
