<%= content_for :heading do %>
  <h1>Sandbox</h1>
<% end %>
<p>Use this scratchpad to test out elements and objects in context. Just be sure not to commit your changes. ❤️</p>

<button class="sage-btn sage-btn--primary sage-btn--icon-right-copy" data-js-copy-button="abra cadabra">Copy secret</button>

<button class="sage-btn sage-btn--tiny sage-btn--tertiary sage-btn--icon-right-copy" data-js-copy-button="abra cadabra" data-js-tooltip="Copy">
  <span class="sage-label sage-label--draft">abra cadabra</span>
</button>