<!-- Awake -->
<div class="sage-live-stream-wrapper sage-live-stream-wrapper--awake">
  <%= render "sage/examples/objects/live_stream_footer/markup", 
    isAwake: true
  %>
</div>

<!-- Constant -->
<div class="sage-live-stream-wrapper">
  <%= render "sage/examples/objects/live_stream_footer/markup", 
    isAwake: false
  %>
</div>