<div class="sage-page-heading">
  <a href="#" class="sage-page-heading__back">
    <i class="sage-page-heading__icon sage-icon-caret-left"></i> 
    Back To Something
  </a>
  <h1 class="sage-page-heading__title">Page Title</h1>
</div>