<div class="sage-assistant">
  <button class="sage-sidebar__toggle" aria-expanded="false" aria-controls="sage-sidebar-menu">
    <span class="btn-bar"></span><span class="btn-bar"></span><span class="btn-bar"></span>
    <span class="visually-hidden">Toggle main menu</span>
  </button>
  <%= image_tag("sage/sage.svg", class: "sage-assistant__branding")%>
  <div class="sage-assistant__body">
    <div class="sage-container--sm">
      <label for="sage-assistant__search" class="visually-hidden">Search</label>
      <input type="text" class="sage-assistant__search" id="sage-assistant__search" placeholder="Search&hellip;">
    </div>
  </div>
  <div class="sage-assistant__actions"></div>
</div>