<div class="sage-assistant">
  <label for="sage-sidebar__toggle" class="sage-sidebar__toggle">
    <span></span>
    <span></span>
    <span></span>
  </label>
  <%= image_tag("sage/sage.svg", class: "sage-assistant__branding")%>
  <div class="sage-assistant__body">
    <div class="sage-container--sm">
      <input type="text" class="sage-assistant__search" placeholder="Search...">
    </div>
  </div>
  <div class="sage-assistant__actions"></div>
</div>