<div class="sage-assistant">
  <button class="sage-menubutton" aria-expanded="false" aria-controls="sage-sidebar-menu" data-js-btn-target="sage-sidebar-menu" data-js-target-type="sidebar">
    <span class="sage-menubutton__bar"></span><span class="sage-menubutton__bar"></span><span class="sage-menubutton__bar"></span>
    <span class="visually-hidden">Toggle main menu</span>
  </button>
  <%= image_tag("sage/sage.svg", class: "sage-assistant__branding")%>
  <div class="sage-assistant__body">
  </div>
  <div class="sage-assistant__actions">
    <h4 class="version-number">v<%= sage_version %></h4>
  </div>
</div>
