<fieldset>
  <div class="sage-select" data-js-sage-select>
    <input class="sage-select__field" type="text" placeholder="Favorite Food" id="form__favoritefood" name="form__favoritefood" data-js-sage-select-field>
    <label class="sage-select__label" for="form__favoritefood">Favorite Food</label>
    <ul class="sage-select__dropdown" data-js-sage-select-dropdown>
      <li class="sage-select__dropdown-item">
        <h3 class="t-sage-heading-6">Lorem ipsum dolor sit</h3>
        <p class="t-sage-body-xsmall">Lorem ipsum dolor sit</p>
      </li>
      <li class="sage-select__dropdown-item">
        <h3 class="t-sage-heading-6">Lorem ipsum dolor sit</h3>
        <p class="t-sage-body-xsmall">Lorem ipsum dolor sit</p>
      </li>
      <li class="sage-select__dropdown-item">
        <h3 class="t-sage-heading-6">Lorem ipsum dolor sit</h3>
        <p class="t-sage-body-xsmall">Lorem ipsum dolor sit</p>
      </li>
    </ul>
  </div>
</fieldset>

<br>

<fieldset>
  <div class="sage-select sage-select--active" data-js-sage-select>
    <input class="sage-select__field" type="text" placeholder="Favorite Food" id="form__favoritefood" name="form__favoritefood" data-js-sage-select-field>
    <label class="sage-select__label" for="form__favoritefood">Favorite Food</label>
    <ul class="sage-select__dropdown" data-js-sage-select-dropdown>
      <li class="sage-select__dropdown-item">
        <p class="t-sage-body">Lorem ipsum dolor sit</p>
        <p class="t-sage-body-xsmall">Lorem ipsum dolor sit</p>
      </li>
      <li class="sage-select__dropdown-item">
        <p class="t-sage-body">Lorem ipsum dolor sit</p>
        <p class="t-sage-body-xsmall">Lorem ipsum dolor sit</p>
      </li>
      <li class="sage-select__dropdown-item">
        <p class="t-sage-body">Lorem ipsum dolor sit</p>
        <p class="t-sage-body-xsmall">Lorem ipsum dolor sit</p>
      </li>
    </ul>
  </div>
</fieldset>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<span class="">Lorem ipsum dolor sit</span>
<br>
<span class="t-sage-body">Lorem ipsum dolor sit</span>
<br>
<br>

<fieldset>
  <div class="sage-select sage-select--active" data-js-sage-select>
    <input class="sage-select__field" type="text" placeholder="Favorite Food" id="form__favoritefood" name="form__favoritefood" data-js-sage-select-field>
    <label class="sage-select__label" for="form__favoritefood">Favorite Food</label>
    <ul class="sage-select__dropdown" data-js-sage-select-dropdown>
      <li class="sage-select__dropdown-item">
        <span class="t-sage-body">Lorem ipsum dolor sit</span>
      </li>
      <li class="sage-select__dropdown-item">
        <span class="t-sage-body">Lorem ipsum dolor sit</span>
      </li>
      <li class="sage-select__dropdown-item">
        <span class="t-sage-body">Lorem ipsum dolor sit</span>
      </li>
    </ul>
  </div>
</fieldset>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
