<h1>Accessibility</h1>
<p>Our main goal is to give all users the best experience possible regardless of limitations or disabilities.</p>
<div class="sage-panel">
  <h2>Check Your Colors</h2>
  <p>Do not rely on color as a navigational tool or as the sole way to differentiate items. Make sure there is enough contrast between text and its background color. Pair values of colors together (not only hues) to increase contrast</p>
  <h2>Decorate Your Images</h2>
  <p>Images should include Alt text in the markup/code; complex images should have more extensive descriptions near the image (perhaps as a caption or descriptive summaries built right into a neighboring paragraph)</p>
  <h2>Plan For The Keyboard</h2>
  <p>Functionality should be accessible through mouse and keyboard and be tagged to worked with voice-control systems. Design focus states to help users navigate and understand where they are. Your designs should never actively hide focus states. When people use the keyboard to navigate, your product should include highly visible focus states.</p>
  <h2>Use The Correct HTML</h2>
  <p>HTML elements communicate to the browser what kind of content they contain and how the browser should render or treat that content. Do not use a div when dealing with a list and do make sure to use the proper level of heading element to indicate the importance of the item. Do not simply rely on CSS to make the element look how you would like. Let some of the work be done by the HTML default styles. </p>
  <h2>Validating</h2>
  <p>The Design System is only the foundation for accessible application development. We recommend that you review the accessibility of your applications before release and ensure that it meets the WCAG Standard at the AA Level.</p>
</div>