<%= render "sidebar_guidelines" %>
<%= content_for :heading do %>
  <h1>Browser support</h1>
  <p>Guidelines that explain which browsers the design system is optimized for</p>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="quick-links__header">
      <i class="quick-links__icon sage-icon sage-icon-menu-8"></i>
      <h5 class="quick-links__title">Contents</h5>
    </div>
    <ul class="quick-links__body">
      <li class="quick-links__item">
        <a href="#desktop" class="quick-links__link">Desktop Browsers</a>
      </li>
      <li class="quick-links__item">
        <a href="#mobile" class="quick-links__link">Mobile Browsers</a>
      </li>
    </ul>
  </div>
<% end %>
<div class="sage-panel">
  <p>We do our best to support as many of our customers as possible because we know that they come from all walks of life and a large variety of different areas across the world. With core functionality we do our best to ensure that there are no critical roadblocks for users of all browsers. With that said we use the following guidelines to determine what browsers we officially support and what we do our best to accommodate. </p>
  <h3 id="desktop">Desktop Browsers</h3>
  <p><strong>Google Chrome</strong> ( latest three releases for Mac and PC )</p>
  <p><strong>Firefox</strong> ( latest three releases for Mac and PC )</p>
  <p><strong>Safari</strong> ( latest two releases for Mac )</p>
  <p><strong>Microsoft Edge</strong> ( latest two releases for PC )</p>
  <h3 id="mobile">Mobile Browsers</h3>
  <p><strong>Mobile Safari</strong> ( latest two releases for iOS )</p>
  <p><strong>Chrome Mobile</strong> ( latest three releases for Android and iOS )</p>
  <p><strong>Samsung Internet</strong> ( latest two releases for Android )</p>
  <p>It is not a requirement that a experience looks and behaves identically across all supported browsers. Because the technology supported by browsers can vary, it is expected that websites will render differently for different browsers, as well as for different releases of the same browser. For example, support for the CSS Grid specification can vary between full support, partial support, or no support between a browser's releases.</p>
  <p>A the UI must offer a comparable user experience across all supported browsers. To this end, you are encouraged to practice progressive enhancement, a development approach that ensures basic functionality is compatible with all browsers before more advanced functionality is added in.</p>
</div>
