<%= content_for :heading do %>
  
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="sage-media">
      <i class="quick-links__icon sage-icon sage-icon-menu-8"></i>
      <div class="sage-media__body">
        <h5 class="quick-links__heading">Contents</h5>
      </div>
    </div>
    <a href="##" class="quick-links__link">######</a>
  </div>
<% end %>
<h1>Containers</h1>
<div class="sage-panel">
  <h3>Standard Container</h3>
  <pre class="prettyprint"><code><xmp><div class="sage-container">
    1200px
  </div></xmp></pre></code>
  <h3>Small Container</h3>
  <pre class="prettyprint"><code><xmp><div class="sage-container--sm">
    900px
  </div></xmp></pre></code>
  <h3>Full Width Container</h3>
  <pre class="prettyprint"><code><xmp><div class="sage-container--fluid">
    100%
  </div></xmp></pre></code>
</div>