<%= content_for :heading do %>
  <h1>Containers</h1>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="sage-media">
      <i class="quick-links__icon sage-icon sage-icon-menu-8"></i>
      <div class="sage-media__body">
        <h5 class="quick-links__heading">Contents</h5>
      </div>
    </div>
    <a href="#standard" class="quick-links__link">Standard Container</a>
    <a href="#small" class="quick-links__link">Small Container</a>
    <a href="#full" class="quick-links__link">Full Width Container</a>
  </div>
<% end %>
<div class="sage-panel">
  <h3 id="standard">Standard Container</h3>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-container&quot;&gt;
  &lt;!-- 1200px width container --&gt;
&lt;/div&gt;</code></pre>
  <h3 id="small">Small Container</h3>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-container--sm&quot;&gt;
  &lt;!-- 900px width container --&gt;
&lt;/div&gt;</code></pre>
  <h3 id="full">Full Width Container</h3>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-container--fluid&quot;&gt;
  &lt;!-- 100% width container --&gt;
&lt;/div&gt;</code></pre>
</div>