<%= render "sidebar_styles" %>
<%= content_for :heading do %>
  <h1>Containers</h1>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="quick-links__header">
      <i class="quick-links__icon sage-icon sage-icon-file-content" aria-hidden="true"></i>
      <h5 class="quick-links__title">Contents</h5>
    </div>
    <ul class="quick-links__body">
      <li class="quick-links__item">
        <a href="#standard" class="quick-links__link">Standard Container</a>
      </li>
      <li class="quick-links__item">
        <a href="#xsmall" class="quick-links__link">Extra Small Container</a>
      </li>
      <li class="quick-links__item">
        <a href="#small" class="quick-links__link">Small Container</a>
      </li>
      <li class="quick-links__item">
        <a href="#full" class="quick-links__link">Full Width Container</a>
      </li>
    </ul>
  </div>
<% end %>
<div class="sage-panel t-box">
  <h2 id="standard">Standard Container</h2>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-container&quot;&gt;
  &lt;!-- 1200px width container --&gt;
&lt;/div&gt;</code></pre>
  <h2 id="xsmall">Extra Small Container</h2>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-container--xs&quot;&gt;
  &lt;!-- 760px width container --&gt;
&lt;/div&gt;</code></pre>
  <h2 id="small">Small Container</h2>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-container--sm&quot;&gt;
  &lt;!-- 900px width container --&gt;
&lt;/div&gt;</code></pre>
  <h2 id="large">Large Container</h2>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-container--lg&quot;&gt;
  &lt;!-- 1440px width container --&gt;
&lt;/div&gt;</code></pre>
  <h2 id="full">Full Width Container</h2>
  <pre class="prettyprint"><code>&lt;div class=&quot;sage-container--fluid&quot;&gt;
  &lt;!-- 100% width container --&gt;
&lt;/div&gt;</code></pre>
</div>
