<h1>Containers</h1>
<hr>
<h3>Standard Container</h3>
<code><pre><xmp><div class="sage-container">
  1200px
</div></xmp></pre></code>
<h3>Small Container</h3>
<code><pre><xmp><div class="sage-container-sm">
  900px
</div></xmp></pre></code>
<h3>Full Width Container</h3>
<code><pre><xmp><div class="sage-container-fluid">
  100%
</div></xmp></pre></code>