<h1>Generators</h1>
<p>Built into the Sage Design System is the ability to generate and link the pieces of code that make up the system.</p>
<div class="sage-panel">
  <h3>Generate Tokens</h3>
  <pre class="prettyprint"><code><xmp>rails generate sage_token TOKEN_NAME</xmp></code></pre>
  <h3>Generate Element</h3>
  <pre class="prettyprint"><code><xmp>rails generate sage_element ELEMENT_NAME</xmp></code></pre>
  <h3>Generate Component</h3>
  <pre class="prettyprint"><code><xmp>rails generate sage_component COMPONENT_NAME</xmp></code></pre>
  <h3>Generate Module</h3>
  <pre class="prettyprint"><code><xmp>rails generate sage_module MODULE_NAME</xmp></code></pre>
  <h3>Generate Page</h3>
  <pre class="prettyprint"><code><xmp>rails generate sage_page PAGE_NAME</xmp></code></pre>
</div>