<%= render "sidebar_styles" %>
<%= content_for :heading do %>
<h1>Icons</h1>
<p>
  Our icon set includes those shown below. The typical pattern for
  these is to use an <code>&lt;i&gt;</code> tag with a class as indicated below.
</p>
<p>
  Note as well for accessibility that if the icon should have an
  <code>aria-label</code> attribute that describes the icon's
  purpose in context. However, if the icon is immediately surrounded by
  text that describes the icon, such as where the icon is purely decorative
  then <code>aria-hidden="true"</code> can be used instead.
</p>
<% end %>
<div class="sage-panel">
<ul class="sage-icon__example-list">
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-menu"></i>
    <p class="sage-icon__label">sage-icon-menu</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-launch"></i>
    <p class="sage-icon__label">sage-icon-launch</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-search"></i>
    <p class="sage-icon__label">sage-icon-search</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-monitor"></i>
    <p class="sage-icon__label">sage-icon-monitor</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-tag"></i>
    <p class="sage-icon__label">sage-icon-tag</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-megaphone"></i>
    <p class="sage-icon__label">sage-icon-megaphone</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-user-circle"></i>
    <p class="sage-icon__label">sage-icon-user-circle</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-gear"></i>
    <p class="sage-icon__label">sage-icon-gear</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-pen"></i>
    <p class="sage-icon__label">sage-icon-pen</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-file"></i>
    <p class="sage-icon__label">sage-icon-file</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-image"></i>
    <p class="sage-icon__label">sage-icon-image</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-folder"></i>
    <p class="sage-icon__label">sage-icon-folder</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-users"></i>
    <p class="sage-icon__label">sage-icon-users</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-chart"></i>
    <p class="sage-icon__label">sage-icon-chart</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-preview-on"></i>
    <p class="sage-icon__label">sage-icon-preview-on</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-preview-off"></i>
    <p class="sage-icon__label">sage-icon-preview-off</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-comment"></i>
    <p class="sage-icon__label">sage-icon-comment</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-conversation"></i>
    <p class="sage-icon__label">sage-icon-conversation</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-add"></i>
    <p class="sage-icon__label">sage-icon-add</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-remove"></i>
    <p class="sage-icon__label">sage-icon-remove</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-3-dot-menu"></i>
    <p class="sage-icon__label">sage-icon-3-dot-menu</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-url"></i>
    <p class="sage-icon__label">sage-icon-url</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-trash"></i>
    <p class="sage-icon__label">sage-icon-trash</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-cart"></i>
    <p class="sage-icon__label">sage-icon-cart</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-delete-key"></i>
    <p class="sage-icon__label">sage-icon-delete-key</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-delete-x"></i>
    <p class="sage-icon__label">sage-icon-delete-x</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-send-message"></i>
    <p class="sage-icon__label">sage-icon-send-message</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-mail"></i>
    <p class="sage-icon__label">sage-icon-mail</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-loop"></i>
    <p class="sage-icon__label">sage-icon-loop</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-restore"></i>
    <p class="sage-icon__label">sage-icon-restore</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-clock"></i>
    <p class="sage-icon__label">sage-icon-clock</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-calendar-date"></i>
    <p class="sage-icon__label">sage-icon-calendar-date</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-calendar-schedule"></i>
    <p class="sage-icon__label">sage-icon-calendar-schedule</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-drop"></i>
    <p class="sage-icon__label">sage-icon-drop</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-lock"></i>
    <p class="sage-icon__label">sage-icon-lock</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-user"></i>
    <p class="sage-icon__label">sage-icon-user</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-user-star"></i>
    <p class="sage-icon__label">sage-icon-user-star</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-favorite"></i>
    <p class="sage-icon__label">sage-icon-favorite</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-star"></i>
    <p class="sage-icon__label">sage-icon-star</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-check"></i>
    <p class="sage-icon__label">sage-icon-check</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-check-circle"></i>
    <p class="sage-icon__label">sage-icon-check-circle</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-remove-circle"></i>
    <p class="sage-icon__label">sage-icon-remove-circle</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-add-circle"></i>
    <p class="sage-icon__label">sage-icon-add-circle</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-delete-circle"></i>
    <p class="sage-icon__label">sage-icon-delete-circle</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-info-circle"></i>
    <p class="sage-icon__label">sage-icon-info-circle</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-question-circle"></i>
    <p class="sage-icon__label">sage-icon-question-circle</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-warning"></i>
    <p class="sage-icon__label">sage-icon-warning</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-download"></i>
    <p class="sage-icon__label">sage-icon-download</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-enlarge-vertical"></i>
    <p class="sage-icon__label">sage-icon-enlarge-vertical</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-enlarge"></i>
    <p class="sage-icon__label">sage-icon-enlarge</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-arrow-up"></i>
    <p class="sage-icon__label">sage-icon-arrow-up</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-arrow-right"></i>
    <p class="sage-icon__label">sage-icon-arrow-right</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-arrow-left"></i>
    <p class="sage-icon__label">sage-icon-arrow-left</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-arrow-down"></i>
    <p class="sage-icon__label">sage-icon-arrow-down</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-caret-up"></i>
    <p class="sage-icon__label">sage-icon-caret-up</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-caret-right"></i>
    <p class="sage-icon__label">sage-icon-caret-right</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-caret-down"></i>
    <p class="sage-icon__label">sage-icon-caret-down</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-caret-left"></i>
    <p class="sage-icon__label">sage-icon-caret-left</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-search-small"></i>
    <p class="sage-icon__label">sage-icon-search-small</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-add-small"></i>
    <p class="sage-icon__label">sage-icon-add-small</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-up-small"></i>
    <p class="sage-icon__label">sage-icon-up-small</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-right-small"></i>
    <p class="sage-icon__label">sage-icon-right-small</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-down-small"></i>
    <p class="sage-icon__label">sage-icon-down-small</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-left-small"></i>
    <p class="sage-icon__label">sage-icon-left-small</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-microphone"></i>
    <p class="sage-icon__label">sage-icon-microphone</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-microphone-off"></i>
    <p class="sage-icon__label">sage-icon-microphone-off</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-video-on"></i>
    <p class="sage-icon__label">sage-icon-video-on</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-video-off"></i>
    <p class="sage-icon__label">sage-icon-video-off</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-screen-share-on"></i>
    <p class="sage-icon__label">sage-icon-screen-share-on</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-screen-share-off"></i>
    <p class="sage-icon__label">sage-icon-screen-share-off</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-play"></i>
    <p class="sage-icon__label">sage-icon-play</p>
  </li>
  <li class="sage-icon__example">
    <i class="sage-icon__glyph sage-icon-stop"></i>
    <p class="sage-icon__label">sage-icon-stop</p>
  </li>
</ul>
</div>
