<h1>Icon</h1>
<code><pre><xmp><i class="icon-[Icon Name]"></i></xmp></pre></code>
<div class="sage-row">
  <div class="sage-col">
    <i class="sage-icon-Help"></i>
    <p>Help</p>
  </div>
  <div class="sage-col">
    <i class="sage-icon-Marketing"></i>
    <p>Marketing</p>
  </div>
  <div class="sage-col">
    <i class="sage-icon-New-Window"></i>
    <p>New-Window</p>
  </div>
  <div class="sage-col">
    <i class="sage-icon-People"></i>
    <p>People</p>
  </div>
  <div class="sage-col">
    <i class="sage-icon-Products"></i>
    <p>Products</p>
  </div>
  <div class="sage-col">
    <i class="sage-icon-Settings"></i>
    <p>Settings</p>
  </div>
  <div class="sage-col">
    <i class="sage-icon-Website"></i>
    <p>Website</p>
  </div>
</div>