<%= render "sidebar_styles" %>
<%= content_for :heading do %>
  <h1 class="t-heading-1">Icons</h1>
<% end %>
<div class="sage-panel">
  <ul class="sage-icon__wrapper">
    <li>
        <i class="sage-icon sage-icon-menu-8"></i>
        <p>sage-icon-menu-8</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-launch-app"></i>
        <p>sage-icon-launch-app</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-zoom"></i>
        <p>sage-icon-zoom</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-pc"></i>
        <p>sage-icon-pc</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-tag-cut"></i>
        <p>sage-icon-tag-cut</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-megaphone"></i>
        <p>sage-icon-megaphone</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-circle-10"></i>
        <p>sage-icon-circle-10</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-gear"></i>
        <p>sage-icon-gear</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-pen"></i>
        <p>sage-icon-pen</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-file-content"></i>
        <p>sage-icon-file-content</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-image"></i>
        <p>sage-icon-image</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-folder-15"></i>
        <p>sage-icon-folder-15</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-users-mm"></i>
        <p>sage-icon-users-mm</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-g-chart"></i>
        <p>sage-icon-g-chart</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-preview"></i>
        <p>sage-icon-preview</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-b-preview"></i>
        <p>sage-icon-b-preview</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-comment"></i>
        <p>sage-icon-comment</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-b-comment"></i>
        <p>sage-icon-b-comment</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-e-add"></i>
        <p>sage-icon-e-add</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-e-remove"></i>
        <p>sage-icon-e-remove</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-menu-5"></i>
        <p>sage-icon-menu-5</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-url"></i>
        <p>sage-icon-url</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-delete-forever"></i>
        <p>sage-icon-delete-forever</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-shopping-cart"></i>
        <p>sage-icon-shopping-cart</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-delete-key"></i>
        <p>sage-icon-delete-key</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-delete-x"></i>
        <p>sage-icon-delete-x</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-send-message"></i>
        <p>sage-icon-send-message</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-mail"></i>
        <p>sage-icon-mail</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-loop-82"></i>
        <p>sage-icon-loop-82</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-restore"></i>
        <p>sage-icon-restore</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-clock"></i>
        <p>sage-icon-clock</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-calendar-date"></i>
        <p>sage-icon-calendar-date</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-opening-times"></i>
        <p>sage-icon-opening-times</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-drop"></i>
        <p>sage-icon-drop</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-lock"></i>
        <p>sage-icon-lock</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-single-03"></i>
        <p>sage-icon-single-03</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-a-star"></i>
        <p>sage-icon-a-star</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-favorite"></i>
        <p>sage-icon-favorite</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-star-rate"></i>
        <p>sage-icon-star-rate</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-check"></i>
        <p>sage-icon-check</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-c-check"></i>
        <p>sage-icon-c-check</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-c-remove"></i>
        <p>sage-icon-c-remove</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-c-add"></i>
        <p>sage-icon-c-add</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-c-delete"></i>
        <p>sage-icon-c-delete</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-c-info"></i>
        <p>sage-icon-c-info</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-c-question"></i>
        <p>sage-icon-c-question</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-t-warning"></i>
        <p>sage-icon-t-warning</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-data-download"></i>
        <p>sage-icon-data-download</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-enlarge-vertical"></i>
        <p>sage-icon-enlarge-vertical</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-enlarge"></i>
        <p>sage-icon-enlarge</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-arrow-up"></i>
        <p>sage-icon-arrow-up</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-arrow-right"></i>
        <p>sage-icon-arrow-right</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-arrow-left"></i>
        <p>sage-icon-arrow-left</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-arrow-down"></i>
        <p>sage-icon-arrow-down</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-up-arrow"></i>
        <p>sage-icon-up-arrow</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-right-arrow"></i>
        <p>sage-icon-right-arrow</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-down-arrow"></i>
        <p>sage-icon-down-arrow</p>
    </li>

    <li>
        <i class="sage-icon sage-icon-left-arrow"></i>
        <p>sage-icon-left-arrow</p>
    </li>
  </ul>
</div>
