<%= render "sidebar_styles" %>
<%= content_for :heading do %>
<h1>Icons</h1>
<p>
  Our icon set includes those shown below. The typical pattern for 
  these is to use an <code>&lt;i&gt;</code> tag with a class as indicated below.
</p>
<p>
  Note as well for accessibility that if the icon should have an 
  <code>aria-label</code> attribute that describes the icon's 
  purpose in context. However, if the icon is immediately surrounded by 
  text that describes the icon, such as where the icon is purely decorative 
  then <code>aria-hidden="true"</code> can be used instead.
</p>
<% end %>
<div class="sage-panel">
<ul class="sage-icon__wrapper">
  <li>
    <i class="sage-icon-menu" aria-hidden="true"></i>
    <p>sage-icon-menu</p>
  </li>
  <li>
    <i class="sage-icon-launch" aria-hidden="true"></i>
    <p>sage-icon-launch</p>
  </li>
  <li>
    <i class="sage-icon-search" aria-hidden="true"></i>
    <p>sage-icon-search</p>
  </li>
  <li>
    <i class="sage-icon-monitor" aria-hidden="true"></i>
    <p>sage-icon-monitor</p>
  </li>
  <li>
    <i class="sage-icon-tag" aria-hidden="true"></i>
    <p>sage-icon-tag</p>
  </li>
  <li>
    <i class="sage-icon-megaphone" aria-hidden="true"></i>
    <p>sage-icon-megaphone</p>
  </li>
  <li>
    <i class="sage-icon-user-circle" aria-hidden="true"></i>
    <p>sage-icon-user-circle</p>
  </li>
  <li>
    <i class="sage-icon-gear" aria-hidden="true"></i>
    <p>sage-icon-gear</p>
  </li>
  <li>
    <i class="sage-icon-pen" aria-hidden="true"></i>
    <p>sage-icon-pen</p>
  </li>
  <li>
    <i class="sage-icon-file" aria-hidden="true"></i>
    <p>sage-icon-file</p>
  </li>
  <li>
    <i class="sage-icon-image" aria-hidden="true"></i>
    <p>sage-icon-image</p>
  </li>
  <li>
    <i class="sage-icon-folder" aria-hidden="true"></i>
    <p>sage-icon-folder</p>
  </li>
  <li>
    <i class="sage-icon-users" aria-hidden="true"></i>
    <p>sage-icon-users</p>
  </li>
  <li>
    <i class="sage-icon-chart" aria-hidden="true"></i>
    <p>sage-icon-chart</p>
  </li>
  <li>
    <i class="sage-icon-preview-on" aria-hidden="true"></i>
    <p>sage-icon-preview-on</p>
  </li>
  <li>
    <i class="sage-icon-preview-off" aria-hidden="true"></i>
    <p>sage-icon-preview-off</p>
  </li>
  <li>
    <i class="sage-icon-comment" aria-hidden="true"></i>
    <p>sage-icon-comment</p>
  </li>
  <li>
    <i class="sage-icon-conversation" aria-hidden="true"></i>
    <p>sage-icon-conversation</p>
  </li>
  <li>
    <i class="sage-icon-add" aria-hidden="true"></i>
    <p>sage-icon-add</p>
  </li>
  <li>
    <i class="sage-icon-remove" aria-hidden="true"></i>
    <p>sage-icon-remove</p>
  </li>
  <li>
    <i class="sage-icon-3-dot-menu" aria-hidden="true"></i>
    <p>sage-icon-3-dot-menu</p>
  </li>
  <li>
    <i class="sage-icon-url" aria-hidden="true"></i>
    <p>sage-icon-url</p>
  </li>
  <li>
    <i class="sage-icon-trash" aria-hidden="true"></i>
    <p>sage-icon-trash</p>
  </li>
  <li>
    <i class="sage-icon-cart" aria-hidden="true"></i>
    <p>sage-icon-cart</p>
  </li>
  <li>
    <i class="sage-icon-delete-key" aria-hidden="true"></i>
    <p>sage-icon-delete-key</p>
  </li>
  <li>
    <i class="sage-icon-delete-x" aria-hidden="true"></i>
    <p>sage-icon-delete-x</p>
  </li>
  <li>
    <i class="sage-icon-send-message" aria-hidden="true"></i>
    <p>sage-icon-send-message</p>
  </li>
  <li>
    <i class="sage-icon-mail" aria-hidden="true"></i>
    <p>sage-icon-mail</p>
  </li>
  <li>
    <i class="sage-icon-loop" aria-hidden="true"></i>
    <p>sage-icon-loop</p>
  </li>
  <li>
    <i class="sage-icon-restore" aria-hidden="true"></i>
    <p>sage-icon-restore</p>
  </li>
  <li>
    <i class="sage-icon-clock" aria-hidden="true"></i>
    <p>sage-icon-clock</p>
  </li>
  <li>
    <i class="sage-icon-calendar-date" aria-hidden="true"></i>
    <p>sage-icon-calendar-date</p>
  </li>
  <li>
    <i class="sage-icon-calendar-schedule" aria-hidden="true"></i>
    <p>sage-icon-calendar-schedule</p>
  </li>
  <li>
    <i class="sage-icon-drop" aria-hidden="true"></i>
    <p>sage-icon-drop</p>
  </li>
  <li>
    <i class="sage-icon-lock" aria-hidden="true"></i>
    <p>sage-icon-lock</p>
  </li>
  <li>
    <i class="sage-icon-user" aria-hidden="true"></i>
    <p>sage-icon-user</p>
  </li>
  <li>
    <i class="sage-icon-user-star" aria-hidden="true"></i>
    <p>sage-icon-user-star</p>
  </li>
  <li>
    <i class="sage-icon-favorite" aria-hidden="true"></i>
    <p>sage-icon-favorite</p>
  </li>
  <li>
    <i class="sage-icon-star" aria-hidden="true"></i>
    <p>sage-icon-star</p>
  </li>
  <li>
    <i class="sage-icon-check" aria-hidden="true"></i>
    <p>sage-icon-check</p>
  </li>
  <li>
    <i class="sage-icon-check-circle" aria-hidden="true"></i>
    <p>sage-icon-check-circle</p>
  </li>
  <li>
    <i class="sage-icon-remove-circle" aria-hidden="true"></i>
    <p>sage-icon-remove-circle</p>
  </li>
  <li>
    <i class="sage-icon-add-circle" aria-hidden="true"></i>
    <p>sage-icon-add-circle</p>
  </li>
  <li>
    <i class="sage-icon-delete-circle" aria-hidden="true"></i>
    <p>sage-icon-delete-circle</p>
  </li>
  <li>
    <i class="sage-icon-info-circle" aria-hidden="true"></i>
    <p>sage-icon-info-circle</p>
  </li>
  <li>
    <i class="sage-icon-question-circle" aria-hidden="true"></i>
    <p>sage-icon-question-circle</p>
  </li>
  <li>
    <i class="sage-icon-warning" aria-hidden="true"></i>
    <p>sage-icon-warning</p>
  </li>
  <li>
    <i class="sage-icon-download" aria-hidden="true"></i>
    <p>sage-icon-download</p>
  </li>
  <li>
    <i class="sage-icon-enlarge-vertical" aria-hidden="true"></i>
    <p>sage-icon-enlarge-vertical</p>
  </li>
  <li>
    <i class="sage-icon-enlarge" aria-hidden="true"></i>
    <p>sage-icon-enlarge</p>
  </li>
  <li>
    <i class="sage-icon-arrow-up" aria-hidden="true"></i>
    <p>sage-icon-arrow-up</p>
  </li>
  <li>
    <i class="sage-icon-arrow-right" aria-hidden="true"></i>
    <p>sage-icon-arrow-right</p>
  </li>
  <li>
    <i class="sage-icon-arrow-left" aria-hidden="true"></i>
    <p>sage-icon-arrow-left</p>
  </li>
  <li>
    <i class="sage-icon-arrow-down" aria-hidden="true"></i>
    <p>sage-icon-arrow-down</p>
  </li>
  <li>
    <i class="sage-icon-caret-up" aria-hidden="true"></i>
    <p>sage-icon-caret-up</p>
  </li>
  <li>
    <i class="sage-icon-caret-right" aria-hidden="true"></i>
    <p>sage-icon-caret-right</p>
  </li>
  <li>
    <i class="sage-icon-caret-down" aria-hidden="true"></i>
    <p>sage-icon-caret-down</p>
  </li>
  <li>
    <i class="sage-icon-caret-left" aria-hidden="true"></i>
    <p>sage-icon-caret-left</p>
  </li>
  <li>
    <i class="sage-icon-search-small" aria-hidden="true"></i>
    <p>sage-icon-search-small</p>
  </li>
  <li>
    <i class="sage-icon-add-small" aria-hidden="true"></i>
    <p>sage-icon-add-small</p>
  </li>
  <li>
    <i class="sage-icon-up-small" aria-hidden="true"></i>
    <p>sage-icon-up-small</p>
  </li>
  <li>
    <i class="sage-icon-right-small" aria-hidden="true"></i>
    <p>sage-icon-right-small</p>
  </li>
  <li>
    <i class="sage-icon-down-small" aria-hidden="true"></i>
    <p>sage-icon-down-small</p>
  </li>
  <li>
    <i class="sage-icon-left-small" aria-hidden="true"></i>
    <p>sage-icon-left-small</p>
  </li>
  <li>
    <i class="sage-icon-microphone" aria-hidden="true"></i>
    <p>sage-icon-microphone</p>
  </li>
  <li>
    <i class="sage-icon-microphone-off" aria-hidden="true"></i>
    <p>sage-icon-microphone-off</p>
  </li>
  <li>
    <i class="sage-icon-video-on" aria-hidden="true"></i>
    <p>sage-icon-video-on</p>
  </li>
  <li>
    <i class="sage-icon-video-off" aria-hidden="true"></i>
    <p>sage-icon-video-off</p>
  </li>
  <li>
    <i class="sage-icon-screen-share-on" aria-hidden="true"></i>
    <p>sage-icon-screen-share-on</p>
  </li>
  <li>
    <i class="sage-icon-screen-share-off" aria-hidden="true"></i>
    <p>sage-icon-screen-share-off</p>
  </li>
  <li>
    <i class="sage-icon-play" aria-hidden="true"></i>
    <p>sage-icon-play</p>
  </li>
  <li>
    <i class="sage-icon-stop" aria-hidden="true"></i>
    <p>sage-icon-stop</p>
  </li>
</ul>
</div>
