<h1>Modules</h1>
<p>Modules are groups of molecules joined together to form a relatively complex, distinct section of an interface.</p>
<% sorted_sage_modules.each do |example_module| %>
  <%= render "example_modules/module", title: example_module[:title], path: example_module[:path] %>
<% end %>