<h1>Modules</h1>
<p>Modules are groups of molecules joined together to form a relatively complex, distinct section of an interface.</p>
<hr>
<h3 id="sidebar">Sidebar</h3>
<h3 id="nav">Nav</h3>
<h3 id="assistant">Assistant</h3>
<h3 id="content">Content</h3>