<h1>Gettin Started</h1>
<p>These docs are designed to give you access to every answer you need to successfully contribute to the Sage Design System.</p>
<hr>
<h2>Running Sage Gem</h2>
<p>Download or clone the sage gem from Github</p>
<pre><code><xmp>https://github.com/Kajabi/sage_design_system.git</xmp></code></pre>
<p>CD into test/dummy folder and run:</p>
<pre><code><xmp>rails s</xmp></code></pre>
<p>You are then able to navigate to all the guides associated with the system by following the link: /sage/pages/index</p>