<h1>Code Status</h1>
<p>Our Elements and Objects and the platforms they're available in.</p>
<div class="sage-panel">
  <div class="status-key__wrapper">
    <div class="status-key">
      <div class="status-key__icon status-key__icon--done"></div>
      Done
    </div>
    <div class="status-key">
      <div class="status-key__icon status-key__icon--doing"></div>
      In Progress
    </div>
    <div class="status-key">
      <div class="status-key__icon status-key__icon--todo"></div>
      In Progress
    </div>
    <div class="status-key">
      <div class="status-key__icon status-key__icon--no"></div>
      Not applicable
    </div>
    <div class="status-key">
      <div class="status-key__icon status-key__icon--stop"></div>
      Deprecated
    </div>
  </div>
</div>