<h1>Tokens</h1>
<p>Design tokens are the visual design atoms of the design system — specifically, they are named entities that store visual design attributes. We use them in place of hard-coded values (such as hex values for color or pixel values for spacing) in order to maintain a scalable and consistent visual system for UI development.</p>
<hr>
<h3>Borders</h3>
<div class="tokens">
  <div class="token-border-default"><strong>$sage-border-default</strong></div>
  <div class="token-border-radius"><strong>$sage-border-radius</strong></div>
</div>
<h3>Breakpoints</h3>
<div class="tokens">
  <div class="token-xs-max"><strong>$sage-xs-max</strong></div>
  <div class="token-sm-min"><strong>$sage-sm-min</strong></div>
  <div class="token-sm-max"><strong>$sage-sm-max</strong></div>
  <div class="token-md-min"><strong>$sage-md-min</strong></div>
  <div class="token-md-max"><strong>$sage-md-max</strong></div>
  <div class="token-lg-min"><strong>$sage-lg-min</strong></div>
  <div class="token-lg-max"><strong>$sage-lg-max</strong></div>
  <div class="token-xl-min"><strong>$sage-xl-min</strong></div>
</div>
<h3>Grid</h3>
<div class="tokens">
  <div class="token-grid-columns"><strong>$sage-grid-columns</strong></div>
  <div class="token-grid-spacing"><strong>$sage-grid-spacing</strong></div>
</div>
<h3>Shadow</h3>
<div class="tokens">
  <div class="token-shadow"><strong>$sage-shadow</strong></div>
  <div class="token-shadow-md"><strong>$sage-shadow-md</strong></div>
  <div class="token-shadow-lg"><strong>$sage-shadow-lg</strong></div>
  <div class="token-shadow-xl"><strong>$sage-shadow-xl</strong></div>
  <div class="token-shadow-2xl"><strong>$sage-shadow-2xl</strong></div>
</div>
<h3>Size</h3>
<div class="tokens">
  <div class="token-spacing"><strong>$sage-spacing</strong></div>
  <div class="token-spacing-2xs"><strong>$sage-spacing-2xs</strong></div>
  <div class="token-spacing-xs"><strong>$sage-spacing-xs</strong></div>
  <div class="token-spacing-sm"><strong>$sage-spacing-sm</strong></div>
  <div class="token-spacing-lg"><strong>$sage-spacing-lg</strong></div>
</div>
<div class="tokens">
  <div class="token-container-width"><strong>$sage-container-width</strong></div>
  <div class="token-container-width-sm"><strong>$sage-container-width-sm</strong></div>
  <div class="token-container-width-fluid"><strong>$sage-container-width-fluid</strong></div>
</div>
<div class="tokens">
  <div class="token-sidebar-width"><strong>$sage-sidebar-width</strong></div>
  <div class="token-sidebar-width-md"><strong>$sage-sidebar-width-md</strong></div>
  <div class="token-sidebar-width-lg"><strong>$sage-sidebar-width-lg</strong></div>
</div>
<h3>Typography</h3>
<div class="tokens">
  <div class="token-font-family"><strong>$sage-font-family</strong></div>
</div>
<div class="tokens">
  <div class="token-font-size"><strong>$sage-font-size</strong></div>
  <div class="token-font-size-xs"><strong>$sage-font-size-xs</strong></div>
  <div class="token-font-size-sm"><strong>$sage-font-size-sm</strong></div>
  <div class="token-font-size-md"><strong>$sage-font-size-md</strong></div>
  <div class="token-font-size-lg"><strong>$sage-font-size-lg</strong></div>
  <div class="token-font-size-xl"><strong>$sage-font-size-xl</strong></div>
  <div class="token-font-size-2xl"><strong>$sage-font-size-2xl</strong></div>
  <div class="token-font-size-3xl"><strong>$sage-font-size-3xl</strong></div>
  <div class="token-font-size-4xl"><strong>$sage-font-size-4xl</strong></div>
  <div class="token-font-size-5xl"><strong>$sage-font-size-5xl</strong></div>
  <div class="token-font-size-6xl"><strong>$sage-font-size-6xl</strong></div>
</div>
<div class="tokens">
  <div class="token-font-weight"><strong>$sage-font-weight</strong></div>
  <div class="token-font-weight-semibold"><strong>$sage-font-weight-semibold</strong></div>
  <div class="token-font-weight-bold"><strong>$sage-font-weight-bold</strong></div>
</div>