<h1>Tokens</h1>
<p>Design tokens are the visual design atoms of the design system — specifically, they are named entities that store visual design attributes. We use them in place of hard-coded values (such as hex values for color or pixel values for spacing) in order to maintain a scalable and consistent visual system for UI development.</p>
<hr>
<h3>Borders</h3>
<div class="tokens">
  <div class="token-border-default"></div>
  <div class="token-border-radius"></div>
</div>
<h3>Breakpoints</h3>
<div class="tokens">
  <div class="token-xs-max"></div>
  <div class="token-sm-min"></div>
  <div class="token-sm-max"></div>
  <div class="token-md-min"></div>
  <div class="token-md-max"></div>
  <div class="token-lg-min"></div>
  <div class="token-lg-max"></div>
  <div class="token-xl-min"></div>
</div>
<h3>Grid</h3>
<div class="tokens">
  <div class="token-grid-columns"></div>
  <div class="token-grid-spacing"></div>
</div>
<h3>Shadow</h3>
<div class="tokens">
  <div class="token-shadow"></div>
  <div class="token-shadow-md"></div>
  <div class="token-shadow-lg"></div>
</div>
<h3>Size</h3>
<div class="tokens">
  <div class="token-spacing"></div>
  <div class="token-spacing-2xs"></div>
  <div class="token-spacing-xs"></div>
  <div class="token-spacing-sm"></div>
  <div class="token-spacing-lg"></div>
</div>
<div class="tokens">
  <div class="token-container-width"></div>
  <div class="token-container-width-sm"></div>
  <div class="token-container-width-fluid"></div>
</div>
<div class="tokens">
  <div class="token-sidebar-width"></div>
  <div class="token-sidebar-width-md"></div>
  <div class="token-sidebar-width-lg"></div>
</div>
<h3>Typography</h3>
<div class="tokens">
  <div class="token-font-family"></div>
</div>
<div class="tokens">
  <div class="token-font-size"></div>
  <div class="token-font-size-xs"></div>
  <div class="token-font-size-sm"></div>
  <div class="token-font-size-lg"></div>
  <div class="token-font-size-xl"></div>
  <div class="token-font-size-2xl"></div>
  <div class="token-font-size-3xl"></div>
</div>
<div class="tokens">
  <div class="token-font-weight"></div>
  <div class="token-font-weight-semibold"></div>
  <div class="token-font-weight-bold"></div>
</div>