<h1>Tokens</h1>
<p>Design tokens are the visual design atoms of the design system — specifically, they are named entities that store visual design attributes. We use them in place of hard-coded values (such as hex values for color or pixel values for spacing) in order to maintain a scalable and consistent visual system for UI development.</p>
<hr>
<h3>Borders</h3>
<h3>Breakpoints</h3>
<h3>Color Palette</h3>
<h3>Color</h3>
<h3>Grid</h3>
<h3>Shadow</h3>
<h3>Size</h3>
<h3>Typography</h3>