<h1>Typography</h1>
<p>Sage provides a constrained, purposeful set of typographic styles. These styles map as much as possible to functional roles so you know when each can be used.</p>
<hr>
<h1>Empowering experts, entrepreneurs, and influencers to build online businesses.</h1>
<pre class="prettyprint"><code><xmp><h1>Heading One</h1></xmp></code></pre>
<h2>Empowering experts, entrepreneurs, and influencers to build online businesses.</h2>
<pre class="prettyprint"><code><xmp><h2>Heading Two</h2></xmp></code></pre>
<h3>Empowering experts, entrepreneurs, and influencers to build online businesses.</h3>
<pre class="prettyprint"><code><xmp><h3>Heading Three</h3></xmp></code></pre>
<h4>Empowering experts, entrepreneurs, and influencers to build online businesses.</h4>
<pre class="prettyprint"><code><xmp><h4>Heading Four</h4></xmp></code></pre>
<h5>Empowering experts, entrepreneurs, and influencers to build online businesses.</h5>
<pre class="prettyprint"><code><xmp><h5>Heading Five</h5></xmp></code></pre>
<h6>Empowering experts, entrepreneurs, and influencers to build online businesses.</h6>
<pre class="prettyprint"><code><xmp><h6>Heading Six</h6></xmp></code></pre>