<%= render "sidebar_styles" %>
<%= content_for :heading do %>
  <h1>Typography</h1>
  <p>Sage provides a constrained, purposeful set of typographic styles. These styles map as much as possible to functional roles so you know when each can be used.</p>
<% end %>
<%= content_for :quick_links do %>
  <div class="quick-links">
    <div class="quick-links__header">
      <i class="quick-links__icon sage-icon sage-icon-file-content" aria-hidden="true"></i>
      <h5 class="quick-links__title">Contents</h5>
    </div>
    <ul class="quick-links__body">
      <li class="quick-links__item">
        <a href="#h1" class="quick-links__link">H1 Tag</a>
      </li>
      <li class="quick-links__item">
        <a href="#h2" class="quick-links__link">H2 Tag</a>
      </li>
      <li class="quick-links__item">
        <a href="#h3" class="quick-links__link">H3 Tag</a>
      </li>
      <li class="quick-links__item">
        <a href="#h4" class="quick-links__link">H4 Tag</a>
      </li>
      <li class="quick-links__item">
        <a href="#h5" class="quick-links__link">H5 Tag</a>
      </li>
      <li class="quick-links__item">
        <a href="#h6" class="quick-links__link">H6 Tag</a>
      </li>
      <li class="quick-links__item">
        <a href="#p" class="quick-links__link">P Tag</a>
      </li>
      <li class="quick-links__item">
        <a href="#list-ul" class="quick-links__link">UL Tag</a>
      </li>
      <li class="quick-links__item">
        <a href="#list-ol" class="quick-links__link">OL Tag</a>
      </li>
    </ul>
  </div>
<% end %>
<div class="sage-panel">
  <h1 id="h1">H1: Empowering experts, entrepreneurs, and influencers to build online businesses.</h1>
  <div class="sage-code-snippet">
    <pre class="prettyprint"><code>&lt;h1&gt;Empowering experts, entrepreneurs, and influencers to build online businesses.&lt;/h1&gt;</code></pre>
  </div>
  <dl class="sage-specs" data-label="H1 specifications">
    <dt class="sage-specs__property">Font size</dt>
    <dd class="sage-specs__value">2.488rem</dd>
    <dt class="sage-specs__property">Font weight</dt>
    <dd class="sage-specs__value">800</dd>
    <dt class="sage-specs__property">Letter spacing</dt>
    <dd class="sage-specs__value">0.8px</dd>
    <dt class="sage-specs__property">Line height</dt>
    <dd class="sage-specs__value">1.255</dd>
  </dl>
</div>

<div class="sage-panel">
  <h2 id="h2">H2: Empowering experts, entrepreneurs, and influencers to build online businesses.</h2>
  <div class="sage-code-snippet">
    <pre class="prettyprint"><code>&lt;h2&gt;Empowering experts, entrepreneurs, and influencers to build online businesses.&lt;/h2&gt;</code></pre>
  </div>
  <dl class="sage-specs" data-label="H2 specifications">
    <dt class="sage-specs__property">Font size</dt>
    <dd class="sage-specs__value">2.074rem</dd>
    <dt class="sage-specs__property">Font weight</dt>
    <dd class="sage-specs__value">800</dd>
    <dt class="sage-specs__property">Letter spacing</dt>
    <dd class="sage-specs__value">0.8px</dd>
    <dt class="sage-specs__property">Line height</dt>
    <dd class="sage-specs__value">1.235</dd>
  </dl>
</div>

<div class="sage-panel">
  <h3 id="h3">H3: Empowering experts, entrepreneurs, and influencers to build online businesses.</h3>
  <div class="sage-code-snippet">
    <pre class="prettyprint"><code>&lt;h3&gt;Empowering experts, entrepreneurs, and influencers to build online businesses.&lt;/h3&gt;</code></pre>
  </div>
  <dl class="sage-specs" data-label="H3 specifications">
    <dt class="sage-specs__property">Font size</dt>
    <dd class="sage-specs__value">1.728rem</dd>
    <dt class="sage-specs__property">Font weight</dt>
    <dd class="sage-specs__value">800</dd>
    <dt class="sage-specs__property">Letter spacing</dt>
    <dd class="sage-specs__value">0.5px</dd>
    <dt class="sage-specs__property">Line height</dt>
    <dd class="sage-specs__value">1.265</dd>
  </dl>
</div>

<div class="sage-panel">
  <h4 id="h4">H4: Empowering experts, entrepreneurs, and influencers to build online businesses.</h4>
  <div class="sage-code-snippet">
    <pre class="prettyprint"><code>&lt;h4&gt;Empowering experts, entrepreneurs, and influencers to build online businesses.&lt;/h4&gt;</code></pre>
  </div>
  <dl class="sage-specs" data-label="H4 specifications">
    <dt class="sage-specs__property">Font size</dt>
    <dd class="sage-specs__value">1.44rem</dd>
    <dt class="sage-specs__property">Font weight</dt>
    <dd class="sage-specs__value">800</dd>
    <dt class="sage-specs__property">Letter spacing</dt>
    <dd class="sage-specs__value">0.5px</dd>
    <dt class="sage-specs__property">Line height</dt>
    <dd class="sage-specs__value">1.258</dd>
  </dl>
</div>

<div class="sage-panel">
  <h5 id="h5">H5: Empowering experts, entrepreneurs, and influencers to build online businesses.</h5>
  <div class="sage-code-snippet">
    <pre class="prettyprint"><code>&lt;h5&gt;Empowering experts, entrepreneurs, and influencers to build online businesses.&lt;/h5&gt;</code></pre>
  </div>
  <dl class="sage-specs" data-label="H5 specifications">
    <dt class="sage-specs__property">Font size</dt>
    <dd class="sage-specs__value">1.2rem</dd>
    <dt class="sage-specs__property">Font weight</dt>
    <dd class="sage-specs__value">800</dd>
    <dt class="sage-specs__property">Letter spacing</dt>
    <dd class="sage-specs__value">0.3px</dd>
    <dt class="sage-specs__property">Line height</dt>
    <dd class="sage-specs__value">1.25</dd>
  </dl>
</div>

<div class="sage-panel">
  <h6 id="h6">H6: Empowering experts, entrepreneurs, and influencers to build online businesses.</h6>
  <div class="sage-code-snippet">
    <pre class="prettyprint"><code>&lt;h6&gt;Empowering experts, entrepreneurs, and influencers to build online businesses.&lt;/h6&gt;</code></pre>
  </div>
  <dl class="sage-specs" data-label="H6 specifications">
    <dt class="sage-specs__property">Font size</dt>
    <dd class="sage-specs__value">1rem</dd>
    <dt class="sage-specs__property">Font weight</dt>
    <dd class="sage-specs__value">800</dd>
    <dt class="sage-specs__property">Letter spacing</dt>
    <dd class="sage-specs__value">0.3px</dd>
    <dt class="sage-specs__property">Line height</dt>
    <dd class="sage-specs__value">1.25</dd>
  </dl>
</div>

<div class="sage-panel">
  <p id="p">P: Empowering experts, entrepreneurs, and influencers to build online businesses.</p>
  <div class="sage-code-snippet">
    <pre class="prettyprint"><code>&lt;p&gt;Empowering experts, entrepreneurs, and influencers to build online businesses.&lt;/p&gt;</code></pre>
  </div>
  <dl class="sage-specs" data-label="P specifications">
    <dt class="sage-specs__property">Font size</dt>
    <dd class="sage-specs__value">1rem</dd>
    <dt class="sage-specs__property">Font weight</dt>
    <dd class="sage-specs__value">400</dd>
    <dt class="sage-specs__property">Letter spacing</dt>
    <dd class="sage-specs__value">0.3px</dd>
    <dt class="sage-specs__property">Line height</dt>
    <dd class="sage-specs__value">1.5</dd>
  </dl>
</div>

<div class="sage-panel">
  <p id="list-ul">Unordered list:</p>
  <ul>
    <li>List item one</li>
    <li>List item two
      <ul>
        <li>Subitem one</li>
        <li>Subitem two</li>
      </ul>
    </li>
    <li>List item three</li>
  </ul>
  <div class="sage-code-snippet">
    <pre class="prettyprint"><code>&lt;ul&gt;
  &lt;li&gt;List item one&lt;/li&gt;
  &lt;li&gt;List item two
    &lt;ul&gt;
      &lt;li&gt;Subitem one&lt;/li&gt;
      &lt;li&gt;Subitem two&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
  &lt;li&gt;List item three&lt;/li&gt;
&lt;/ul&gt;</code></pre>
  </div>
  <dl class="sage-specs" data-label="UL specifications">
    <dt class="sage-specs__property">Font size</dt>
    <dd class="sage-specs__value">1rem</dd>
    <dt class="sage-specs__property">Font weight</dt>
    <dd class="sage-specs__value">400</dd>
    <dt class="sage-specs__property">Letter spacing</dt>
    <dd class="sage-specs__value">0.3px</dd>
    <dt class="sage-specs__property">Line height</dt>
    <dd class="sage-specs__value">1.5</dd>
  </dl>
</div>

<div class="sage-panel">
  <p id="list-ol">Ordered list:</p>
  <ol>
    <li>List item one</li>
    <li>List item two
      <ol>
        <li>Subitem one</li>
        <li>Subitem two</li>
      </ol>
    </li>
    <li>List item three</li>
  </ol>
  <div class="sage-code-snippet">
    <pre class="prettyprint"><code>&lt;ol&gt;
  &lt;li&gt;List item one&lt;/li&gt;
  &lt;li&gt;List item two
    &lt;ol&gt;
      &lt;li&gt;Subitem one&lt;/li&gt;
      &lt;li&gt;Subitem two&lt;/li&gt;
    &lt;/ol&gt;
  &lt;/li&gt;
  &lt;li&gt;List item three&lt;/li&gt;
&lt;/ol&gt;</code></pre>
  </div>
  <dl class="sage-specs" data-label="OL specifications">
    <dt class="sage-specs__property">Font size</dt>
    <dd class="sage-specs__value">1rem</dd>
    <dt class="sage-specs__property">Font weight</dt>
    <dd class="sage-specs__value">400</dd>
    <dt class="sage-specs__property">Letter spacing</dt>
    <dd class="sage-specs__value">0.3px</dd>
    <dt class="sage-specs__property">Line height</dt>
    <dd class="sage-specs__value">1.5</dd>
  </dl>
</div>
