<div class="sage-sortable" data-js-sortable>

  <div class="sage-sortable__item">
    <div class="sage-sortable__item-content">
      <h5 class="t-sage-body">Train Conducting</h5>
      <p class="t-sage-body-xsmall">Assignment</p>
    </div>
    <div class="sage-sortable__item-actions">
      <a class="sage-btn sage-btn--tertiary sage-btn--icon-only-preview-on" href="#" data-js-tooltip="Preview">Preview</a>
      <a class="sage-btn sage-btn--tertiary sage-btn--icon-only-pen" href="#" data-js-tooltip="Edit">Edit</a>
    </div>
  </div>

  <div class="sage-sortable__item">
    <div class="sage-sortable__item-content">
      <h5 class="t-sage-body">Train Conducting</h5>
      <p class="t-sage-body-xsmall">Assignment</p>
    </div>
    <div class="sage-sortable__item-actions">
      <a class="sage-btn sage-btn--tertiary sage-btn--icon-only-preview-on" href="#" data-js-tooltip="Preview">Preview</a>
      <a class="sage-btn sage-btn--tertiary sage-btn--icon-only-pen" href="#" data-js-tooltip="Edit">Edit</a>
    </div>
  </div>

  <div class="sage-sortable__item">
    <div class="sage-sortable__item-content">
      <h5 class="t-sage-body">Train Conducting</h5>
      <p class="t-sage-body-xsmall">Assignment</p>
    </div>
    <div class="sage-sortable__item-actions">
      <a class="sage-btn sage-btn--tertiary sage-btn--icon-only-preview-on" href="#" data-js-tooltip="Preview">Preview</a>
      <a class="sage-btn sage-btn--tertiary sage-btn--icon-only-pen" href="#" data-js-tooltip="Edit">Edit</a>
    </div>
  </div>

  <div class="sage-sortable__item">
    <div class="sage-sortable__item-content">
      <h5 class="t-sage-body">Train Conducting</h5>
      <p class="t-sage-body-xsmall">Assignment</p>
    </div>
    <div class="sage-sortable__item-actions">
      <a class="sage-btn sage-btn--tertiary sage-btn--icon-only-preview-on" href="#" data-js-tooltip="Preview">Preview</a>
      <a class="sage-btn sage-btn--tertiary sage-btn--icon-only-pen" href="#" data-js-tooltip="Edit">Edit</a>
    </div>
  </div>

</div>
