<button class="sage-live-user-control <%= active ? "" : "sage-live-user-control--inactive" %>">
  <i class="sage-live-user-control__icon sage-icon-<%= icon %>" <% if label != "" %>aria-label="<%= label %>"<% else %>aria-hidden="true"<% end %>></i>
</button>