<!-- Showing default/active state -->
<button class="sage-live-user-control">
  <i class="sage-live-user-control__icon sage-icon-video-on" aria-label="Toggle Camera"></i>
</button>

<!-- Showing inactive state -->
<button class="sage-live-user-control sage-live-user-control--inactive">
  <i class="sage-live-user-control__icon sage-icon-microphone-off" aria-label="Toggle Microphone"></i>
</button>
