<!-- Showing default/active state -->
<div class="sage-live-user-control">
  <i class="sage-live-user-control__icon"></i>
</div>

<!-- Showing inactive state -->
<div class="sage-live-user-control sage-live-user-control--inactive">
  <i class="sage-live-user-control__icon"></i>
</div>
