<!-- Showing default/active state -->
<button class="sage-live-user-control">
  <i class="sage-live-user-control__icon sage-icon-video-on"></i>
  <span class="visually-hidden">Toggle Camera</span>
</button>

<!-- Showing inactive state -->
<button class="sage-live-user-control sage-live-user-control--inactive">
  <i class="sage-live-user-control__icon sage-icon-microphone-off"></i>
  <span class="visually-hidden">Toggle Microphone</span>
</button>
