<ul>
  <li>Use the <code>disabled</code> attribute to adjust the element's appearance; a gray color does not mean the button is disabled, but rather that it is in an "inactive" toggle state that can be toggled back on. Consider the difference between microphone off and microphone on.</li>
</ul>
