<h5>Unstyled List</h5>
<ul class="sage-list">
  <li class="sage-switch">
    <input class="sage-switch__input" id="check-0" name="group-3" type="radio" value="option-1">
    <label class="sage-switch__label" for="check-0">It matters a whole lot.</label>
  </li>
  <li class="sage-switch">
    <input class="sage-switch__input" id="check-1" name="group-3" type="radio" value="option-2">
    <label class="sage-switch__label" for="check-1">It matters somewhat.</label>
  </li>
  <li class="sage-switch">
    <input class="sage-switch__input" id="check-2" name="group-3" type="radio" value="option-3">
    <label class="sage-switch__label" for="check-2">It does not matter one bit at all.</label>
  </li>
  <li class="sage-switch">
    <input class="sage-switch__input" id="check-3" name="group-3" type="radio" value="option-4">
    <label class="sage-switch__label" for="check-3">Undecided.</label>
  </li>
</ul>

<h5>Inline List</h5>
<p>Inline lists will wrap by default so this works best with items that have an intrinsically limited smaller width that affords space for other elements to a point.</p>
<ul class="sage-list sage-list--inline">
  <li class="sage-switch">
    <input class="sage-switch__input" id="check-0" name="group-3" type="radio" value="option-1">
    <label class="sage-switch__label" for="check-0">It matters a whole lot.</label>
  </li>
  <li class="sage-switch">
    <input class="sage-switch__input" id="check-1" name="group-3" type="radio" value="option-2">
    <label class="sage-switch__label" for="check-1">It matters somewhat.</label>
  </li>
  <li class="sage-switch">
    <input class="sage-switch__input" id="check-2" name="group-3" type="radio" value="option-3">
    <label class="sage-switch__label" for="check-2">It does not matter one bit at all.</label>
  </li>
  <li class="sage-switch">
    <input class="sage-switch__input" id="check-3" name="group-3" type="radio" value="option-4">
    <label class="sage-switch__label" for="check-3">Undecided.</label>
  </li>
</ul>

<h5>Non-wrapping Inline List</h5>
<p>Non-wrapping list will stay packed on one line until 768px at which point it will wrap. This may be most relevant for inline lists for which wrapping is undesirable but has clear limitations inside restricted containers.</p>
<ul class="sage-list sage-list--inline-fit">
  <li class="sage-panel sage-panel--flat">
    <div class="sage-panel__header">
      <h5>Panel title</h5>
    </div>
    <div class="sage-panel__body">
      <p>Lorem ipsum dolor site</p>
    </div>
  </li>
  <li class="sage-panel sage-panel--flat">
    <div class="sage-panel__header">
      <h5>Panel title</h5>
    </div>
    <div class="sage-panel__body">
      <p>Lorem ipsum dolor site</p>
    </div>
  </li>
  <li class="sage-panel sage-panel--flat">
    <div class="sage-panel__header">
      <h5>Panel title</h5>
    </div>
    <div class="sage-panel__body">
      <p>Lorem ipsum dolor site</p>
    </div>
  </li>
  <li class="sage-panel sage-panel--flat">
    <div class="sage-panel__header">
      <h5>Panel title</h5>
    </div>
    <div class="sage-panel__body">
      <p>Lorem ipsum dolor site</p>
    </div>
  </li>
</ul>