<!-- Default -->
<div class="sage-alert">
  <p class="sage-alert__title">Our privacy policy has changed</p>
  <p class="sage-alert__copy">Make sure you know how these changes affect you.</p>
</div>
<!-- Primary -->
<div class="sage-alert sage-alert--primary">
  <p class="sage-alert__title">Our privacy policy has changed</p>
  <p class="sage-alert__copy">Make sure you know how these changes affect you.</p>
</div>
<!-- Success -->
<div class="sage-alert sage-alert--success">
  <p class="sage-alert__title">Account settings updated</p>
  <p class="sage-alert__copy">Make sure you know how these changes affect you.</p>
</div>
<!-- Warning -->
<div class="sage-alert sage-alert--warning">
  <p class="sage-alert__title">Exceeded product amount limit</p>
  <p class="sage-alert__copy">Make sure you know how these changes affect you.</p>
</div>
<!-- Danger -->
<div class="sage-alert sage-alert--danger">
  <p class="sage-alert__title">App outage tonight at 12am</p>
  <p class="sage-alert__copy">Make sure you know how these changes affect you.</p>
</div>
