<tr>
  <td><code>color</code></td>
  <td>Along with the default grey, alerts can be assigned one of four color values: <code>info</code> (blue), <code>success</code> (green), <code>warning</code> (yellow), and <code>danger</code> (red). Selecting one of these values will change the alert's border, background, and text colors.</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td><code>sage_icon_name</code></td>
  <td>Name of the icon to use for this alert.</td>
  <td>String</td>
  <td><code>sage-icon-info-circle</code></td>
</tr>
<tr>
  <td><code>sage_alert_title</code></td>
  <td>Text to display as the title of the alert</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td><code>sage_alert_desc</code></td>
  <td>Text to display in the body of the alert</td>
  <td>String</td>
  <td>null</td>
</tr>
<tr>
  <td><code>dismissible</code></td>
  <td>If set, this provides users the option to dismiss the alert using a "close" button.</td>
  <td>Boolean</td>
  <td>false</td>
</tr>
