<div class="sage-banner<%= component.status ? "--#{component.status}" : ""%>">
  <p class="sage-banner__title"><%= component.title %></p>
  <p class="sage-banner__copy"><%= component.copy %></p>
</div>