<div class="sage-sidebar" id="sage-sidebar-menu-example">
  <div class="sage-sidebar__body">
    <div class="sage-nav">
      <a class="sage-nav__link" href="#">Sample link 1</a>
      <a class="sage-nav__link" href="#">Sample link 2</a>
      <a class="sage-nav__link sage-nav__link--sub" href="#">Sub link 1</a>
      <a class="sage-nav__link sage-nav__link--sub" href="#">Sub link 2</a>
      <a class="sage-nav__link sage-nav__link--sub" href="#">Sub link 3</a>
      <a class="sage-nav__link" href="#">Sample link 3</a>
      <a class="sage-nav__link" href="#">Sample link 4</a>
      <a class="sage-nav__link" href="#">Sample link 5</a>
    </div>
  </div>
  <div class="sage-sidebar__footer">
  </div>
</div>
