<div class="sage-panel">
  <h3 id="<%= title %>" class="example__title"><%= title %></h3>
  <h6 class="example__label">Code</h6>
  <pre class="prettyprint"><code><%= CGI.unescapeHTML(CGI.escapeHTML render "sage/examples/modules/#{title}/preview") %></code></pre>
</div>
