<!-- Showing no ring -->
<div class="sage-live-avatar">
  <img src="/assets/sage/avatar/jay.png" class="sage-live-avatar__image" alt="User's name"/>
</div>

<!-- Showing default ring color -->
<div class="sage-live-avatar sage-live-avatar--ring">
  <img src="/assets/sage/avatar/cj.png" class="sage-live-avatar__image" alt="User's name"/>
</div>

<!-- Showing sample specific ring color -->
<div class="sage-live-avatar sage-live-avatar--ring-orange">
  <img src="/assets/sage/avatar/chanel.png" class="sage-live-avatar__image" alt="User's name"/>
</div>

<!-- Showing how size can be modified with a custom property -->
<div class="sage-live-avatar" style="--sage-live-avatar-size: 64px;">
  <img src="/assets/sage/avatar/lienha.png" class="sage-live-avatar__image" alt="User's name"/>
</div>
