<!-- Wrappers for demonstration purposes only -->
<div class="sage-live-avatar-wrapper">
  <!-- Showing default -->
  <div class="sage-live-avatar" data-initials="CJ"></div>

  <!-- Showing color variation -->
  <div class="sage-live-avatar sage-live-avatar--purple" data-initials="PS"></div>

  <!-- Showing with avatar image -->
  <div class="sage-live-avatar" data-initials="LJ">
    <img src="/assets/sage/avatar/jay.png" class="sage-live-avatar__image" alt="User's name"/>
  </div>
</div>
<div class="sage-live-avatar-wrapper">
  <!-- Showing with ring color -->
  <div class="sage-live-avatar sage-live-avatar--ring" data-initials="CJ"></div>

  <!-- Showing sample specific ring color -->
  <div class="sage-live-avatar sage-live-avatar--orange sage-live-avatar--ring" data-initials="CJ"></div>

  <!-- Showing sample defajlt no ring color -->
  <div class="sage-live-avatar sage-live-avatar--sage sage-live-avatar--ring" data-initials="CJ">
    <img src="/assets/sage/avatar/cj.png" class="sage-live-avatar__image" alt="User's name"/>
  </div>
</div>
