<div class="sage-live-avatar">
  <img src="/assets/sage/avatar/jay.png" class="sage-live-avatar__image" alt="User's name"/>
</div>
<div class="sage-live-avatar sage-live-avatar--ring">
  <img src="/assets/sage/avatar/jay.png" class="sage-live-avatar__image" alt="User's name"/>
</div>
<div class="sage-live-avatar sage-live-avatar--ring-orange">
  <img src="/assets/sage/avatar/jay.png" class="sage-live-avatar__image" alt="User's name"/>
</div>
