<tr>
  <td>ring</td>
  <td>
    This component uses the <code>--ring</code> modifier to add a thin border around the image.
    While this results in a default <code>primary</code> color being applied, any other color
    from the System can be applied using <code>--ring-colorname</code>. Therefore, programmatic
    implementations of this object should allow <code>primary</code> to be the passive default
    while also allowing a particular System color to be passed in.</td>
  <td>String</td>
  <td>primary</td>
</tr>
