<tr>
  <td>color</td>
  <td>
    This component uses the <code>--color</code> modifier to change the default
    color set to the provided color. For example <code>sage-live-avatar--orange</code>
    sets the initials color, background color, and optional halo to variants of the
    system's orange swatch.
  </td>
  <td>String</td>
  <td>null (primary color)</td>
</tr>
<tr>
  <td>ring</td>
  <td>
    This component uses the <code>--ring</code> modifier to add a thin border around the image.
    While this results in a default <code>primary</code> color being applied, this will change
    dependingon the <code>--color</code> set.
  </td>
  <td>Boolean</td>
  <td>false</td>
</tr>
