<ul>
  <li>Pass the user's initials to the <code>data-initials</code> attribute regardless of whether or not an image is present.</li>
  <li>Use square graphics as the source for the image; otherwise the avatar will center vertically and may crop out some of the image.</li>
</ul>
