/* ==================================================
  ** _colors.scss

  For Sage documentation use
================================================== */

.colors {
  overflow: hidden;
  margin-bottom: sage-spacing();
  border-radius: sage-border(radius);
}

%color {
  padding: sage-spacing(sm) sage-spacing();
  font-size: sage-font-size(sm);
  font-weight: sage-font-weight(semibold);
  color: sage-color(white);

  &::after {
    float: right;
    text-transform: uppercase;
  }
}

.color {
  @each $name, $color in $sage-colors {
    &-#{$name} {
      @each $tone, $hex in $color {
        &-#{$tone} {
          @extend %color;
          background: $hex;

          @if (($name == grey) or ($name == white)) {
            color: sage-color(charcoal, 500);
          }

          @else if (lightness($hex) > 50) {
            color: sage-color($name, 500);
          }

          &::after {
            content: "#{$hex}";
          }
        }
      }
    }
  }
}

[class^="color-white-"] {
  box-shadow: inset 0 0 rem(1px) sage-color(charcoal);
}

[class^="color-black-"] {
  color: sage-color(white);
}

[class^="color-"]:only-child {
  border-radius: sage-border(radius);
}
