/* ==================================================
  ** _status_table.scss

  For Sage documentation use
================================================== */

$-status-table-border: rem(2px) solid sage-color(grey);
$-status-table-cell-padding: sage-spacing(xs) sage-spacing(sm);
$-status-table-heading-font-size: sage-font-size(sm);
$-status-table-heading-padding: sage-spacing(xs) sage-spacing(sm);

.sage-table--status {
  width: 100%;

  thead {
    font-size: $-status-table-heading-font-size;
  }

  tbody {
    tr:nth-child(3n) {
      border-bottom: $-status-table-border;
    }

    tr:last-child {
      border-bottom: 0;
    }
  }

  th {
    padding: $-status-table-heading-padding;
    text-align: center;
    border-bottom: $-status-table-border;

    &:first-child {
      padding-left: 0;
      text-align: left;
      text-align: inline-start;
    }

    &:nth-child(2) {
      text-align: left;
      text-align: inline-start;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  td {
    padding: $-status-table-cell-padding;
    vertical-align: middle;

    &:first-child {
      padding-left: 0;
      vertical-align: top;
      font-weight: sage-font-weight(semibold);
    }

    &:nth-child(2) {
      border-bottom: sage-border();
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      text-align: center;
      border-bottom: sage-border();
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
