/* ==================================================
  ** _theme.scss

  For Sage documentation use
================================================== */


// Typography
a {
  color: sage-color(sage);
}

// Assistant
.sage-assistant {
  background: sage-color(charcoal, 500);
  &__branding {
    height: 30px;
  }
}

// Version Number
.version-number {
  @extend %t-sage-body-small-bold;
  color: #fff;
}
