<div class="sage-btn sage-menu-anchor" aria-has-popup="true" aria-expanded="false" tabindex="0" role="button">
  Add An Element
  <%= render "examples/objects/menu/markup",
    options: [
      {
        label: "Add A Product",
        isDanger: false
      },
      {
        label: "Add A Page",
        isDanger: false
      },
      {
        label: "Add A Link",
        isDanger: false
      },
      {
        label: "Take A Dangerous Action",
        isDanger: true
      }
    ]
  %>
</div>
