<div class="sage-modal" data-js-modal="cool-modal" role="dialog">
  <div class="sage-modal__container">
    <div class="sage-modal__header">
      <h5 class="t-sage-heading-5">Example Sage Modal</h5>
    </div>
    <div class="sage-modal__content">
      <p class="t-sage-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="sage-modal__footer">
      <a href="#" class="sage-btn sage-btn--primary sage-btn--icon-left-check">Take An Action</a>
      <a href="#" class="sage-btn sage-btn--tertiary">Cancel</a>
    </div>
  </div>
</div>
