<div class="sage-modal" data-js-modal="cool-modal">
  <div class="sage-modal__container">
    <h5 class="">Billboard Title</h5>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
