<dialog class="sage-modal" data-js-modal="cool-modal" role="dialog" aria-modal="true">
  <section class="sage-modal__container">
    <header class="sage-modal__header">
      <h1 class="t-sage-heading-5">Example Sage Modal</h1>
    </header>
    <div class="sage-modal__content">
      <p class="t-sage-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="sage-modal__footer">
      <a href="#" class="sage-btn sage-btn--primary sage-btn--icon-left-check">Take An Action</a>
      <a href="#" class="sage-btn sage-btn--tertiary" data-js-modal-close>Close Modal</a>
      <a href="#" class="sage-btn sage-btn--danger" data-js-modal-destroy>Destroy Modal</a>
    </div>
  </section>
</dialog>
