<button class="sage-btn sage-btn--primary sage-btn--icon-right-launch" data-js-modal-open="cool-modal">Trigger Modal</button>
<button class="sage-btn sage-btn--primary sage-btn--icon-right-launch" data-js-modal-open="http://localhost:4000/pages/object">Trigger Modal Remote</button>

<%= render "examples/objects/modal/markup" %>
