<%= sage_component SagePanel, {} do %>
  <%= sage_component SagePanelHeader, {} do %>
    <h2 id="<%= title %>-example-preview" class="sage-panel__title">Preview</h2>
  <% end %>

  <%= render "examples/#{type.pluralize}/#{title}/preview" %>
<% end %>
