<%= sage_component SageCardRow, { grid_template: "te", spacer: {bottom: :sm} } do %>
  <h2 id="<%= title %>-example-preview">Preview</h2>
<% end %>
<%= sage_component SageCard, { spacer: {bottom: :xl} } do %>
  <%= render "examples/#{type.pluralize}/#{title}/preview" %>
<% end %>
