<% if props_content.present? %>
  <div id="<%= @title %>-example-props" class="docs-container sage-type">
    <h2 class="t-sage-heading-2 example__title">Properties</h2>
    <div class="sage-table-wrapper">
      <div class="sage-table-wrapper__overflow">
        <table class="sage-table sage-table--properties">
          <thead>
            <tr>
              <th>Property</th>
              <th>Description</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <%= props_content %>
        </table>
      </div>
    </div>
  </div>
<% end %>
