<% if props_content.present? %>
  <%= sage_component SagePanel, {} do %>
    <%= sage_component SagePanelHeader, {} do %>
      <h2 id="<%= @title %>-example-props" class="sage-panel__title">Properties</h2>
    <% end %>

    <div class="sage-table-wrapper">
      <div class="sage-table-wrapper__overflow">
        <table class="sage-table sage-table--properties">
          <thead>
            <tr>
              <th>Property</th>
              <th>Description</th>
              <th>Type</th>
              <th>Default</th>
            </tr>
          </thead>
          <%= props_content %>
        </table>
      </div>
    </div>
  <% end %>
<% end %>
