<nav class="sage-nav" aria-label="Main">
  <% nav_links.each do |link| %>
  <a href="<%= link[:url] %>" class="sage-nav__link <%= link[:is_sublink] ? "sage-nav__link--sub" : "" %> <%= link[:is_active] ? "sage-nav__link--active" : "" %>"><%= link[:text] %></a>
  <% end %>
</nav>