/* ==================================================
  ** _button.scss
  type: element


================================================== */

// ==================================================
// MIXINS
// ==================================================

@mixin button-style-base {
  @include button-style-reset();

  position: relative;
  padding: 0.75rem sage-spacing(sm);
  margin-bottom: sage-spacing(sm);
  margin-right: sage-spacing(2xs);
  font-size: sage-font-size(md);
  font-weight: 500;
  letter-spacing: 0.01875rem; // 0.3px
  color: sage-color(charcoal, 500);
  border: $sage-btn-border-width solid currentColor;
  border-radius: sage-border(radius);
  box-shadow: $sage-btn-shadow-base;
  transition: border $sage-btn-transition, background-color $sage-btn-transition, box-shadow $sage-btn-transition;
}

@mixin button-style-disabled {
  box-shadow: none;
  transition: none;
  cursor: not-allowed;

  &:hover:not(:focus):not(:active):not(:disabled):not(.disabled),
  &:focus,
  &:active {
    border-color: transparent;
    outline: none;
  }
}


button,
input[type="submit"],
input[type="search"] {
  @include button-style-base;
}

.sage-btn {
  @include button-style-base;

  // add space between adjacent buttons
  + .sage-btn {
    margin-left: sage-spacing(xs);
  }

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% + ((#{$sage-btn-focus-outline-width}px ) + (#{$sage-btn-focus-outline-size} * 2)));
    height: calc(100% + ((#{$sage-btn-focus-outline-width}px) + (#{$sage-btn-focus-outline-size} * 2)));
    border: calc(#{$sage-btn-focus-outline-width} * 1px) solid $sage-btn-focus-outline-color;
    border-radius: sage-border(radius-large);
    pointer-events: none;
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.94);
    transition: opacity 0.15s ease-out 0.05s, transform 0.2s ease-in-out;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: sage-color(charcoal, 100);
    color: sage-color(charcoal, 200);
  }

  &:focus {
    box-shadow: $sage-btn-shadow-base;
    outline: none;
  }

  &:focus:not(:disabled):not(.disabled),
  &:active:not(:disabled):not(.disabled) {
    &::after {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0) scale(1);
    }
  }

  &:active {
    border-color: sage-color(charcoal, 200);
    box-shadow: none;
    color: sage-color(charcoal, 400);
  }

  &:disabled,
  &.disabled {
    @include button-style-disabled;

    background-color: sage-color(grey, 100);
    color: sage-color(grey);
  }

  &--primary {
    @extend .sage-btn;

    background-color: $sage-btn-primary-bg-color;
    border-color: $sage-btn-primary-bg-color;
    color: $sage-btn-primary-text-color;

    &::after {
      border-color: $sage-btn-primary-bg-color;
    }

    &:hover:not(:focus):not(:active):not(:disabled):not(.disabled),
    &:focus,
    &:active {
      border-color: transparent;
      color: $sage-btn-primary-text-color;
    }

    &:hover:not(:focus):not(:active):not(:disabled):not(.disabled) {
      background-color: lighten($sage-btn-primary-bg-color, 9%);
    }

    &:focus {
      background-color: $sage-btn-primary-bg-color;
      box-shadow: $sage-btn-shadow-base;
    }

    &:active {
      background-color: darken($sage-btn-primary-bg-color, 11%);
      box-shadow: none;
    }

    &:disabled,
    &.disabled {
      @include button-style-disabled;

      background-color: sage-color(primary, 100);
      border-color: transparent;
      color: sage-color(primary, 200);
    }
  }

  &--secondary {
    @extend .sage-btn;

    background: #fff;
    border: 1px solid transparent;
    color: $sage-btn-secondary-text-color;

    &::after {
      border-color: sage-color(primary);
    }

    &:hover:not(:focus):not(:active):not(:disabled):not(.disabled) {
      border-color: transparent;
      box-shadow: $sage-btn-shadow-hover;
      color: $sage-btn-secondary-text-color;
    }

    &:focus {
      border: 1px solid sage-color(grey, 300);
    }

    &:active {
      background-color: sage-color(grey, 200);
      border: 1px solid sage-color(grey, 300);
    }

    &:disabled,
    &.disabled {
      @include button-style-disabled;

      background-color: sage-color(grey, 200);
      border-color: transparent;
      color: sage-color(grey, 400);

      &:hover,
      &:focus,
      &:active {
        border-color: transparent;
        box-shadow: none;
      }
    }
  }

  &--danger {
    @extend .sage-btn;

    background: $sage-btn-danger-bg-color;
    border-color: transparent;
    box-shadow: $sage-btn-shadow-base;
    color: $sage-btn-danger-text-color;

    &::after {
      border-color: $sage-btn-danger-bg-color;
      z-index: sage-z-index();
    }

    &:hover,
    &:focus,
    &:active {
      border-color: transparent;
      color: $sage-btn-danger-text-color;
    }

    &:hover:not(:focus):not(:active):not(:disabled):not(.disabled) {
      background-color: saturate(lighten($sage-btn-danger-bg-color, 6%), 5%);
      box-shadow: $sage-btn-shadow-hover;
    }

    &:focus {
      box-shadow: $sage-btn-shadow-base;
    }

    &:active {
      background-color: darken($sage-btn-danger-bg-color, 4%);
      box-shadow: none;
    }

    &:disabled,
    &.disabled {
      @include button-style-disabled;

      background-color: sage-color(red, 100);
      border-color: transparent;
      color: sage-color(red, 200);
    }
  }

  &--link {
    @extend .sage-btn;


  }

  &--icon {
    @extend .sage-btn;

    display: inline-flex;
  }
}
