// ==================================================
// Variables
// ==================================================

$sage-checkbox-color-default: sage-color(grey, 400);
$sage-checkbox-color-checked: sage-color(primary);
$sage-checkbox-color-disabled: sage-color(grey, 200);
$sage-checkbox-border-radius: 0.25rem;
$sage-checkbox-size-default: 1.5rem;
$sage-checkbox-focus-outline-size: sage-spacing(2xs);
$sage-checkbox-focus-outline-width: 1;
$sage-checkbox-focus-outline-color: sage-color(primary);
$sage-checkbox-disabled-checked-color: sage-color(primary, 200);


// ==================================================
// Checkbox element
// ==================================================

.sage-checkbox {
  input[type="checkbox"] {
    appearance: none;
    display: inline-block;
    position: relative;
    height: $sage-checkbox-size-default;
    width: $sage-checkbox-size-default;
    margin: 0;
    vertical-align: top;
    color: $sage-checkbox-color-default;
    border: 1px solid $sage-checkbox-color-default;
    border-radius: $sage-checkbox-border-radius;
    outline: none;
    cursor: pointer;

    & + label {
      display: inline-block;
      margin-left: sage-spacing(2xs);
      font-size: sage-font-size();
      line-height: sage-font-height();
      vertical-align: top;
      cursor: pointer;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) scale(0.94);
      width: calc(100% + ((#{$sage-checkbox-focus-outline-width}px ) + (#{$sage-checkbox-focus-outline-size} * 2)));
      height: calc(100% + ((#{$sage-checkbox-focus-outline-width}px) + (#{$sage-checkbox-focus-outline-size} * 2)));
      border: calc(#{$sage-checkbox-focus-outline-width}px) solid $sage-checkbox-focus-outline-color;
      border-radius: $sage-checkbox-border-radius;
      transition: opacity 0.15s ease-out 0.05s, transform 0.2s ease-in-out;
      opacity: 0;
      pointer-events: none;
    }

    // checked
    &:checked {
      color: $sage-checkbox-color-checked;
      background: $sage-checkbox-color-checked;
      border-color: $sage-checkbox-color-checked;
      box-shadow: sage-shadow(sm);

      &::after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: rotate(43deg) translate3d(-110%, -30%, 0);
        height: 0.75rem;
        width: 0.375rem;
        border: 2px solid #fff;
        border-left: 0;
        border-top: 0;
      }
    }

    // disabled
    &:disabled {
      background: $sage-checkbox-color-disabled;
      cursor: not-allowed;
      opacity: 0.5;

      &::before {
        display: none;
      }

      // disabled & checked
      &:checked {
        background: $sage-checkbox-disabled-checked-color;
        border-color: $sage-checkbox-disabled-checked-color;
        box-shadow: none;
        opacity: 1;

        &::before {
          display: none;
        }
      }

      & + label {
        color: $sage-checkbox-color-default;
        cursor: not-allowed;
      }
    }

    // hover
    &:hover {
      &:checked {
        &:hover {
          border-color: $sage-checkbox-color-checked;
        }

        &:disabled {
          border-color: $sage-checkbox-disabled-checked-color;
        }
      }

      &:not(:checked) {
        &:not(:disabled) {
          box-shadow: sage-shadow(sm);
          border-color: sage-color(grey, 500);
        }
      }
    }

    &:focus,
    &:active {
      &::before {
        opacity: 1;
      }
    }
  }
}
