/* ==================================================
  ** form_textarea
  type: element

================================================== */

.sage-textarea {
  position: relative;

  &:not(:last-child) {
    margin-bottom: $sage-textarea-spacing;
  }
}

.sage-textarea__label {
  position: absolute;
  left: $sage-textarea-padding;
  top: $sage-textarea-padding;
  color: inherit;
  font-size: $sage-textarea-label-font-size; // 11px
  font-weight: $sage-textarea-label-font-weight;
  pointer-events: none;
  opacity: 0;
}

.sage-textarea__field {
  @mixin floating-label {
    transform: translateY(-$sage-textarea-padding-offset);
    background-color: rgba(sage-color(grey, 100), 0.9);
    opacity: 1;
  }

  min-height: $sage-textarea-min-height;
  height: 100%;
  width: 100%;
  padding: $sage-textarea-padding $sage-textarea-padding $sage-textarea-padding;
  color: $sage-textarea-color-default;
  line-height: $sage-textarea-line-height;
  border: $sage-textarea-border-width solid $sage-textarea-color-default;
  border-radius: $sage-textarea-border-radius;
  background: transparent;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  @include placeholder {
    color: inherit;
  }

  &:focus:not(:disabled),
  &:active:not(:disabled) {
    padding-top: $sage-textarea-padding-filled;
    border-color: currentColor;
    outline: none;

    @include placeholder {
      opacity: 0;
    }

    .sage-textarea--no-label & {
      padding-top: $sage-textarea-padding;
    }

    ~ .sage-textarea__label {
      @include floating-label();

      transition: opacity 0.15s ease-out, transform 0.15s ease-in-out, color 0.15s ease-out;
    }
  }

  &:valid:not(:placeholder-shown),
  &:required:not(:placeholder-shown) {
    padding-top: $sage-textarea-padding-filled;

    ~ .sage-textarea__label {
      @include floating-label();

      transition: opacity 0.15s ease-out, transform 0.15s ease-in-out, color 0.15s ease-out;
    }

    .sage-textarea--no-label & {
      padding-top: $sage-textarea-padding;
    }
  }

  &:valid:not(:placeholder-shown) {
    border-color: $sage-textarea-color-success;
    box-shadow: $sage-textarea-box-shadow-size $sage-textarea-color-success;

    ~ .sage-textarea__label {
      color: $sage-textarea-color-success;
    }
  }

  &:required:not(:placeholder-shown):not(:valid) {
    border-color: $sage-textarea-color-error;
    box-shadow: $sage-textarea-box-shadow-size $sage-textarea-color-error;

    ~ .sage-textarea__label {
      color: $sage-textarea-color-error;
    }
  }

  &:disabled {
    color: $sage-textarea-color-disabled;
    background-color: $sage-textarea-bg-disabled;
    cursor: not-allowed;
    resize: none;
  }
}
