/*------------------------------------*/
/*-- radio element */
/*------------------------------------*/
.sage-radio {
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff;
    border: 1px solid sage-color(grey, 400);
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin: 0;
    outline: none;
    position: relative;
    transition: 0.3s, border-color 0.3s, box-shadow 0.2s;
    vertical-align: top;
    width: 24px;
    // checked
    &:checked {
      background: sage-color(primary, 300);
    }
    // disabled
    &:disabled {
      background: sage-color(grey, 100);
      border-color: sage-color(grey, 300);
      cursor: not-allowed;
      opacity: 0.5;
      // disabled & checked
      &:checked {
        background: sage-color(grey, 200);
      }
      & + label {
        cursor: not-allowed;
        color: sage-color(grey, 400);
      }
      &:not(:checked)::after {
        background: sage-color(grey, 100);
      }
    }
    // hover
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          box-shadow: sage-shadow(sm);
        }
      }
    }
    // focus
    &:focus {
      box-shadow: 0 0 0 2px fade-out(sage-color(primary), .7)
    }
    // label
    & + label {
      cursor: pointer;
      display: inline-block;
      font-size: sage-font-size();
      line-height: sage-font-height();
      margin-left: 4px;
      vertical-align: top;
    }
  }
  // circle when checked
  input {
    border-radius: 50%;
    &:after {
      content: "";
      display: block;
      left: 3px;
      opacity: 1;
      position: absolute;
      top: 3px;
      background: #fff;
      border-radius: 50%;
      height: 16px;
      opacity: 1;
      transform: scale(0.5);
      width: 16px;
    }
  }

  /* radio responsive styles */
  @media (max-width: sage-breakpoint()) {
  }
}
