// ============================================
// Variables
// ============================================
$sage-switch-border-radius: 1rem;
$sage-switch-focus-outline-size: sage-spacing(2xs);
$sage-switch-focus-outline-width: 1;
$sage-switch-focus-outline-color: currentColor;

/*------------------------------------*/
/*-- switch element */
/*------------------------------------*/
.sage-switch {
  input[type="checkbox"] {
    appearance: none;
    background: sage-color(grey, 400);
    border-radius: $sage-switch-border-radius;
    border: 1px solid sage-color(grey, 400);
    color: sage-color(grey, 400);
    cursor: pointer;
    display: inline-block;
    height: 1.5rem;
    margin: 0;
    outline: none;
    position: relative;
    transition: 0.3s, border-color 0.3s, box-shadow 0.2s;
    vertical-align: top;
    width: 2.75rem;
    // checked
    &:checked {
      background: sage-color(primary, 300);
      color: sage-color(primary, 300);
    }
    // disabled
    &:disabled {
      background: sage-color(grey, 200);
      cursor: not-allowed;
      opacity: 0.5;
      // disabled & checked
      &:checked {
        background: sage-color(grey, 200);
      }
      & + label {
        color: sage-color(grey, 400);
        cursor: not-allowed;
      }
    }
    // hover
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          box-shadow: sage-shadow(sm);
        }
      }
    }

    & + label {
      cursor: pointer;
      display: inline-block;
      font-size: sage-font-size();
      line-height: sage-font-height();
      margin-left: sage-spacing(2xs);
      vertical-align: top;
    }
  }
  // switch circle
  input[type="checkbox"] {
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
    }

    &::before {
      left: 50%;
      top: 50%;
      width: calc(100% + ((#{$sage-switch-focus-outline-width}px ) + (#{$sage-switch-focus-outline-size} * 2)));
      height: calc(100% + ((#{$sage-switch-focus-outline-width}px) + (#{$sage-switch-focus-outline-size} * 2)));
      border: calc(#{$sage-switch-focus-outline-width}px) solid $sage-switch-focus-outline-color;
      border-radius: $sage-switch-border-radius;
      pointer-events: none;
      opacity: 0;
      transform: translate3d(-50%, -50%, 0) scale(0.94);
      transition: opacity 0.15s ease-out 0.05s, transform 0.2s ease-in-out;
    }

    &::after {
      background: #fff;
      border-radius: 50%;
      height: 1.125rem;
      left: 50%;
      top: 50%;
      transform: translate3d(-100%, -50%, 0);
      transition-duration: 0.2s;
      transition-timing-function: ease-out;
      width: 1.125rem;
    }

    &:checked {
      background: sage-color(primary);

      &::after {
        transform: translate3d(0, -50%, 0);
      }
    }

    &:focus,
    &:active {
      &::before {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0);
      }
    }

    &:disabled:not(:checked) {
      &::after {
        background: #fff;
      }
    }
  }
}
