/* ==================================================
  ** tooltip
  type: element
  
================================================== */

.sage-tooltip {
  display: flex;
  position: absolute;
  flex-basis: content;
  flex-wrap: wrap;
  z-index: $tooltip-zindex;
  width: max-content;
  max-width: $tooltip-maxwidth;
  padding: $tooltip-padding;
  line-height: sage-font-height();
  text-align: left;
  color: $tooltip-font-color;
  font-size: sage-font-size(sm);
  font-weight: normal;
  white-space: normal;
  border-radius: sage-border(radius);
  background-color: $tooltip-background-color;
  box-shadow: sage-shadow(xl);
  &::after {
    content: "";
    position: absolute;
    clear: both;
  }
  &-top {
    &::after {
      left: 50%;
      top: 100%;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $tooltip-background-color;
    }
  }
  &-bottom {
    &::after {
      left: 50%;
      bottom: 100%;
      transform: translate3d(-50%, 0, 0);
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid $tooltip-background-color;
    }
  }
  &-left {
    &::after {
      left: 100%;
      bottom: 50%;
      transform: translate3d(0, 50%, 0);
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 6px solid $tooltip-background-color;
    }
  }
  &-right {
    &::after {
      left: 0;
      bottom: 50%;
      transform: translate3d(-100%, 50%, 0);
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 6px solid $tooltip-background-color;
    }
  }
  &--light {
    color: $tooltip-light-font-color;
    background: $tooltip-light-background-color;
    &.sage-tooltip-top::after {
      border-top-color: #fff;
    }
    &.sage-tooltip-bottom::after {
      border-bottom-color: #fff;
    }
    &.sage-tooltip-left::after {
      border-left-color: #fff;
    }
    &.sage-tooltip-right::after {
      border-right-color: #fff;
    }
  }
}
