<ul>
  <li>Use the <code>sage-btn-group</code> for more than one button to apply spacing</li>
  <li>
    If the context does not already provide positioning settings (such as inside a card or panel footer) 
    use the <code>sage-btn-group--align-end</code> to place buttons on the right side of a space.
  </li>
</ul>
