<!-- Default -->
<a href="#" class="sage-btn">Default Button</a>
<!-- Primary -->
<a href="#" class="sage-btn-primary">Priamary Button</a>
<!-- Secondary -->
<a href="#" class="sage-btn-secondary">Secondary Button</a>