<div class="sage-banner<%= color != "" ? " sage-banner--#{color}" : "" %><% if active %> sage-banner--active<% end %>">
  <div class="sage-banner__content">
    <% if content %>
    <p class="sage-banner__text">
      <% if sage_icon_name != "" %>
      <i class="sage-icon-#{icon_name}" aria-hidden="true"></i>
      <% end %>
      <%= content %>
    </p>
    <% end %>
    <% if dismissable %>
      <button class="sage-btn sage-btn-link sage-banner__close">Dismiss</button>
    <% end %>
  </div>
</div>
