<!-- Default -->
<div class="sage-banner">
  <p class="sage-banner__title">Our privacy policy has changed</p>
  <p class="sage-banner__copy">Make sure you know how these changes affect you.</p>
</div>
<!-- Primary -->
<div class="sage-banner sage-banner--primary">
  <p class="sage-banner__title">Our privacy policy has changed</p>
  <p class="sage-banner__copy">Make sure you know how these changes affect you.</p>
</div>
<!-- Success -->
<div class="sage-banner sage-banner--success">
  <p class="sage-banner__title">Account settings updated</p>
  <p class="sage-banner__copy">Make sure you know how these changes affect you.</p>
</div>
<!-- Warning -->
<div class="sage-banner sage-banner--warning">
  <p class="sage-banner__title">Exceeded product amount limit</p>
  <p class="sage-banner__copy">Make sure you know how these changes affect you.</p>
</div>
<!-- Danger -->
<div class="sage-banner sage-banner--danger">
  <p class="sage-banner__title">App outage tonight at 12am</p>
  <p class="sage-banner__copy">Make sure you know how these changes affect you.</p>
</div>
