/* ==================================================
  ** _form_select.scss
  type: element

================================================== */

$-sage-selectfield-height:                    $sage-inputfield-height;
$-sage-selectfield-bg-label:                  $sage-inputfield-bg-label;
$-sage-selectfield-padding-x:                 $sage-inputfield-padding-x;
$-sage-selectfield-filled-top-padding:        rem(6);
$-sage-selectfield-padding-label:             $sage-inputfield-padding-label;
$-sage-selectfield-bottom-spacing:            $sage-inputfield-spacing;

$-sage-selectfield-border-radius:             $sage-inputfield-border-radius;
$-sage-selectfield-border-width:              $sage-inputfield-border-width;
$-sage-selectfield-border-color:              $sage-inputfield-border-color;
$-sage-selectfield-border-color-hover:        sage-color(grey, 500);
$-sage-selectfield-border-box-shadow-size:    $sage-inputfield-box-shadow-size;

$-sage-selectfield-color-default:             $sage-inputfield-color-default;
$-sage-selectfield-color-success:             $sage-inputfield-color-success;
$-sage-selectfield-color-error:               $sage-inputfield-color-error;

.sage-select {
  position: relative;

  &:not(:last-child) {
    margin-bottom: $-sage-selectfield-bottom-spacing;
  }
}

.sage-select__label {
  position: absolute;
  white-space: nowrap;
  line-height: initial;
  pointer-events: none;

  @include position((($-sage-selectfield-height / 2) - $sage-body-font-size), unset, unset, $-sage-selectfield-padding-x);
}

%sage-select__label--active {
  @extend %t-sage-body-xsmall-semi;

  transform: translateY(calc(-50% - (#{$sage-body-font-size} / 4)));
  padding: 0 $-sage-selectfield-padding-label;
  color: $-sage-selectfield-color-success;
  background-color: $-sage-selectfield-bg-label;
  transition: transform 0.15s ease-in-out, color 0.15s ease-out;
}

%sage-select__label--inactive {
  @extend %t-sage-body;

  color: $-sage-selectfield-color-default;
}

.sage-select__arrow::before {
  @include icon-base(caret-down);
  @include position(0, sage-spacing(sm), unset, unset);
  position: absolute;
  align-items: center;
  height: $-sage-selectfield-height;
  color: sage-color(grey, 500);
}

.sage-select__field {
  height: $-sage-selectfield-height;
  width: 100%;
  padding: $-sage-selectfield-filled-top-padding $-sage-selectfield-padding-x 0;
  appearance: none;
  color: transparent;
  border: $-sage-selectfield-border-width solid $-sage-selectfield-border-color;
  border-radius: $-sage-selectfield-border-radius;
  background: transparent;
  outline: none;
  cursor: pointer;

  // Firefox allows setting the color of <options> within a <select>.
  // This prevents color from being inherited from <select>.
  option:not(:disabled) {
    color: $sage-body-font-color;
  }

  // The <select> is set as [required] & therefore is invalid when the value
  // is empty, we're mapping :invalid to "empty" for more legible code.
  $empty: "invalid";

  &:focus:#{$empty},
  &:hover:#{$empty} {
    border-color: $-sage-selectfield-border-color-hover;
  }

  &:hover {
    ~ .sage-select__arrow::before {
      color: $-sage-selectfield-color-success;
    }
  }

  &:not(:#{$empty}) {
    color: $-sage-selectfield-color-default;
    border-color: $-sage-selectfield-color-success;
    box-shadow: $-sage-selectfield-border-box-shadow-size $-sage-selectfield-color-success;

    ~ .sage-select__label {
      @extend %sage-select__label--active;
    }
  }

  &:#{$empty} {
    ~ .sage-select__label {
      @extend %sage-select__label--inactive;
    }
  }

  .sage-select--error &,
  .sage-select--error &:#{$empty} {
    border-color: $-sage-selectfield-color-error;
    box-shadow: $-sage-selectfield-border-box-shadow-size $-sage-selectfield-color-error;

    ~ .sage-select__arrow::before {
      color: $-sage-selectfield-color-error;
    }

    ~ .sage-select__label {
      color: $-sage-selectfield-color-error;
    }
  }
}

.sage-select__message {
  @extend %t-sage-body-small;

  .sage-select--error & {
    color: $-sage-selectfield-color-error;
  }
}
