<div class="sage-live-stream-wrapper sage-live-stream-wrapper--awake">
  <%= render "sage/examples/objects/live_stream_header/markup",
    isAwake: true,
    isRecording: true,
    title: 'Q&A w/ Lilly Jones',
    runningTime: '00:32:13'
  %>
  <%= render "sage/examples/objects/live_stream_video_grid/markup",
    videos: [
      {
        initials: 'CJ',
        avatarURL: '',
        color: '',
      },
      {
        initials: 'CM',
        avatarURL: 'sage/avatar/court.png',
        color: '',
      },
      {
        initials: 'PJ',
        avatarURL: 'sage/avatar/phil.png',
        color: 'red',
      },
      {
        initials: 'JJ',
        avatarURL: '',
        color: 'sage',
      },
    ]
  %>
  <%= render "sage/examples/objects/live_stream_footer/markup",
    isAwake: true
  %>
</div>