<div class="sage-live-stream-video-grid sage-live-stream-video-grid--3-up">
  <div class="sage-live-stream-video-grid__tile">
    <img src="https://source.unsplash.com/random/1000x800" class="sage-live-stream-video-grid__video" />
  </div>
  <div class="sage-live-stream-video-grid__tile">
    <img src="https://source.unsplash.com/random/1000x800" class="sage-live-stream-video-grid__video" />
  </div>
  <div class="sage-live-stream-video-grid__tile">
    <img src="https://source.unsplash.com/random/1000x800" class="sage-live-stream-video-grid__video" />
  </div>
</div>