<div class="sage-live-stream-wrapper sage-live-stream-wrapper--awake">
  <div class="sage-live-stream-header">
    <h1 class="sage-live-stream-header__title">
        Q&A w/ Lilly Jones
    </h1>
    <p class="sage-live-stream-header__running-time sage-live-stream-header__running-time--recording">00:32:13</p>
  </div>
  <div class="sage-live-stream-video-grid sage-live-stream-video-grid--5-up">
    <div class="sage-live-stream-video-grid__tile">
      <img src="https://source.unsplash.com/random/780x540" class="sage-live-stream-video-grid__video" />
    </div>
    <div class="sage-live-stream-video-grid__tile">
      <img src="https://source.unsplash.com/random/780x540" class="sage-live-stream-video-grid__video" />
    </div>
    <div class="sage-live-stream-video-grid__tile">
      <img src="https://source.unsplash.com/random/780x540" class="sage-live-stream-video-grid__video" />
    </div>
    <div class="sage-live-stream-video-grid__tile">
      <img src="https://source.unsplash.com/random/780x540" class="sage-live-stream-video-grid__video" />
    </div>
    <div class="sage-live-stream-video-grid__tile">
      <img src="https://source.unsplash.com/random/780x540" class="sage-live-stream-video-grid__video" />
    </div>
  </div>
  <div class="sage-live-stream-footer">
    <div class="sage-live-stream-footer__settings">
      <button class="sage-live-stream-control">
        <i class="sage-live-stream-control__icon sage-icon-gear"></i>
        <span class="visually-hidden">Settings</span>
      </button>
    </div>
    <div class="sage-live-stream-footer__stream-controls">
      <button class="sage-live-stream-control">
        <i class="sage-live-stream-control__icon sage-icon-microphone"></i>
        <span class="visually-hidden">Toggle Microphone</span>
      </button>
      <button class="sage-live-stream-control">
        <i class="sage-live-stream-control__icon sage-icon-video-on"></i>
        <span class="visually-hidden">Toggle Camera</span>
      </button>
      <button class="sage-live-stream-control sage-live-stream-control--inactive">
        <i class="sage-live-stream-control__icon sage-icon-screen-share-on"></i>
        <span class="visually-hidden">Toggle Screen Share</span>
      </button>
      <button class="sage-live-stream-control sage-live-stream-control--start">
        <i class="sage-live-stream-control__icon sage-icon-play"></i>
        <span class="visually-hidden">Toggle Recording</span>
      </button>
    </div>
    <div class="sage-live-stream-footer__chat-controls">
      <button class="sage-live-stream-control sage-live-stream-control--pill" title="Toggle participants panel">
        <i class="sage-live-stream-control__icon sage-icon-users"></i>
        <span class="sage-live-stream-control__label">108</span>
      </button>
      <button class="sage-live-stream-control sage-live-stream-control--pill">
        <i class="sage-live-stream-control__icon sage-icon-conversation"></i>
        <span class="visually-hidden">Toggle Chat</span>
      </button>
    </div>
  </div>
</div>