<tr>
  <td>presenterCount</td>
  <td>
    The layout changes based on the modifier used on the container. 
    <code>--solo</code> is for a single video (value of 1) such as for presenter mode.
    <code>--2-up</code>, <code>--3-up</code>, etc. up to <code>--6-up</code>
    adjusts the grid for particular setups. This should be changed programatically
    based on the number of presenters.
  </td>
  <td>Number</td>
  <td>1</td>
</tr>