<div class="sage-checkbox">
    <input id="c1" type="checkbox">
    <label for="c1">Checkbox</label>
</div>

<div class="sage-checkbox">
    <input id="c2" type="checkbox" disabled>
    <label for="c2">Checkbox disabled</label>
</div>

<div class="sage-checkbox">
    <input id="c3" type="checkbox" checked disabled>
    <label for="c3">Checked disabled</label>
</div>