<!-- Default -->
<div class="sage-checkbox">
    <input id="c1" type="checkbox">
    <label for="c1">Checkbox</label>
</div>
<!-- Checked -->
<div class="sage-checkbox">
    <input id="c2" type="checkbox" checked>
    <label for="c2">Checked</label>
</div>
<!-- Disabled -->
<div class="sage-checkbox">
    <input id="c3" type="checkbox" disabled>
    <label for="c3">Disabled</label>
</div>
<!-- Checked & Disabled -->
<div class="sage-checkbox">
    <input id="c4" type="checkbox" checked disabled>
    <label for="c4">Checked and disabled</label>
</div>