<!-- Default -->
<div class="sage-checkbox">
  <input id="c1" type="checkbox" class="sage-checkbox__input">
  <label for="c1" class="sage-checkbox__label">Checkbox</label>
</div>
<!-- Checked -->
<div class="sage-checkbox">
  <input id="c2" type="checkbox" class="sage-checkbox__input" checked>
  <label for="c2" class="sage-checkbox__label">Checked</label>
</div>
<!-- Disabled -->
<div class="sage-checkbox">
  <input id="c3" type="checkbox" class="sage-checkbox__input" disabled>
  <label for="c3" class="sage-checkbox__label">Disabled</label>
</div>
<!-- Checked & Disabled -->
<div class="sage-checkbox">
  <input id="c4" type="checkbox" class="sage-checkbox__input" checked disabled>
  <label for="c4" class="sage-checkbox__label">Checked and disabled</label>
</div>
<!-- Error -->
<div class="sage-checkbox sage-checkbox--error">
  <input id="c5" type="checkbox" class="sage-checkbox__input">
  <label for="c5" class="sage-checkbox__label">Error</label>
</div>
<!-- Checked & Error -->
<div class="sage-checkbox sage-checkbox--error">
  <input id="c6" type="checkbox" class="sage-checkbox__input" checked>
  <label for="c6" class="sage-checkbox__label">Checked &amp; Error</label>
</div>
