// Reset
@import "sage/vendor/reboot";

// Variables
@import "sage/tokens/color_palette";
@import "sage/tokens/border";
@import "sage/tokens/breakpoints";
@import "sage/tokens/container";
@import "sage/tokens/font_height";
@import "sage/tokens/font_size";
@import "sage/tokens/font_weight";
@import "sage/tokens/shadow";
@import "sage/tokens/sidebar";
@import "sage/tokens/spacing";

// Base Styles
@import "sage/core/animations";
@import "sage/core/typography";

// Layout Styles
@import "sage/layout/container";
@import "sage/layout/document";
@import "sage/layout/grid";
@import "sage/layout/media";

// Elements
@import "sage/patterns/elements/button";

// Components
@import "sage/patterns/components/banner";
@import "sage/patterns/components/panel";

// Modules
@import "sage/patterns/modules/assistant";
@import "sage/patterns/modules/content";
@import "sage/patterns/modules/nav";
@import "sage/patterns/modules/page";
@import "sage/patterns/modules/sidebar";
@import "sage/patterns/modules/stage";
