// Variables
@import "sage/tokens/color_palette";
@import "sage/tokens/border";
@import "sage/tokens/breakpoints";
@import "sage/tokens/container";
@import "sage/tokens/font_height";
@import "sage/tokens/font_size";
@import "sage/tokens/font_weight";
@import "sage/tokens/shadow";
@import "sage/tokens/sidebar";
@import "sage/tokens/spacing";

// Colors Blocks
@import "sage_docs/colors";
// Code Examples
@import "sage_docs/code";
// Grid Examples
@import "sage_docs/grid";
// Token Blocks
@import "sage_docs/token";
// Examples
@import "sage_docs/example";
// Theme
@import "sage_docs/theme";