<span class="sage-label sage-label--draft">Draft</span>
<span class="sage-label sage-label--success">Success</span>
<span class="sage-label sage-label--warning">Warning</span>
<span class="sage-label sage-label--danger">Danger</span>

<br>

<span class="sage-label sage-label--subtle sage-label--draft">Draft</span>
<span class="sage-label sage-label--subtle sage-label--success">Success</span>
<span class="sage-label sage-label--subtle sage-label--warning">Warning</span>
<span class="sage-label sage-label--subtle sage-label--danger">Danger</span>