<span class="sage-label sage-label--draft">Draft</span>
<span class="sage-label sage-label--success">Success</span>
<span class="sage-label sage-label--warning">Warning</span>
<span class="sage-label sage-label--danger">Danger</span>

<br>

<span class="sage-label-subtle sage-label--draft">Draft</span>
<span class="sage-label-subtle sage-label--success">Success</span>
<span class="sage-label-subtle sage-label--warning">Warning</span>
<span class="sage-label-subtle sage-label--danger">Danger</span>

<br><br>

<button class="sage-btn sage-btn--primary">Primary Button <span class="sage-label sage-label--draft">1</span></button>
<button class="sage-btn sage-btn--secondary">Secondary Button <span class="sage-label-subtle sage-label--danger">2</span></button>

<br>

<h1 class="t-sage-heading-1">Lorem ipsum dolor sit <span class="sage-label sage-label--draft">New</span></h1>
<h2 class="t-sage-heading-2">Lorem ipsum dolor sit <span class="sage-label sage-label--success">New</span></h2>
<h3 class="t-sage-heading-3">Lorem ipsum dolor sit <span class="sage-label-subtle sage-label--warning">New</span></h3>
<h4 class="t-sage-heading-4">Lorem ipsum dolor sit <span class="sage-label-subtle sage-label--danger">New</span></h4>