<div class="sage-dropdown" role="dropdown" aria-label="Participant options">
  <ul class="sage-dropdown__container">
    <% options.each do |option| %>
      <li role="none" class="sage-dropdown__item">
        <button role="menuitem" class="
          sage-dropdown__command
          <% option[:modifiers].each do |m| %>
            <%= "sage-dropdown__command--#{m}" %>
          <% end %>
        ">
          <%= option[:label] %>
        </button>
      </li>
    <% end %>
  </ul>
</div>
