<div class="sage-btn" data-js-dropdown>
  Add An Element
  <%= render "examples/objects/dropdown/markup",
    options: [
      {
        label: "Edit",
        modifiers: ["icon-pen"]
      },
      {
        label: "New",
        modifiers: ["icon-add"]
      },
      {
        label: "Option 1",
        modifiers: []
      },
      {
        label: "Option 2",
        modifiers: []
      },
      {
        label: "Option 3",
        modifiers: []
      },
      {
        label: "Share",
        modifiers: ["icon-arrow-right"]
      },
      {
        label: "Take A Dangerous Action",
        modifiers: ["danger", "icon-remove-circle"]
      }
    ]
  %>
</div>
