<div class="sage-live-option-menu-anchor">
  <ul class="sage-live-option-menu is-active">
    <li class="sage-live-option-menu__item">
      <button class="sage-live-option-menu__command">
        Turn on sharing permissions
      </button>
    </li>
    <li class="sage-live-option-menu__item">
      <button class="sage-live-option-menu__command sage-live-option-menu__command--danger">
        Remove participant
      </button>
    </li>
  </ul>
</div>
