<div class="sage-row">
  <div class="sage-col--md-6">
    <div class="sage-card">
      <img class="sage-card__img" src="/assets/sage/card/card-placeholder-lg.png" alt="">
      <div class="sage-card__body">
        <h2 class="sage-card__title t-sage-heading-5">Card w/ Image</h2>
        <p class="sage-card__text">Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.</p>
        <button class="sage-btn sage-btn--primary">Primary Button</button>
      </div>
    </div>
  </div>
  <div class="sage-col--md-6">
    <div class="sage-card">
      <img class="sage-card__img" src="/assets/sage/card/card-placeholder-lg.png" alt="">
      <div class="sage-card__body">
        <h2 class="sage-card__title t-sage-heading-5">Card w/ Image</h2>
        <p class="sage-card__text">Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.</p>
        <button class="sage-btn sage-btn--secondary">Secondary Button</button>
      </div>
    </div>
  </div>
  <div class="sage-col--md-12">
    <div class="sage-card sage-card--compact">
      <img class="sage-card__img" src="/assets/sage/card/card-placeholder-sm.png" alt="">
      <div class="sage-card__body">
        <h2 class="sage-card__title t-sage-heading-5">Compact Card w/ Image</h2>
        <p class="sage-card__text">Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.</p>
        <button class="sage-btn sage-btn--primary">Primary Button</button>
      </div>
    </div>
    <div class="sage-card sage-card--compact">
      <img class="sage-card__img" src="/assets/sage/card/card-placeholder-sm.png" alt="">
      <div class="sage-card__body">
        <h2 class="sage-card__title t-sage-heading-5">Compact Card w/ Image</h2>
        <p class="sage-card__text">Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.</p>
        <button class="sage-btn sage-btn--secondary">Secondary Button</button>
      </div>
    </div>
  </div>
  <div class="sage-col--md-6">
    <div class="sage-card sage-card--spaced">
      <img class="sage-card__img" src="/assets/sage/card/card-placeholder-lg.png" alt="">
      <div class="sage-card__body">
        <h2 class="sage-card__title t-sage-heading-5">Spaced Card w/ Image</h2>
        <p class="sage-card__text">Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.</p>
        <button class="sage-btn sage-btn--primary">Primary Button</button>
      </div>
    </div>
  </div>
  <div class="sage-col--md-6">
    <div class="sage-card sage-card--spaced">
      <img class="sage-card__img" src="/assets/sage/card/card-placeholder-lg.png" alt="">
      <div class="sage-card__body">
        <h2 class="sage-card__title t-sage-heading-5">Spaced Card w/ Image</h2>
        <p class="sage-card__text">Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.</p>
        <button class="sage-btn sage-btn--secondary">Secondary Button</button>
      </div>
    </div>
  </div>
  <div class="sage-col--md-12">
    <div class="sage-card sage-card--compact sage-card--spaced">
      <img class="sage-card__img" src="/assets/sage/card/card-placeholder-sm.png" alt="">
      <div class="sage-card__body">
        <h2 class="sage-card__title t-sage-heading-5">Spaced &amp; Compact w/ Image</h2>
        <p class="sage-card__text">Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.</p>
        <button class="sage-btn sage-btn--primary">Primary Button</button>
      </div>
    </div>
  </div>
  <div class="sage-col--md-12">
    <div class="sage-card sage-card--compact sage-card--spaced">
      <img class="sage-card__img" src="/assets/sage/card/card-placeholder-sm.png" alt="">
      <div class="sage-card__body">
        <h2 class="sage-card__title t-sage-heading-5">Spaced &amp; Compact w/ Image</h2>
        <p class="sage-card__text">Diam in auctor sit quam laoreet imperdiet aliquam. Habitant nunc lacus semper lacus, nec a, sit enim.</p>
        <button class="sage-btn sage-btn--secondary">Secondary Button</button>
      </div>
    </div>
  </div>
  <div class="sage-col--md-6">
    <div class="sage-card">
      <div class="sage-card__body">
        <h2 class="sage-card__title t-sage-heading-5">Card w/ No Image</h2>
        <p class="sage-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nobis perferendis soluta illum dicta.</p>
        <button class="sage-btn sage-btn--primary">Primary Button</button>
      </div>
    </div>
  </div>
  <div class="sage-col--md-6">
    <div class="sage-card">
      <div class="sage-card__body">
        <h2 class="sage-card__title t-sage-heading-5">Card w/ No Image</h2>
        <p class="sage-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nobis perferendis soluta illum dicta.</p>
        <button class="sage-btn sage-btn--secondary">Primary Button</button>
      </div>
    </div>
  </div>
</div>
