<!-- Awake -->
<div class="sage-live-stream-wrapper sage-live-stream-wrapper--awake">
    <div class="sage-live-stream-footer">
        <div class="sage-live-stream-footer__settings">
            <button class="sage-live-stream-control">
                <i class="sage-live-stream-control__icon sage-icon-gear"></i>
                <span class="visually-hidden">Settings</span>
            </button>
        </div>
        <div class="sage-live-stream-footer__stream-controls">
            <button class="sage-live-stream-control">
                <i class="sage-live-stream-control__icon sage-icon-microphone"></i>
                <span class="visually-hidden">Settings</span>
            </button>
            <button class="sage-live-stream-control">
                <i class="sage-live-stream-control__icon sage-icon-video-on"></i>
                <span class="visually-hidden">Settings</span>
            </button>
            <button class="sage-live-stream-control sage-live-stream-control--inactive">
                <i class="sage-live-stream-control__icon sage-icon-screen-share-on"></i>
                <span class="visually-hidden">Settings</span>
            </button>
            <button class="sage-live-stream-control sage-live-stream-control--start">
                <i class="sage-live-stream-control__icon sage-icon-play"></i>
                <span class="visually-hidden">Settings</span>
            <?button>
        </div>
        <div class="sage-live-stream-footer__chat-controls">
            <button class="sage-live-stream-control sage-live-stream-control--pill" title="Toggle participants panel">
                <i class="sage-live-stream-control__icon sage-icon-users"></i>
                <span class="sage-live-stream-control__label">108</span>
            </button>
            <button class="sage-live-stream-control sage-live-stream-control--pill">
                <i class="sage-live-stream-control__icon sage-icon-users"></i>
                <span class="visually-hidden">Messages</span>
            </button>
        </div>
    </div>
</div>

<!-- Constant -->
<div class="sage-live-stream-wrapper">
    <div class="sage-live-stream-footer">

        <div class="sage-live-stream-footer__chat-controls">
            <button class="sage-live-stream-control sage-live-stream-control--flat sage-live-stream-control--pill" title="Toggle participants panel">
                <i class="sage-live-stream-control__icon sage-icon-users"></i>
                <span class="sage-live-stream-control__label">108</span>
            </button>
            <button class="sage-live-stream-control sage-live-stream-control--flat sage-live-stream-control--pill">
                <i class="sage-live-stream-control__icon sage-icon-users"></i>
                <span class="visually-hidden">Messages</span>
            </button>
        </div>
    </div>
</div>