<h3 class="t-sage-heading-6">Responsive table</h3>
<div class="sage-table-wrapper">
  <div class="sage-table-wrapper__overflow">
    <table class="sage-table">
      <caption>Responsive table requires two parent containers</caption>
      <thead>
        <tr>
          <td>Cras Porta</td>
          <td>Dapibus Ridiculus</td>
          <td>Purus</td>
          <td>Mollis</td>
          <td>Ridiculus</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Venenatis Condimentum</td>
          <td>Ridiculus</td>
          <td>Sem Elit</td>
          <td>Nibh Aenean</td>
          <td>Sem Elit</td>
        </tr>
        <tr>
          <td>Nullam Porta</td>
          <td>Adipiscing Ligula</td>
          <td>Euismod Etiam</td>
          <td>Malesuada</td>
          <td>Etiam</td>
        </tr>
        <tr>
          <td>Ridiculus</td>
          <td>Cras Malesuada</td>
          <td>Commodo</td>
          <td>Cursus Pharetra</td>
          <td>Fringilla</td>
        </tr>
        <tr>
          <td>Pharetra Mattis</td>
          <td>Magna</td>
          <td>Elit Inceptos</td>
          <td>Cursus Pharetra</td>
          <td>Dolor Fringilla</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3 class="t-sage-heading-6">Table with row striping</h3>
<div class="sage-table-wrapper">
  <div class="sage-table-wrapper__overflow">
    <table class="sage-table sage-table--striped">
      <thead>
        <tr>
          <td>Consectetur</td>
          <td>Dapibus Ridiculus</td>
          <td>Ullamcorper</td>
          <td>Porta</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Nullam Porta</td>
          <td>Adipiscing Ligula</td>
          <td>Euismod Etiam</td>
          <td>Malesuada</td>
        </tr>
        <tr>
          <td>Sollicitudin Ridiculus</td>
          <td>Cras Malesuada</td>
          <td>Commodo</td>
          <td>Nibh Aenean</td>
        </tr>
        <tr>
          <td>Venenatis Condimentum</td>
          <td>Ridiculus</td>
          <td>Sem Elit</td>
          <td>Quam Dapibus</td>
        </tr>
        <tr>
          <td>Consectetur</td>
          <td>Dapibus Ridiculus</td>
          <td>Ullamcorper</td>
          <td>Porta</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

