<!-- Danger button -->
<button class="sage-btn sage-btn--danger">Danger Button</button>
<!-- Danger button -->
<a href="#" class="sage-btn sage-btn--danger">Danger Button (link)</a>
<br>

<!-- Danger button disabled -->
<button class="sage-btn sage-btn--danger" disabled>Danger (disabled)</button>
<!-- Danger button (link) disabled -->
<a href="#" class="sage-btn sage-btn--danger disabled" aria-disabled="true">Danger (link, disabled)</a>
<br>
