<div class="sage-assistant">
  <%- if menu_button -%>
    <button class="sage-menubutton" aria-expanded="false" aria-controls="sage-sidebar-menu" data-js-btn-target="sage-sidebar-menu" data-js-target-type="sidebar">
      <span class="sage-menubutton__bar"></span><span class="sage-menubutton__bar"></span><span class="sage-menubutton__bar"></span>
      <span class="visually-hidden">Toggle main menu</span>
    </button>
  <%- end -%>
  <%= image_pack_tag("docs/sage.svg", class: "sage-assistant__branding")%>
  <div class="sage-assistant__body">
  </div>
  <div class="sage-assistant__actions">
    <%= link_to "💎 Gem: v#{$SAGE_VERSION_GEM}",
      $SAGE_VERSION_URL,
      class: "sage-label sage-label--draft",
      target: "_blank",
      rel: "noopener noreferrer"
    %>
    <%= link_to "📦 Package: v#{$SAGE_VERSION_GEM}",
      $SAGE_VERSION_URL,
      class: "sage-label sage-label--draft",
      target: "_blank",
      rel: "noopener noreferrer"
    %>
    <%= link_to "Changelog", "https://github.com/Kajabi/sage/releases",
      class: "sage-btn sage-btn--small sage-btn--secondary",
      target: "_blank",
      rel: "noopener noreferrer"
    %>
  </div>
</div>
