<%= content_for :sidebar_objects do %>
  <% sorted_sage_objects.each do |object| %>
    <li>
      <%= link_to object[:title].titleize,
        pages_object_path(object[:title]),
        class: "
          sage-nav__link
          #{"sage-nav__link--active" if current_page?(action: :object, title: object[:title])}
          sage-nav__link--sub
        "
      %>
    </li>
  <% end %>
<% end %>
