<%= content_for :sidebar_elements do %>
  <% sorted_sage_elements.each do |element| %>
    <li>
      <%= link_to pages_element_url(title: element[:title], description: element[:description]), class: "sage-nav__link #{current? "sage-nav__link--active", pages_element_url(title: element[:title], description: element[:description])} sage-nav__link--sub" do %><%= element[:title].titleize %><% end %>
    </li>
  <% end %>
<% end %>
