<%= content_for :sidebar_elements do %>
  <% sorted_sage_elements.each do |element| %>
    <li>
      <%= link_to element[:title].titleize,
        pages_element_path(element[:title]),
        class: "
          sage-nav__link
          #{"sage-nav__link--active" if current_page?(action: :element, title: element[:title])}
          sage-nav__link--sub
        "
      %>
    </li>
  <% end %>
<% end %>
