<div class="sage-panel">
  <div class="sage-media">
    <div class="sage-media-body">
      <%= render partial: "sage/application/itemtitle", object: title, as: 'itemtitle' =%>
    </div>
    <%= link_to pages_component_url(title: title), target: "_blank", class: "example__link" do %>
      <i class="sage-icon sage-icon-launch-app"></i>
    <% end %>
  </div>
  <h6 class="example__label">Preview</h6>
  <div class="example__preview">
    <%= render "sage/examples/components/#{title}/preview" %>
  </div>
  <h6 class="example__label">Code</h6>
  <div class="example__code">
    <pre class="prettyprint"><code><%= CGI.unescapeHTML(CGI.escapeHTML render "sage/examples/components/#{title}/preview") %></code></pre>
  </div>
</div>
