<div class="sage-system-alert sage-system-alert--danger sage-system-alert--dismissable">
  <div class="sage-system-alert__wrapper">
    <p class="sage-system-alert__text">App outage tonight at 12am</p>
    <div class="sage-system-alert__action"></div>
  </div>
</div>
