/* ==================================================
  ** .sage-alert
  type: object

================================================== */

$-alert-padding: sage-spacing() sage-spacing(sm);
$-alert-border-style: sage-spacing(2xs) solid;
$-alert-radius: sage-border(radius);
$-alert-close-button-size: rem(42px);
$-alert-transition-height: rem(-3px);

$-alert-colors: (
  info: primary,
  success: sage,
  warning: yellow,
  danger: red,
);

.sage-alert {
  display: flex;
  position: relative;
  margin-bottom: sage-spacing();
  padding: $-alert-padding;
  background: sage-color(gray, 200);
  border-top: $-alert-border-style currentColor;
  border-bottom-left-radius: $-alert-radius;
  border-bottom-right-radius: $-alert-radius;
  box-shadow: sage-shadow();
  transition: transform 0.3s ease-out, opacity 0.2s ease-in;
}

.sage-alert--hidden {
  transform-origin: top center;
  transform: translateY(#{$-alert-transition-height});
  opacity: 0;
}

@each $name, $color in $-alert-colors {
  .sage-alert--#{$name} {
    border-color: sage-color($color);
    background: sage-color($color, 100);
  }
}

.sage-alert__content {
  flex-grow: 1;
}

.sage-alert__title {
  color: sage-color(charcoal, 500);
  @extend %t-sage-body-semi;

  @each $name, $color in $-alert-colors {
    .sage-alert--#{$name} & {
      color: sage-color($color, 500);
    }
  }
}

.sage-alert__text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sage-alert__desc {
  color: sage-color(charcoal, 400);
  @extend %t-sage-body-small;

  @each $name, $color in $-alert-colors {
    .sage-alert--#{$name} & {
      color: sage-color($color, 400);
    }
  }
}

.sage-alert__icon {
  flex: 0 0 2rem;
  transform: translateY(rem(2px));
  color: sage-color(charcoal, 200);

  @each $name, $color in $-alert-colors {
    .sage-alert--#{$name} & {
      color: sage-color($color, 300);
    }
  }
}

.sage-alert__close {
  @include button-style-reset();
  flex: 0 0 $-alert-close-button-size;
  height: $-alert-close-button-size;
  width: $-alert-close-button-size;
  padding: 0;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
  }

  @each $name, $color in $-alert-colors {
    .sage-alert--#{$name} & {
      color: sage-color($color, 400);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .sage-alert {
    transition-duration: 0.001s;
  }
}
