/* ==================================================
  ** banner
  type: object

================================================== */

$-banner-colors: (
  default: primary,
  success: sage,
  warning: orange,
  danger: red
);

.sage-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: -$sage-global-banner-height;
  height: $sage-global-banner-height;
  width: 100%;
  padding: sage-spacing(xs) sage-spacing(sm);
}

@each $name, $color in $-banner-colors {
  .sage-banner--#{$name} {
    color: sage-color(white);
    background: sage-color($color, 300);
  }
}

.sage-banner__content {
  flex: 1;
}

.sage-banner__text {
  @extend %t-sage-body-semi;
  color: inherit;
}

.sage-banner__close {
  padding: sage-spacing(2xs);
  margin: 0;
  color: sage-color(grey, 200);
  border-radius: sage-border(radius-round);
  box-shadow: none;
}
