/* ==================================================
  ** billboard
  type: object

================================================== */

$-billboard-background-color: sage-color(primary, 500);
$-billboard-text-color: #fff;
$-billboard-spacing: sage-spacing(lg);
$-billboard-title-spacing: sage-spacing(sm);

.sage-billboard {
  display: flex;
  height: 100%;
  background: $-billboard-background-color;
  padding: $-billboard-spacing;
}

.sage-billboard__content {
  align-self: flex-end;
} 

.sage-billboard__title {
  @extend %t-sage-heading-5;
  color: $-billboard-text-color;
  margin-bottom: $-billboard-title-spacing;
}

.sage-billboard__copy {
  @extend %t-sage-body;
  color: $-billboard-text-color;
}