/* ==================================================
  ** card
  type: object


================================================== */

$sage-card-shadow: sage-shadow(sm);
$sage-card-radius: sage-border(radius);
$sage-card-spacing: sage-spacing(md);
$sage-card-text-color: sage-color(charcoal, 200);

// sage-card
.sage-card {
  margin: 0 0 rem(32px) 0;
  border-radius: $sage-card-radius;
  box-shadow: $sage-card-shadow;
  &__title {
    margin: 0 0 rem(16px) 0;
    word-wrap: break-word;
  }
  &__text {
    margin-bottom: rem(16px);
    color: $sage-card-text-color;
    word-wrap: break-word;
  }
  .sage-card-body {
    padding: $sage-card-spacing;
    :last-child {
      margin: 0;
    }
  }
}
.sage-card-img {
  width: 100%;
  border-radius: $sage-card-radius $sage-card-radius 0 0;
}

// compact card
.sage-card--compact {
  display: flex;
  flex: none;
  flex-direction: row;
  .sage-card-body {
    padding: $sage-card-spacing;
  }
  .sage-card-img {
    max-width: rem(216px);
    height: auto;
    border-radius: $sage-card-radius 0 0 $sage-card-radius;
  }
  &.sage-card--spaced {
    .sage-card-body {
      align-items: center;
      justify-content: center;
      padding: 0 $sage-card-spacing;
    }
    .sage-card-img {
      width: 100%;
      max-width: rem(180px);
      margin: 0;
    }
  }
}

// spaced card
.sage-card--spaced {
  align-items: center;
  padding: $sage-card-spacing;
  .sage-card-body {
    padding: 0;
  }
  .sage-card-img {
    height: 100%;
    margin: 0 0 $sage-card-spacing 0;
    border-radius: $sage-card-radius;
  }
}

@media (max-width: sage-breakpoint()) {
  .sage-card {
    &__text {
      line-height: sage-line-height(md);
    }
  }
  .sage-card--compact {
    flex-wrap: wrap;
    .sage-card-img {
      width: 100%;
      max-width: 100%;
      border-radius: $sage-card-radius $sage-card-radius 0 0;
    }
    &.sage-card--spaced {
      .sage-card-body {
        padding: $sage-card-spacing 0 0 0;
      }
      .sage-card-img {
        width: 100%;
        max-width: 100%;
        border-radius: $sage-card-radius;
      }
    }
  }
}
