/* ==================================================
  ** _form_section.scss
  type: object

================================================== */

.sage-form_section {
  @include sage-row();
  margin-bottom: sage-spacing();

  // TODO: refactor extends following final design of form section
  &__info {
    @extend .sage-col--md-4;
  }

  &__title {
    margin-bottom: sage-spacing(xs);
  }

  &__subtitle {
    color: sage-color(charcoal, 200);
  }

  &__content {
    @extend .sage-col--md-8;
  }

  &__panel {
    @extend .sage-panel;
  }
}
