/* ==================================================
  ** _form_section.scss
  type: object

================================================== */

.sage-form_section {
  @include sage-row();
  margin-bottom: sage-spacing();
}

// TODO: refactor extends following final design of form section
.sage-form_section__info {
  @extend .sage-col--md-4;
}

.sage-form_section__title {
  margin-bottom: sage-spacing(xs);
}

.sage-form_section__subtitle {
  color: sage-color(charcoal, 200);
}

.sage-form_section__content {
  @extend .sage-col--md-8;
}

.sage-form_section__panel {
  @extend .sage-panel;
}
