/* ==================================================
  ** input group
  type: object

================================================== */

$-pw-field-button-size: 1.75rem;
$-pw-field-button-offset: 0.75rem;
$-pw-field-button-color-text: sage-color(grey, 400);
$-pw-field-button-color-text-hover: sage-color(charcoal, 100);
$-pw-field-button-outline: 1px dotted sage-color(grey, 300);
$-pw-font-size-sm: sage-font-size(sm);


.sage-input-group {
  position: relative;
}

.sage-input-group__button {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;

  &::before {
    margin-right: 0;
  }
}

.sage-input-group__toggle {
  @include button-style-reset;

  right: $-pw-field-button-offset;
  min-width: 1em;
  color: $-pw-field-button-color-text;
  border: 0;
  transition: 0.1s ease-in;
  transition-property: color, opacity;
  opacity: 0;

  &:hover,
  &:focus,
  &:active {
    color: $-pw-field-button-color-text-hover;
    opacity: 1;
  }

  .sage-input-group:focus-within & {
    opacity: 1;
  }

  &:focus,
  &:active {
    outline: $-pw-field-button-outline;
  }
}
