/* ==================================================
  ** live_stream_video_grid
  type: object

================================================== */

$-live-stream-video-tile-ratio: 0.69;
$-live-stream-tile-gapper: calc(100% / 6);

// Default is for 3 or more participants
.sage-live-stream-video-grid {
  display: grid;
  position: relative;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: sage-spacing(lg);
  width: 100%;
  height: 100%;
  padding: 0 sage-spacing(md);
  background-color: sage-color(charcoal, 500);
}

.sage-live-stream-video-grid--2-up {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "t1 t2";
}

.sage-live-stream-video-grid--3-up {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    ".  t1 t1 . "
    "t2 t2 t3 t3";
}

.sage-live-stream-video-grid--4-up {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "t1 t1 t2 t2"
    "t3 t3 t4 t4";
}

.sage-live-stream-video-grid--5-up {
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    ".  t1 t1 t2 t2 . "
    "t3 t3 t4 t4 t5 t5";
}

.sage-live-stream-video-grid--6-up {
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "t1 t1 t2 t2 t3 t3"
    "t4 t4 t5 t5 t6 t6";
}

.sage-live-stream-video-grid--solo {
  display: block;
  position: absolute;
  z-index: sage-z-index(default, 1);
  padding: 0;
  margin: 0;

  @include position-full;
}

.sage-live-stream-video-grid__tile {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  border-radius: rem(4px);
  
  @for $i from 1 to 6 {
    &:nth-child(#{$i}) {
      grid-area: t#{$i};
    }
  }

  .sage-live-stream-video-grid--solo & {
    width: 100%;
    height: 100%;
  }
}

.sage-live-stream-video-grid__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}