/* ==================================================
  ** live_avatar
  type: object

================================================== */

$-live-avatar-min-size: rem(36px);
$-live-avatar-max-size: rem(128px);
$-live-avatar-ring-transition: $sage-transition;
$-live-avatar-ring-colors: (
  "charcoal",
  "purple",
  "sage",
  "yellow",
  "orange",
  "red"
);

.sage-live-avatar {
  @extend %t-sage-body-small-bold;

  display: inline-block;
  position: relative;
  min-width: $-live-avatar-min-size;
  min-height: $-live-avatar-min-size;
  max-width: $-live-avatar-max-size;
  max-height: $-live-avatar-max-size;
  color: sage-color(primary);

  // Start a transparent border tucked behind the image and smaller
  // so as to create an animation when toggled on.
  &::before {
    $-live-avatar-ring-offset: 0;

    content: "";
    position: absolute;
    border-radius: sage-border(radius-round);
    border: $sage-live-avatar-ring-width solid transparent;
    transition: $-live-avatar-ring-transition;
    transition-property: border-color, top, left, right, bottom;

    @include position-full($-live-avatar-ring-offset);
  }

  // Default initials
  &::after {
    content: attr(data-initials);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: sage-z-index(default, 1);
    color: sage-color(primary);
    border-radius: sage-border(radius-round);
    background-color: sage-color(primary, 100);

    @include position-full(0);
  }

  // Documentation-specific styles
  .sage-live-avatar-wrapper & {
    width: $-live-avatar-min-size;
    height: $-live-avatar-min-size;
    margin-right: sage-spacing();
  }
}

// Documentation-specific styles
.sage-live-avatar-wrapper {
  display: flex;
  margin-bottom: sage-spacing();
}

.sage-live-avatar--ring {
  @include sage-feature-live-avatar-ring();
}

// Set up color variations
@each $color in $-live-avatar-ring-colors {
  .sage-live-avatar--#{$color} {
    $-main-color: sage-color($color);
    $-bg-color: sage-color($color, 100);

    @if ($color == charcoal) {
      $-main-color: sage-color(charcoal, 500);
      $-bg-color: sage-color(grey, 200);
    }

    color: $-main-color;

    &::after {
      color: $-main-color;
      background-color: $-bg-color;
    }

    &.sage-live-avatar--ring {
      @include sage-feature-live-avatar-ring($color);
    }
  }
}

.sage-live-avatar__image {
  position: relative;
  z-index: sage-z-index(default, 2);
  max-width: 100%;
  max-height: 100%;
  border-radius: sage-border(radius-round);
  object-fit: cover;
}
