/* ==================================================
  ** live_stream_control
  type: element



================================================== */

$-live-stream-control-size: rem(40px);
$-live-stream-control-background-color: sage-color(white);
$-live-stream-control-color: sage-color(charcoal, 400);
$-live-stream-control-flat-background-color: transparent;
$-live-stream-control-flat-color: sage-color(grey, 100);
$-live-stream-control-hover-scale: (rem(2px) + $-live-stream-control-size) / $-live-stream-control-size;
$-live-stream-control-icon-size: rem(16px);
$-live-stream-control-inactive-background-color: sage-color(charcoal, 400);
$-live-stream-control-inactive-color: sage-color(grey, 400);
$-live-stream-control-start-background-color: sage-color(sage, 300);
$-live-stream-control-start-color: sage-color(white);
$-live-stream-control-stop-background-color: sage-color(red, 300);
$-live-stream-control-stop-color: sage-color(white);
$-live-stream-control-ring-offset: rem(5px);

.sage-live-stream-control {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  position: relative;
  box-sizing: border-box;
  height: $-live-stream-control-size;
  padding: 0;
  color: $-live-stream-control-color;
  border: 1px solid transparent;
  border-radius: sage-border(radius-round);
  background-color: $-live-stream-control-background-color;
  transition: $sage-transition;
  transition-property: background-color, color;
  
  &::after {
    content: "";
    position: absolute;
    transform: scale(0.8);
    border-radius: sage-border(radius-round);
    border: 1px solid $-live-stream-control-background-color;
    transition: $sage-transition;
    transition-property: opacity, transform;
    opacity: 0;

    @include position-full(-$-live-stream-control-ring-offset);
  }
  
  &:hover {
    transform: scale($-live-stream-control-hover-scale);
  }

  &:active,
  &:focus {
    outline: none;

    &::after {
      transform: scale(1);
      opacity: 1;
    }
  }

  &:not(.sage-live-stream-control--flat) {
    box-shadow: sage-shadow(md);
  }

  &:not(.sage-live-stream-control--pill) {
    width: $-live-stream-control-size;
  }

  .sage-live-stream-demo-wrapper & {
    &:not(:last-child) {
      margin-right: sage-spacing(md);
    }
  }

  .sage-live-stream-footer & {
    &:not(:last-child) {
      margin-right: sage-spacing(sm);
    }
  }
}

.sage-live-stream-control--pill {
  padding: sage-spacing(2xs) sage-spacing(sm);
  border-radius: $-live-stream-control-size / 2;

  &::after {
    border-radius: ($-live-stream-control-size / 2) + $-live-stream-control-ring-offset;
  }
}

.sage-live-stream-control--inactive {
  color: $-live-stream-control-inactive-color;
  background-color: $-live-stream-control-inactive-background-color;

  &:hover {
    color: sage-color(white);
  }

  &::after {
    border-color: $-live-stream-control-inactive-color;
  }
}

.sage-live-stream-control--flat {
  color: $-live-stream-control-flat-color;
  background-color: $-live-stream-control-flat-background-color;
  border: 1px solid currentColor;
}

.sage-live-stream-control--start {
  color: $-live-stream-control-start-color;
  background-color: $-live-stream-control-start-background-color;

  &::after {
    border-color: $-live-stream-control-start-background-color;
  }
}

.sage-live-stream-control--stop {
  color: $-live-stream-control-stop-color;
  background-color: $-live-stream-control-stop-background-color;

  &::after {
    border-color: $-live-stream-control-stop-background-color;
  }
}

.sage-live-stream-control__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $-live-stream-control-icon-size;
  width: $-live-stream-control-icon-size;
}

.sage-live-stream-control__label {
  display: block;
  width: max-content;
  color: currentColor;

  @extend %t-sage-body-small-med;

  .sage-live-stream-control__icon + & {
    margin-left: sage-spacing(2xs);
  }
}

.sage-live-stream-demo-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: sage-spacing(md);
  background-color: sage-color(charcoal, 500);
}
