/* ==================================================
  ** live_avatar
  type: object

================================================== */

$-live-avatar-min-size: rem(36px);
$-live-avatar-max-size: rem(128px);
$-live-avatar-ring-transition: $sage-transition;
$-live-avatar-ring-colors: (
  charcoal: (
    main: sage-color(charcoal, 500),
    bg: sage-color(grey, 200)
  ),
  purple: (
    main: sage-color(purple),
    bg: sage-color(purple, 100)
  ),
  sage: (
    main: sage-color(sage),
    bg: sage-color(sage, 100)
  ),
  yellow: (
    main: sage-color(yellow),
    bg: sage-color(yellow, 100)
  ),
  orange: (
    main: sage-color(orange),
    bg: sage-color(orange, 100)
  ),
  red: (
    main: sage-color(red),
    bg: sage-color(red, 100)
  )
);
$-live-avatar-tile-size: rem(216px);

.sage-live-avatar {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "full";
  align-items: center;
  justify-items: center;
  position: relative;
  width: $-live-avatar-min-size;
  height: $-live-avatar-min-size;
  border-radius: sage-border(radius-round);
  background-color: sage-color(primary, 100);

  // Start a transparent border tucked behind the image and smaller
  // so as to create an animation when toggled on.
  &::before {
    $-live-avatar-ring-offset: 0;

    content: "";
    position: absolute;
    border-radius: sage-border(radius-round);
    border: $sage-live-avatar-ring-width solid transparent;
    transition: $-live-avatar-ring-transition;
    transition-property: border-color, top, left, right, bottom;

    @include position-full($-live-avatar-ring-offset);
  }

  // Documentation-specific styles
  .sage-live-avatar-wrapper & {
    margin-right: sage-spacing();
  }
}

// Documentation-specific styles
.sage-live-avatar-wrapper {
  display: flex;
  margin-bottom: sage-spacing();
}

.sage-live-avatar--ring {
  @include sage-feature-live-avatar-ring();
}

.sage-live-avatar--scaling {
  width: 100%;
  height: 100%;
}

.sage-live-avatar--tile {
  padding: sage-spacing(md);
  border-radius: initial;
}

// Set up color variations
@each $color, $settings in $-live-avatar-ring-colors {
  .sage-live-avatar--#{"" + $color} {
    color: map-get($settings, main);
    background-color: map-get($settings, bg);

    &.sage-live-avatar--ring {
      @include sage-feature-live-avatar-ring($color);
    }
  }
}

.sage-live-avatar__initials {
  grid-area: full;
  width: 100%;
  text-align: center;
  color: sage-color(primary);
  fill: sage-color(primary);

  @extend %t-sage-body-small-bold;

  @each $color, $settings in $-live-avatar-ring-colors {
    .sage-live-avatar--#{"" + $color} & {
      color: map-get($settings, main);
      fill: map-get($settings, main);
    }
  }

  .sage-live-avatar--tile & {
    max-width: $-live-avatar-tile-size;
  }
}

.sage-live-avatar__image {
  position: relative;
  z-index: sage-z-index(default, 2);
  grid-area: full;
  width: 100%;
  border-radius: sage-border(radius-round);
  object-fit: cover;

  .sage-live-avatar--tile & {
    max-width: $-live-avatar-tile-size;
    max-height: $-live-avatar-tile-size;
  }
}
