/* ==================================================
  ** live_avatar
  type: object

================================================== */

$-live-avatar-min-size: rem(36px);
$-live-avatar-max-size: rem(128px);
$-live-avatar-ring-transition: $sage-transition;
$-live-avatar-ring-colors: (
  charcoal,
  purple,
  sage,
  yellow,
  orange,
  red
);

.sage-live-avatar {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  grid-template-areas: "full";
  align-items: center;
  justify-content: center;
  position: relative;
  width: $-live-avatar-min-size;
  height: $-live-avatar-min-size;
  border-radius: sage-border(radius-round);
  background-color: sage-color(primary, 100);

  // Start a transparent border tucked behind the image and smaller
  // so as to create an animation when toggled on.
  &::before {
    $-live-avatar-ring-offset: 0;

    content: "";
    position: absolute;
    border-radius: sage-border(radius-round);
    border: $sage-live-avatar-ring-width solid transparent;
    transition: $-live-avatar-ring-transition;
    transition-property: border-color, top, left, right, bottom;

    @include position-full($-live-avatar-ring-offset);
  }

  // Documentation-specific styles
  .sage-live-avatar-wrapper & {
    margin-right: sage-spacing();
  }
}

// Documentation-specific styles
.sage-live-avatar-wrapper {
  display: flex;
  margin-bottom: sage-spacing();
}

.sage-live-avatar--ring {
  @include sage-feature-live-avatar-ring();
}

.sage-live-avatar--scaling {
  width: 100%;
  height: 100%;
}

// Set up color variations
@each $color in $-live-avatar-ring-colors {
  .sage-live-avatar--#{$color} {
    $-main-color: sage-color($color);
    $-bg-color: sage-color($color, 100);

    @if ($color == charcoal) {
      $-main-color: sage-color(charcoal, 500);
      $-bg-color: sage-color(grey, 200);
    }

    color: $-main-color;
    background-color: $-bg-color;

    &.sage-live-avatar--ring {
      @include sage-feature-live-avatar-ring($color);
    }

    .sage-live-avatar__initials {
      color: $-main-color;
      fill: $-main-color;
    }
  }
}

.sage-live-avatar__initials {
  grid-area: full;
  width: 100%;
  text-align: center;
  color: sage-color(primary);
  fill: sage-color(primary);

  @extend %t-sage-body-small-bold;
}

.sage-live-avatar__image {
  position: relative;
  z-index: sage-z-index(default, 2);
  grid-area: full;
  width: 100%;
  height: 100%;
  border-radius: sage-border(radius-round);
  object-fit: cover;
}
