/* ==================================================
  ** live_stream_control
  type: element



================================================== */

$-sage-live-stream-control-size: rem(40px);
$-sage-live-stream-control-background-color: sage-color(white);
$-sage-live-stream-control-color: sage-color(charcoal, 400);
$-sage-live-stream-control-flat-background-color: transparent;
$-sage-live-stream-control-flat-color: sage-color(grey, 100);
$-sage-live-stream-control-hover-scale: (rem(2px) + $-sage-live-stream-control-size) / $-sage-live-stream-control-size;
$-sage-live-stream-control-icon-size: rem(16px);
$-sage-live-stream-control-inactive-background-color: sage-color(charcoal, 400);
$-sage-live-stream-control-inactive-color: sage-color(grey, 400);
$-sage-live-stream-control-start-background-color: sage-color(sage, 300);
$-sage-live-stream-control-start-color: sage-color(white);
$-sage-live-stream-control-stop-background-color: sage-color(red, 300);
$-sage-live-stream-control-stop-color: sage-color(white);

.sage-live-stream-control {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  height: $-sage-live-stream-control-size;
  padding: 0;
  color: $-sage-live-stream-control-color;
  border: 0;
  border-radius: sage-border(radius-round);
  background-color: $-sage-live-stream-control-background-color;
  transition: $sage-transition;
  transition-property: background-color, color;
  
  &:hover {
    transform: scale($-sage-live-stream-control-hover-scale);
  }

  &:not(.sage-live-stream-control--flat) {
    box-shadow: sage-shadow(md);
  }

  &:not(.sage-live-stream-control--pill) {
    width: $-sage-live-stream-control-size;
  }

  .sage-live-stream-demo-wrapper & {
    &:not(:last-child) {
      margin-right: sage-spacing(md);
    }
  }

  .sage-live-stream-footer & {
    &:not(:last-child) {
      margin-right: sage-spacing(sm);
    }
  }
}

.sage-live-stream-control--pill {
  padding: sage-spacing(2xs) sage-spacing(sm);
  border-radius: $-sage-live-stream-control-size / 2;
}

.sage-live-stream-control--inactive {
  color: $-sage-live-stream-control-inactive-color;
  background-color: $-sage-live-stream-control-inactive-background-color;

  &:hover {
    color: sage-color(white);
  }
}

.sage-live-stream-control--flat {
  color: $-sage-live-stream-control-flat-color;
  background-color: $-sage-live-stream-control-flat-background-color;
  border: 1px solid currentColor;
}

.sage-live-stream-control--start {
  color: $-sage-live-stream-control-start-color;
  background-color: $-sage-live-stream-control-start-background-color;
}

.sage-live-stream-control--stop {
  color: $-sage-live-stream-control-stop-color;
  background-color: $-sage-live-stream-control-stop-background-color;
}

.sage-live-stream-control__icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: $-sage-live-stream-control-icon-size;
  width: $-sage-live-stream-control-icon-size;
}

.sage-live-stream-control__label {
  display: block;
  width: max-content;
  color: currentColor;

  @extend %t-sage-body-small-med;

  .sage-live-stream-control__icon + & {
    margin-left: sage-spacing(2xs);
  }
}

.sage-live-stream-demo-wrapper {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: sage-spacing(md);
}
