/* ==================================================
  ** live_stream_footer
  type: object

================================================== */

.sage-live-stream-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: sage-z-index(overlay);
  height: $sage-live-stream-header-footer-height;
  padding: 0 sage-spacing(md);

  .sage-live-stream-wrapper--awake & {
    background: linear-gradient(0deg, $sage-live-stream-wrap-gradient-start, $sage-live-stream-wrap-gradient-end);
  }
}

.sage-live-stream-footer__settings {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 25%;
  min-width: max-content;
  margin-right: auto;
  opacity: 0;
  transition: $sage-transition;
  transition-property: opacity;

  .sage-live-stream-wrapper--awake & {
    opacity: 1;
  }
}

.sage-live-stream-footer__stream-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: max-content;
  padding: 0 sage-spacing(sm);
  opacity: 0;
  transition: $sage-transition;
  transition-property: opacity;

  .sage-live-stream-wrapper--awake & {
    opacity: 1;
  }
} 

.sage-live-stream-footer__chat-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 25%;
  min-width: max-content;
  margin-left: auto;
}
