/* ==================================================
  ** _panel.scss
  type: object

================================================== */

.sage-panel {
  margin-bottom: sage-spacing();
  padding: $sage-panel-padding;
  background: $sage-panel-bg-color;
  border-radius: $sage-panel-border-radius;
  box-shadow: $sage-panel-box-shadow;

  > :last-child {
    margin-bottom: 0;
  }
}

.sage-panel__header {
  margin-bottom: $sage-panel-padding;
}

.sage-panel__body {
  overflow: auto;
}

.sage-panel__footer {
  margin-top: $sage-panel-padding;
}

.sage-panel__title {
  @extend %t-sage-heading-4;
}
