/* ==================================================
  ** _sidebar.scss
  type: object

================================================== */

.sage-sidebar {
  display: flex;
  flex-direction: column;
  z-index: sage-z-index(nav);
  position: fixed;
  top: $sage-assistant-height;
  left: 0;
  transform: translateX(-100%);
  height: calc(100% - #{$sage-assistant-height});
  width: sage-sidebar();
  background: sage-color(grey, 200);
  border-right: sage-border();
  box-shadow: sage-shadow();
  overscroll-behavior-y: contain;
  transition: transform 0.2s ease-out, opacity 0.15s ease-in-out;
  opacity: 0;

  @media (min-width: $sage-sidebar-breakpoint) {
    z-index: sage-z_index();
    position: static;
    transform: none;
    height: auto;
    box-shadow: none;
    transition: none;
    opacity: 1;
  }
}

.sage-sidebar--open {
  transform: none;
  opacity: 1;
}

.sage-sidebar--md {
  width: sage-sidebar(md);
}

.sage-sidebar--lg {
  width: sage-sidebar(lg);
}

.sage-sidebar__body {
  @include overflow-scroll();
  flex: 1;
  padding: sage-spacing();
}

.sage-sidebar__footer {
  padding: sage-spacing();
}
