/* ==================================================
  ** system_alert
  type: object

================================================== */

$-sys-alert-colors: (
  default: charcoal,
  success: sage,
  warning: orange,
  danger: red
);

.sage-system-alert {
  height: $sage-global-banner-height;
  width: 100%;
  padding: sage-spacing(xs) sage-spacing();
}

@each $name, $color in $-sys-alert-colors {
  .sage-system-alert--#{$name} {
    color: sage-color(white);
    border-color: sage-color($color);
    background: sage-color($color, 300);
  }
}

.sage-system-alert--sticky {
  position: fixed;
  left: 0;
  top: -$sage-global-banner-height;
}

.sage-system-alert__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sage-system-alert__text {
  @extend %t-sage-body-semi;
  color: inherit;
}

.sage-system-alert__action {

}
