/* ==================================================
  ** _tabs.scss
  type: object

================================================== */

.sage-tabs {
  display: flex;
  margin-bottom: sage-spacing();
}

.sage-tabs__tab {
  margin-right: sage-spacing();
  color: $sage-tabs-default-color;
  transition: color $sage-tabs-default-transition;

  @extend %t-sage-body-small-semi;

  &:last-of-type {
    margin-right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: $sage-tabs-active-border-height;
    background: $sage-tabs-active-border-color;
    border-radius: $sage-tabs-active-border-radius;
    transition: opacity $sage-tabs-default-transition, transform $sage-tabs-default-transition;
    opacity: 0;
  }
}

.sage-tabs__tab--active {
  position: relative;
  padding-bottom: sage-spacing(xs);
  color: $sage-tabs-active-color;

  &::after {
    opacity: 1;
  }
}
