<ul class="sage-live-profile-cards">
  <!--  Moderator -->
  <li class="sage-live-profile-card">
    <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--ring" data-initials="JL">
      <img src="/assets/sage/avatar/jay.png" class="sage-live-avatar__image" alt="User's name"/>
    </div>
    <div class="sage-live-profile-card__info">
      <p class="sage-live-profile-card__user-name">User name</p>
    </div>
    <div class="sage-live-profile-card__controls">
      <button class="sage-live-profile-card__cam-control sage-live-user-control">
        <i class="sage-live-user-control__icon sage-icon-microphone"></i>
        <span class="visually-hidden">Toggle Microphone</span>
      </button>
      <button class="sage-live-profile-card__mic-control sage-live-user-control">
        <i class="sage-live-user-control__icon sage-icon-video-on"></i>
        <span class="visually-hidden">Toggle Camera</span>
      </button>
      <div class="sage-live-profile-card__options sage-live-option-menu-anchor" aria-has-popup="true" aria-expanded="false">
        <button class="sage-live-user-control sage-live-user-control--inactive">
          <i class="sage-live-user-control__icon sage-icon-3-dot-menu"></i>
          <span class="visually-hidden">More options</span>
        </button>
        <ul class="sage-live-option-menu" role="menu" aria-label="Participant options">
          <li role="none" class="sage-live-option-menu__item">
            <button role="menuitem" class="sage-live-option-menu__command">
              Turn off sharing permissions
            </button>
          </li>
          <li role="none" class="sage-live-option-menu__item">
            <button role="menuitem" class="sage-live-option-menu__command sage-live-option-menu__command--danger">
              Remove participant
            </button>
          </li>
        </ul>
      </div>
    </div>
  </li>

  <!-- Publisher -->
  <li class="sage-live-profile-card">
    <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--ring" data-initials="CJ">
      <img src="/assets/sage/avatar/cj.png" class="sage-live-avatar__image" alt="User's name"/>
    </div>
    <div class="sage-live-profile-card__info">
      <p class="sage-live-profile-card__user-name">User name</p>
      <p class="sage-live-profile-card__user-email">user@example.com</p>
    </div>
    <div class="sage-live-profile-card__controls">
      <button class="sage-live-profile-card__cam-control sage-live-user-control sage-live-user-control--inactive">
        <i class="sage-live-user-control__icon sage-icon-microphone-off"></i>
        <span class="visually-hidden">Toggle Microphone</span>
      </button>
      <button class="sage-live-profile-card__mic-control sage-live-user-control sage-live-user-control--inactive">
        <i class="sage-live-user-control__icon sage-icon-video-on"></i>
        <span class="visually-hidden">Toggle Camera</span>
      </button>
      <div class="sage-live-profile-card__options sage-live-option-menu-anchor" aria-has-popup="true" aria-expanded="false">
        <button class="sage-live-user-control sage-live-user-control--inactive">
          <i class="sage-live-user-control__icon sage-icon-3-dot-menu"></i>
          <span class="visually-hidden">More options</span>
        </button>
        <!-- ... -->
      </div>
    </div>
  </li>
</ul>

<ul class="sage-live-profile-cards">
  <!-- Subscriber -->
  <li class="sage-live-profile-card">
    <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--purple" data-initials="CM"></div>
    <div class="sage-live-profile-card__info">
      <p class="sage-live-profile-card__user-name">User name</p>
      <p class="sage-live-profile-card__user-email">user@example.com</p>
    </div>
    <div class="sage-live-profile-card__controls">
      <div class="sage-live-profile-card__options sage-live-option-menu-anchor" aria-has-popup="true" aria-expanded="false">
        <button class="sage-live-user-control sage-live-user-control--inactive">
          <i class="sage-live-user-control__icon sage-icon-3-dot-menu"></i>
          <span class="visually-hidden">More options</span>
        </button>
        <!-- ... -->
      </div>
    </div>
  </li>
  <li class="sage-live-profile-card">
    <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--sage" data-initials="CM"></div>
    <div class="sage-live-profile-card__info">
      <p class="sage-live-profile-card__user-name">User name</p>
      <p class="sage-live-profile-card__user-email">user@example.com</p>
    </div>
    <div class="sage-live-profile-card__controls">
      <div class="sage-live-profile-card__options sage-live-option-menu-anchor" aria-has-popup="true" aria-expanded="false">
        <button class="sage-live-user-control sage-live-user-control--inactive">
          <i class="sage-live-user-control__icon sage-icon-3-dot-menu"></i>
          <span class="visually-hidden">More options</span>
        </button>
        <!-- ... -->
      </div>
    </div>
  </li>
  <li class="sage-live-profile-card">
    <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--orange" data-initials="CM"></div>
    <div class="sage-live-profile-card__info">
      <p class="sage-live-profile-card__user-name">User name</p>
      <p class="sage-live-profile-card__user-email">user@example.com</p>
    </div>
    <div class="sage-live-profile-card__controls">
      <div class="sage-live-profile-card__options sage-live-option-menu-anchor" aria-has-popup="true" aria-expanded="false">
        <button class="sage-live-user-control sage-live-user-control--inactive">
          <i class="sage-live-user-control__icon sage-icon-3-dot-menu"></i>
          <span class="visually-hidden">More options</span>
        </button>
        <!-- ... -->
      </div>
    </div>
  </li>
  <li class="sage-live-profile-card">
    <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--red" data-initials="CM"></div>
    <div class="sage-live-profile-card__info">
      <p class="sage-live-profile-card__user-name">User name</p>
      <p class="sage-live-profile-card__user-email">user@example.com</p>
    </div>
    <div class="sage-live-profile-card__controls">
      <div class="sage-live-profile-card__options sage-live-option-menu-anchor" aria-has-popup="true" aria-expanded="false">
        <button class="sage-live-user-control sage-live-user-control--inactive">
          <i class="sage-live-user-control__icon sage-icon-3-dot-menu"></i>
          <span class="visually-hidden">More options</span>
        </button>
        <!-- ... -->
      </div>
    </div>
  </li>
</ul>
