<h6>Moderator</h6>
<div class="sage-live-profile-card">
  <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--ring">
    <img src="/assets/sage/avatar/jay.png" class="sage-live-avatar__image" alt="User's name"/>
  </div>
  <div class="sage-live-profile-card__info">
    <p class="sage-live-profile-card__user-name">User name</p>
  </div>
  <div class="sage-live-profile-card__controls">
    <button class="sage-live-profile-card__mic-control sage-live-user-control">
      <i class="sage-live-user-control__icon"></i>
    </button>
    <button class="sage-live-profile-card__cam-control sage-live-user-control">
      <i class="sage-live-user-control__icon"></i>
    </button>
    <button class="sage-live-profile-card__options sage-live-user-control  sage-live-user-control--inactive">
      <i class="sage-live-user-control__icon"></i>
    </button>
  </div>
</div>

<h6>Publisher</h6>
<div class="sage-live-profile-card">
  <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--ring">
    <img src="/assets/sage/avatar/cj.png" class="sage-live-avatar__image" alt="User's name"/>
  </div>
  <div class="sage-live-profile-card__info">
    <p class="sage-live-profile-card__user-name">User name</p>
    <p class="sage-live-profile-card__user-email">user@example.com</p>
  </div>
  <div class="sage-live-profile-card__controls">
    <button class="sage-live-profile-card__mic-control sage-live-user-control">
      <i class="sage-live-user-control__icon"></i>
    </button>
    <button class="sage-live-profile-card__cam-control sage-live-user-control">
      <i class="sage-live-user-control__icon"></i>
    </button>
    <button class="sage-live-profile-card__options sage-live-user-control  sage-live-user-control--inactive">
      <i class="sage-live-user-control__icon"></i>
    </button>
  </div>
</div>

<h6>Subscriber</h6>
<div class="sage-live-profile-card">
  <div class="sage-live-profile-card__avatar sage-live-avatar">
    <img src="/assets/sage/avatar/court.png" class="sage-live-avatar__image" alt="User's name"/>
  </div>
  <div class="sage-live-profile-card__info">
    <p class="sage-live-profile-card__user-name">User name</p>
    <p class="sage-live-profile-card__user-email">user@example.com</p>
  </div>
  <div class="sage-live-profile-card__controls">
    <button class="sage-live-profile-card__mic-control sage-live-user-control">
      <i class="sage-live-user-control__icon"></i>
    </button>
    <button class="sage-live-profile-card__cam-control sage-live-user-control">
      <i class="sage-live-user-control__icon"></i>
    </button>
    <button class="sage-live-profile-card__options sage-live-user-control  sage-live-user-control--inactive">
      <i class="sage-live-user-control__icon"></i>
    </button>
  </div>
</div>
