<p class="t-sage-body-small-semi">Moderator</p>
<div class="sage-live-profile-card">
  <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--ring" data-initials="JL">
    <img src="/assets/sage/avatar/jay.png" class="sage-live-avatar__image" alt="User's name"/>
  </div>
  <div class="sage-live-profile-card__info">
    <p class="sage-live-profile-card__user-name">User name</p>
  </div>
  <div class="sage-live-profile-card__controls">
    <button class="sage-live-profile-card__cam-control sage-live-user-control">
      <i class="sage-live-user-control__icon sage-icon-microphone"></i>
      <span class="visually-hidden">Toggle Microphone</span>
    </button>
    <button class="sage-live-profile-card__mic-control sage-live-user-control">
      <i class="sage-live-user-control__icon sage-icon-video-on"></i>
      <span class="visually-hidden">Toggle Camera</span>
    </button>
    <button class="sage-live-profile-card__options sage-live-user-control sage-live-user-control--inactive">
      <i class="sage-live-user-control__icon sage-icon-3-dot-menu"></i>
      <span class="visually-hidden">More options</span>
    </button>
  </div>
</div>

<p class="t-sage-body-small-semi">Publisher</p>
<div class="sage-live-profile-card">
  <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--ring" data-initials="CJ">
    <img src="/assets/sage/avatar/cj.png" class="sage-live-avatar__image" alt="User's name"/>
  </div>
  <div class="sage-live-profile-card__info">
    <p class="sage-live-profile-card__user-name">User name</p>
    <p class="sage-live-profile-card__user-email">user@example.com</p>
  </div>
  <div class="sage-live-profile-card__controls">
    <button class="sage-live-profile-card__cam-control sage-live-user-control sage-live-user-control--inactive">
      <i class="sage-live-user-control__icon sage-icon-microphone-off"></i>
      <span class="visually-hidden">Toggle Microphone</span>
    </button>
    <button class="sage-live-profile-card__mic-control sage-live-user-control">
      <i class="sage-live-user-control__icon sage-icon-video-on"></i>
      <span class="visually-hidden">Toggle Camera</span>
    </button>
    <button class="sage-live-profile-card__options sage-live-user-control sage-live-user-control--inactive">
      <i class="sage-live-user-control__icon sage-icon-3-dot-menu"></i>
      <span class="visually-hidden">More options</span>
    </button>
  </div>
</div>

<p class="t-sage-body-small-semi">Subscriber</p>
<div class="sage-live-profile-card">
  <div class="sage-live-profile-card__avatar sage-live-avatar sage-live-avatar--purple" data-initials="CM"></div>
  <div class="sage-live-profile-card__info">
    <p class="sage-live-profile-card__user-name">User name</p>
    <p class="sage-live-profile-card__user-email">user@example.com</p>
  </div>
  <div class="sage-live-profile-card__controls">
    <button class="sage-live-profile-card__cam-control sage-live-user-control sage-live-user-control--inactive">
      <i class="sage-live-user-control__icon sage-icon-microphone-off"></i>
      <span class="visually-hidden">Toggle Microphone</span>
    </button>
    <button class="sage-live-profile-card__mic-control sage-live-user-control sage-live-user-control--inactive">
      <i class="sage-live-user-control__icon sage-icon-video-off"></i>
      <span class="visually-hidden">Toggle Camera</span>
    </button>
    <button class="sage-live-profile-card__options sage-live-user-control sage-live-user-control--inactive">
      <i class="sage-live-user-control__icon sage-icon-3-dot-menu"></i>
      <span class="visually-hidden">More options</span>
    </button>
  </div>
</div>
